@import "src/styles/variables";
@import "src/styles/mixins";

.home_hero_block {
  background-color: $cheq-dark;

  @include paddingY(size(24), size(83));

  @include min-medium-screen {
    @include paddingY($m-200, size(62.5));
  }

  .hero-customers {
    @include flex(center, space-between, column);
    padding-bottom: size(61);
    @include min-medium-screen {
      align-items: flex-end;
    }
    @include large-screen {
      flex-direction: row;
      padding-bottom: size(80);
      align-items: center;

    }
  }

  .customers-text {
    @include flexBasis(100%);
    margin-bottom: $m-60;
    @include large-screen {
      @include flexBasis(37.5%);
      margin-bottom: 0;
    }

    .btn-shape {
      padding: size(16) size(27);
    }
  }

  .headline-1, .paragraph {
    margin-bottom: $m-24;
    @include small-screen{
      max-width: size(250);
    }
    @include min-medium-screen {
      margin-bottom: $m-48;
    }
  }

  .paragraph {
    max-width: size(366);
    @include min-medium-screen {
      max-width: 57%;
    }
    @include large-screen {
      max-width: 100%;
    }
  }

  .btn {
    padding: size(16) size(27);
  }

  //shape

  .headerImg_customer_acquisition {
    @include flex(center, space-between);
    @include marginX(auto);
    @include flexBasis(100%);
    @include small-screen {
      min-width: size(366);
      max-width: size(366);
    }
    @include min-medium-screen {
      @include flexBasis(77%);
    }
    @include large-screen {
      @include flexBasis(50%);
      margin: 0;
    }


    svg {
      position: absolute;
      left: size(67);
      top: size(-7);
      z-index: -1;
      width: 58%;
      height: 100%;
      transform-origin: left center;
      @include min-medium-screen {
        left: size(-15);
        top: unset;
        width: 100%;
        height: size(250);
      }

    }
  }

  .btn-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    max-width: size(160);
    min-width: size(160);
    border-radius: size(4);
    line-height: size(14);
    text-align: left;
    padding: size(8);
    @include font(size(14), 600, false, $cheq-white);
    background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    @include min-medium-screen {
      font-size: size(16);
      padding: size(16);
      line-height: size(24);
      border-radius: size(8);
      font-weight: 800;

    }
  }

  .first-step {
    .btn-shape {
      max-width: size(90);
      min-width: size(90);
      background: linear-gradient(90deg, rgba(252, 87, 118, 0.73), #389bff, #72daff) 100% 0;
      background-size: 200% 100%;
      transition: color, background-color, background-position;
      animation: shadow 2.5s infinite ease;
      @include min-medium-screen {
        max-width: size(120);
        min-width: size(120);
      }
    }
  }

  .red-shape {
    animation: fade 2.5s infinite;

  }

  .blue-shape {
    animation: fade2 2.5s infinite;
  }

  .back-lines {
    animation: fade3 2.5s infinite;
  }

  .second-step {
    .btn-shape {
      background: linear-gradient(90deg, #9925cf, #fb578a, #fc5776) 100% 0;
      background-size: 200% 100%;
      transition: color, background-color, background-position;
      animation: gradiant 2.5s infinite;
      @include small-screen {
        max-width: size(91);
        min-width: size(91);
      }

      &:nth-child(2) {
        @include marginY(size(16));
        @include min-medium-screen {
          @include marginY($m-32)
        }
      }
    }
  }

  .last-step {
    .btn-shape {
      background: $cheq-gradient-purple;
      animation: scale 2.5s infinite;
      @include small-screen {
        max-width: size(113);
        min-width: size(113);
      }

      &:nth-child(2) {
        @include marginY(size(12));
        @include min-medium-screen {
          @include marginY($m-24)
        }
      }
    }
  }

  .small-screen {
    display: block;
    @include min-medium-screen {
      display: none;
    }
  }

  .large-screen {
    display: none;
    @include min-medium-screen {
      display: block;
    }
  }

  // logos
  .logos-wrapper {
    @include flex(center, space-between, false, wrap);
    margin-bottom: -$m-32;
    @include small-screen {
      max-width: size(308);
      @include marginX(auto)
    }
    @include min-medium-screen {
      justify-content: space-between;
      margin-bottom: -$m-40;
      padding-top: size(80);
    }


    .aspect-ratio {
      padding-top: 25%;
    }

    .logo {
      margin-bottom: $m-32;
      flex-shrink: 0;
      flex-basis: 41.6%;
      @include min-medium-screen {
        flex-basis: 26%;
        margin-bottom: $m-40;

      }
      @include large-screen {
        flex-basis: 10.01%;
      }
    }

    a {
      &:before {
        display: none;
      }
    }
  }

  @keyframes fade {

    0%, 100% {
      opacity: .8;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes gradiant {
    15% {
      background-position: 100%;
    }
    50% {
      background-position: 0;
    }
    100% {
      background-position: 100%;
    }
  }
  @keyframes fade3 {

    0%, 100% {
      opacity: .8;
    }
    70% {
      opacity: .5;
    }
    90% {
      opacity: .8;
    }
  }
  @keyframes fade2 {

    0%, 100% {
      opacity: .8;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes shadow {

    60% {
      background-position: 70%;

    }
    100% {
      background-position: 100%;
    }
  }
}
