@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.customer_spotlight_block {
  background: $cheq-white;
  @include paddingY(size(80), size(0));
  @include min-medium-screen {
    @include paddingY(size(120), size(100));
  }
  @include large-screen {
    @include paddingY(size(160), size(200));
  }

  .container {
    @include small-screen {
      @include paddingX(0)
    }
  }

  .headline-1 {
    margin-bottom: $m-60;
    @include small-screen {
      margin-left: $m-24;
    }
  }

  .swiper-parent {
    display: flex;
    @include small-screen {
      flex-direction: column;
    }
  }

  .swiper-container {
    @include flexBasis(100%);

    @include min-medium-screen {
      @include flexBasis(60%);
    }
  }

  .left-content {
    @include flexBasis(100%);
    height: auto;
    position: relative;
    @include min-medium-screen {
      @include flexBasis(40%);
    }
    @include large-screen {
      @include flexBasis(size(512));
      min-height: size(512);
    }

    picture {
      max-width: size(300);
      height: size(300);
      @include small-screen {
        height: size(414);
        @include flex(center, center)
      }
    }
  }

  .company-logo {
    @include square(100%);
    //background: #E7772E;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
    @include flex(center, center);
    z-index: 1;
    padding: size(30);

  }

  .active {
    opacity: 1;
    transform: scale(1);
    transition: none;
    z-index: 0;
    @include small-screen {
      position: relative;
    }
  }

  .swiper-pagination {
    position: absolute;
    z-index: 90;
    left: 50%;
    transform: translateX(-50%);
    bottom: $m-40;
  }

  .right-content {
    @include paddingY(size(48), size(60));
    @include paddingX(size(48));
    background: $cheq-white-purple;
    @include flexBasis(100%);
    height: 100%;
    @include min-medium-screen {
      padding: size(48);
    }
    @include large-screen {
      @include flexBasis(size(768));
      min-height: size(512);
    }
  }

  .person-info {
    @include flex(flex-start);
  }

  .person {
    @include flex(center);
    margin-bottom: $m-40;

    picture {
      border-radius: 50%;
      overflow: hidden;

      img {
        border-radius: 50%;
      }
    }
  }

  .about-text {
    margin-left: size(16);
    @include min-medium-screen {
      margin-left: $m-32;
    }
  }

  .quote {
    font-weight: 800;
    font-size: size(56);
    line-height: 100%;
    margin-right: size(8);
  }

  .more-info {
    .paragraph {
      margin-bottom: $m-40;
      font-size: size(24);
      line-height: size(32);
    }
  }

  .headline-4 {
    color: $cheq-dark;
  }


}
