@import "variables";

@font-face {
  font-family: $avenir;
  src: url('fonts/Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: $avenir;
  src: url('fonts/Demi.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: $avenir;
  src: url('fonts/Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
