@import "variables";
@import "mixins";
@import "root";

//region HTML tags
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: $avenir;
  width: 100vw;
}

// region customize html scroll bar
::-webkit-scrollbar {
  display: none;
}

// endregion customize html scroll bar

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  display: block;
}

picture {
  img {
    @include square(100%);
    object-fit: contain;
  }
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

path {
  transition: fill, stroke;
  transition-duration: $duration;
}

//endregion HTML tags

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.hover-arrow {
  .right-arrow, .left-arrow {
    transition: transform $duration;
  }

  &:hover {
    .right-arrow {
      transform: translateX(size(13));
    }

    .left-arrow {
      transform: translateX(size(13));
    }
  }
}

.hover-zoom-child {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }

  > .zoom-in {
    transition: transform 800ms;
  }

  &:hover {
    &:before {
      left: 125%;
    }

    > .zoom-in {
      transform: scale(1.02) !important;
    }
  }
}

.gutter {
  &-0 {
    @include change-gutter(0);
  }

  &--115 {
    @include change-gutter(size(50));
    @include large-screen {
      @include change-gutter(size(115))
    }
  }

  &--115v {
    @include change-gutter(false, size(50));
    @include large-screen {
      @include change-gutter(false, size(115))
    }
  }

  &--98 {
    @include change-gutter(size(76));
    @include large-screen {
      @include change-gutter(size(98));
    }
  }

  &--40 {
    @include change-gutter(size(40));
  }
}

.aspect-ratio {
  position: relative;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-button {
  @include square(size(45));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color, transform, opacity;
  transition-duration: $duration;
  border: 2px solid currentColor;
  color: red;
  @include min-medium-screen {
    @include square(size(68));
  }

  svg {
    //width: size(13);
    //height: size(20);
    width: 20.3%;
    height: 31.41%;
    color: currentColor;
    transition: transform $duration $bouncing;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(&-disabled) {
    &:hover {
      background: currentColor;
      //transform: scale(1.1);

      svg {
        color: $cheq-black;
      }
    }
  }

  &-red {
    background: currentColor;

    path {
      fill: $cheq-white;
    }

    &:not(.swiper-button-disabled) {
      &:hover {
        background: $cheq-white;

        path {
          fill: $cheq-black;
        }
      }
    }
  }
}

.cover-background {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    @include objectImg(cover);
  }
}

.hover-image {
  a {
    position: relative;
    display: block;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: -85%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      transition: left 400ms;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      transform: skewX(-25deg);
    }

    img {
      transition: transform $duration;
    }

    &:hover {

      img {
        transform: scale(1.02);
      }

      &:before {
        left: 125%;
      }
    }
  }
}


.image-link-hover {
  position: relative;
  display: block;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }

  img {
    transition: transform $duration;
  }

  &:hover {

    img {
      transform: scale(1.01);
    }

    &:before {
      left: 125%;
    }
  }
}

.break-line {
  line-height: 0 !important;
  height: size(30) !important;
}

.sprite-sheet {
  visibility: hidden;

  &__parent {
    overflow: hidden;
    height: auto;
  }

  &__aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include square('auto');
  }
}

.load-more-wrapper {
  position: relative;
  transition: opacity 500ms;
  width: 100%;
  margin-top: size(24);
  @include min-medium-screen{
    margin-top: size(48);
  }
  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: $cheq-gradient-main;

      &:nth-child(1) {
        animation: itemsLoader $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        background: $cheq-gradient-red;
        animation: itemsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }

      &:nth-child(3) {
        background: $cheq-gradient-purple;
        animation: itemsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }

  .btn {
    transition: opacity, background;
    transition-duration: $duration;
  }

  &.loading {
    .loader {
      opacity: 1;
    }

    .btn {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0 !important;
    pointer-events: none;
  }
}

.hide {
  &-only-sm {
    @include small-screen {
      display: none !important;
    }
  }

  &-only-md {
    @include medium-screen {
      display: none !important;
    }
  }

  &-only-lg {
    @include large-screen {
      display: none !important;
    }
  }

  &-between-sm-md {
    @include max-medium-screen {
      display: none !important;
    }
  }

  &-between-md-lg {
    @include min-medium-screen {
      display: none !important;
    }
  }
}

.no-posts {
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.active {
    opacity: 1;
    text-align: center;
  }
}

//endregion utility classes

// region custom modal

.custom-model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .custom-model-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    //overflow-y: scroll;
    @include marginX(auto);
    max-width: #{'min(80rem,90%)'};

    .custom-model-wrap {
      width: 100%;
      position: relative;
      background-color: $cheq-white;
      border: size(1) solid $cheq-black;
      border-radius: size(6);
      box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: size(20);
      @include min-medium-screen {
        padding: size(40);
      }
    }
  }

  .close-model {
    position: absolute;
    right: 0;
    bottom: calc(100% + 2rem);
    cursor: pointer;
    z-index: 5;
    transition: transform, opacity;
    transition-duration: $duration;
    background: none;
    padding: 0;
    @include square(size(23));

    svg {
      @include square(100%);
    }

    path {
      fill: $cheq-white;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }

  &.active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
  }
}

// endregion custom modal

//region animations

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

@keyframes itemsLoader {
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

//endregion animations
