:root {
  /* Colors: */
  --cheq-black: #000000;
  --cheq-white: #ffffff;
  --cheq-light-white: #E5E5E5;
  --cheq-dark: #111222;
  --cheq-purple: #3C1C60;
  --cheq-mid-purple: #2D1C43;
  --cheq-dark-purple: #181730;
  --cheq-light-purple: #DDDAEF;
  --cheq-white-purple: #EEF1FA;
  --cheq-gradient-main: linear-gradient(90deg, #9925CF 0%, #FD0173 100%);
  --cheq-gradient-blue: linear-gradient(44.83deg, #389BFF 0%, #72DAFF 100%);
  --cheq-gradient-red: linear-gradient(44.83deg, #FC5776 0%, #FB578A 100%);
  --cheq-gradient-purple: linear-gradient(44.83deg, #8F5CF5 0%, #6633FE 100%);
}
