@import "variables";
@import "mixins";
@import "root";

body {
  background-color: $cheq-white;
  padding-top: size(78);
  letter-spacing: -.2px;
}

.container {
  @include paddingX($m-24);
  @include min-medium-screen {
    @include paddingX($m-80);
  }
  @include large-screen {
    @include paddingX($m-200);
  }
}

.circle-bg {
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    width: 100%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $cheq-purple;
    filter: blur(size(200));
    @include min-medium-screen {
      height: 50%;
    }
  }
}


.gradient-animation {
  transition: background-position .5s ease-in;
}

@keyframes text-gradient {
  from {
    background-position: -50% 0;
  }
  to {
    background-position: 150% 0;
  }
}

.remove-gradient-from-p {
  background: initial !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
}

.text-gradient {
  background: linear-gradient(90deg, #9925cf, #fd0173, #9925cf) 0 0;
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-gradient 7s infinite alternate linear;

  &-red {
    background: linear-gradient(44.83deg, #fd0173, #fc5776, #fd0173) 0 0;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 7s infinite alternate linear;
  }

  &:not(.remove-gradient-from-p) {
    p {
      background: linear-gradient(90deg, #9925cf, #fd0173, #9925cf) 0 0;
      background-size: 200% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: text-gradient 7s infinite alternate linear;
    }
  }
}

.headline-1, .wysiwyg-block h1 {
  @include font(size(32), 800, size(40), $cheq-dark);
  @include min-medium-screen {
    width: fit-content;
    font-size: size(56);
    line-height: size(64);
  }
  @extend .text-gradient;


}

.headline-2, .wysiwyg-block h2 {
  @include font(size(24), 800, size(32), $cheq-dark);
  @include min-medium-screen {
    font-size: size(40);
    line-height: size(48);
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(24), 800, size(32), $cheq-white);
  @include min-medium-screen {
    font-size: size(32);
    line-height: size(40);
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 800, size(32), $cheq-white);
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(16), 800, size(24), $cheq-white);
}

//.headline-6, .wysiwyg-block h6 {
//  @include font(size(18), 900, size(36), blue);
//}

.paragraph, .wysiwyg-block p {
  @include font(size(16), 400, size(24), $cheq-dark);
  @include min-medium-screen {
    font-size: size(22);
    line-height: size(30);
  }
  @include large-screen {
    font-size: size(24);
    line-height: size(32);
  }

  &-white {
    color: $cheq-white;
  }

  &-16 {
    font-size: size(16);
    line-height: size(24);
  }
}


.fw-400 {
  font-weight: 400;
}

.focus-text {
  font-weight: 700;
}

.light {
  font-weight: 400;
}

.swiper-pagination {
  @include flex(center);
  width: fit-content;
  margin: 0 auto;
  min-height: size(20);

  .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets {
    @include flex(center, center);
    margin-top: $m-48;
    @include min-medium-screen {
      margin-top: $m-60;
    }
  }

  .swiper-pagination-bullet {
    @include square(size(10));
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color, width, height;
    transition-duration: $duration;

    &:not(:last-child) {
      margin-right: size(16);
    }
  }

  .swiper-pagination-bullet-active {
    @include square(size(15));
    background: $cheq-white;
  }


  &.black-dots {
    .swiper-pagination-bullet {
      background: rgba(17, 18, 34, 0.4);

      &:not(:last-child) {
        margin-right: size(16);
      }
    }

    .swiper-pagination-bullet-active {
      @include square(size(12));
      background: $cheq-dark;
      border: size(2) solid $cheq-black;
    }
  }

}

.big-avatar {
  border-radius: 50%;
  @include square(size(320));

  img {
    @include square(100%);
    object-fit: contain;
    border-radius: 50%;
  }
}

.small-avatar {
  border-radius: 50%;
  @include square(size(80));
  @include min-medium-screen {
    @include square(size(160));
  }

  img {
    @include square(100%);
    object-fit: contain;
    border-radius: 50%;
  }
}

.btn, .cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: size(119);
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  text-align: center;
  border-radius: size(32);
  @include font(size(16), 800, 100%, $cheq-white);
  letter-spacing: size(0.04);
  text-transform: uppercase;
  padding: size(20) size(44);
  transition: color, background-color, background-position;
  transition-duration: $duration;
  cursor: pointer;
  z-index: 2;
  position: relative;
  background: linear-gradient(90deg, #9925cf, #fd0173, #9925cf) 0 0;
  background-size: 200% 100%;
  @include small-screen {
    font-weight: 600;
    align-items: size(24);
    padding: size(16) size(24);
  }

  &:before, &:after {
    //content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    left: 0;
    transition: width $duration;
    pointer-events: none;
    z-index: -1;
  }

  &:after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    left: unset;
    right: 0;
  }

  &:hover {
    background-position: 100% 0;

    &:before {
      width: 100%;
    }
  }

  &.active {
    &:after {
      width: 100%;
    }
  }


  &.white {
    background: $cheq-white;
    transition: background-color $duration;

    span {
      background-size: 500% 500%;
      animation: rainbow 2s ease-in-out infinite;
      transition: color 0.2s ease-in-out;
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0);

    }

    &:hover {
      background-color: $cheq-purple;
    }
  }
}

.email-input {
  background: none;
  width: 100%;
  max-width: size(480);
  border: none;
  padding-bottom: size(16);
  border-bottom: size(1) solid $cheq-white;
  font-weight: 400;
  font-size: size(16);
  line-height: size(24);
  letter-spacing: size(0.02);
  color: $cheq-white;
  font-family: $avenir;
  margin-bottom: size(16);
  @include min-medium-screen {
    margin-right: size(16);
    margin-bottom: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: size(16);
    line-height: size(24);
    letter-spacing: size(0.02);
    color: $cheq-white;
  }
}

.hs_hs_persona {
  display: none;
}

.hover-text {
  background-size: 500% 500%;
  animation: rainbow 2s ease-in-out infinite;
  transition: color 0.2s ease-in-out;
  background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
  -webkit-background-clip: text;
}

.shadow {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);

  &-low {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  }
}

.social-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: size(-8);
  max-width: size(325);
  @include small-screen {
    width: 100%;
  }
}

.social-icon {
  @include square(size(48));
  background-color: $cheq-white;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  //overflow: hidden;
  transition: background-color $duration;
  margin: size(8);

  &.icon-copied {
  }

  .copied-text {
    color: $cheq-dark;
    font-size: size(16);
    font-weight: 400;
    opacity: 0;
    transition: opacity $duration;
    pointer-events: none;
    position: absolute;
    left: calc(100% + 0.5rem);
  }

  &:after {
    content: '';
    @include square(100%);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity $duration;
  }

  &:hover {
    background-color: transparent;

    path {
      fill: $cheq-white;
    }

    &:after {
      opacity: 1;
    }
  }

  a {
    @include square(100%);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: size(20);
      height: size(20);
    }
  }
}

.icon-copied.active {
  .copied-text {
    opacity: 1;
  }
}

.link-text {
  font-weight: 700;
  font-size: size(16);
  line-height: size(24);
  letter-spacing: size(0.02);
  text-transform: uppercase;
  color: $cheq-white;
}

.read-more {
  font-size: size(16);
  font-weight: 800;
  line-height: 100%;
  width: fit-content;
  display: flex !important;
  align-items: center;
  transition: color $duration;

  @include min-medium-screen {
    font-size: size(24);
  }

  .angle {
    width: size(10);
    height: size(8);
    clip-path: polygon(0 0, 62% 50%, 0 100%);
    transition: background $duration, color 100ms, transform $duration;
    margin-left: size(8);
    background-color: $cheq-white;
    @include min-medium-screen {
      width: size(13);
      height: size(11);
      margin-left: size(13);
    }
    @include large-screen {
      width: size(16);
      margin-left: size(18.5);
    }
  }

  //&:hover {
  //  color: #fc5776 !important;
  //
  //  .angle {
  //    background: currentColor !important;
  //    transform: translateX(size(10));
  //  }
  //}
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

// region Ul Styling
ul:not(.reset-ul):not(.sub-menu) {

  li {
    position: relative;
    font-size: size(24);
    padding-left: size(16);
    line-height: size(32);
    font-weight: 400;
    color: $cheq-white;
    margin-left: size(24);

    &:before {
      content: "";
      width: size(9);
      height: size(9);
      background-color: currentColor;
      position: absolute;
      border-radius: 50%;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// endregion ul


// region general blocks


// info card
.person-card {
  min-height: size(320);
  background: $cheq-purple !important;
  @include flex(center, space-between, column);
  position: relative;
  overflow: visible;
  @include large-screen {
    flex-direction: row;
    overflow: hidden;
    border-radius: size(200) 0 0 size(200);

  }

  .big-avatar {
    flex-shrink: 0;
    margin-top: size(-160);
    @include large-screen {
      margin-top: 0;
      border-radius: 50%;
      @include flexBasis(25%);
    }

    img {
      @include square(size(320));
      border-radius: 50%;
    }
  }


  .person-info {
    position: relative;
    @include flexBasis(100%);
    @include flex(flex-start);
    padding: $m-60 $m-24 $m-80;
    @include large-screen {
      margin-left: auto;
      padding: $m-48 $m-48 $m-48 size(60);
      @include flexBasis(75%)
    }
  }


  blockquote {
    display: flex;
    margin: 0;

    .quote {
      font-weight: 800;
      font-size: size(56);
      line-height: 100%;
      color: $cheq-white;
      margin-right: size(8);
    }

    .headline-3 {
      font-size: size(32);
      line-height: size(40);
    }
  }


  .card-logo {
    max-width: size(210);
    min-height: 100%;
    flex-shrink: 0;
    @include small-screen {
      margin-top: $m-40;
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .person-name {
    @include flex(flex-start, space-between, column);
    margin-top: $m-40;
    margin-left: size(38);
    @include min-medium-screen {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .name-and-job {
    @include min-medium-screen {
      margin-right: size(20);
    }
  }
}


.download-card {
  display: flex;
  flex-direction: column;
  min-height: size(504);
  height: 100%;
  width: 100%;

  picture {
    margin-bottom: size(16);
    border: 1px solid #cfd0d3;
  }

  a {
    cursor: pointer;
    margin-top: auto;
  }

  .headline-4 {
    margin-bottom: size(16);
    color: $cheq-dark;
    @include small-screen {
      max-width: size(366);
    }
  }

  .text-and-icon {
    display: flex;
    align-items: center;
  }

  .icon {
    flex-shrink: 0;
    @include square(size(16));
    margin-right: size(8);

    svg {
      @include square(100%);
    }
  }

  .headline-5 {
    text-transform: uppercase;
  }
}


// launches_block
.cheq-launches {
  @include flex(false, space-between);
  background: $cheq-purple;
  @include small-screen {
    border-bottom-left-radius: size(100);
    border-bottom-right-radius: size(100);
    flex-direction: column;
  }
  @include min-medium-screen {
    border-bottom-right-radius: size(100);
    border-top-right-radius: size(100);
  }

  .launches-text {
    padding: $m-32;
    flex-shrink: 0;
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(50%);
    }
    @include large-screen {
      @include flexBasis(45%);
    }
  }

  .headline-3 {
    margin-bottom: $m-32;
    font-size: size(32);
    line-height: size(40);
    @include small-screen {
      max-width: size(366);
    }
  }


  .read-more {
    display: flex;
    align-items: center;
    width: fit-content;

    .headline-5 {
      letter-spacing: size(0.04);
    }

    svg {
      margin-left: size(6);
      width: size(8);
      height: size(12);
      flex-shrink: 0
    }
  }

  .launches-logo {
    @include flexBasis(100%);
    @include flex(center, center);
    flex-shrink: 0;
    background: $cheq-white;
    border-radius: size(100);
    padding: $m-60 $m-40;
    @include min-medium-screen {
      @include flexBasis(45.5%);
      padding: size(70) $m-40;
    }
    @include large-screen {
      padding: 0;
      @include flexBasis(37.5%);
    }
  }


  picture {
    max-width: size(240);
    min-height: size(80);

    img {
      @include square(100%);
      object-fit: contain;
    }
  }


}


// support_block
.logos-wrapper {
  @include flex(center, space-between, false, wrap);
  margin-bottom: -$m-32;
  @include small-screen {
    max-width: size(308);
    @include marginX(auto)
  }
  @include min-medium-screen {
    justify-content: space-between;
    margin-bottom: -$m-40;
  }

  .logo {
    margin-bottom: $m-32;
    flex-shrink: 0;
    flex-basis: 41.6%;
    @include min-medium-screen {
      flex-basis: 26%;
      margin-bottom: $m-40;

    }
    @include large-screen {
      flex-basis: 10.01%;
    }

    picture {
      max-width: 100%;
    }
  }

  a {
    max-width: 100%;

    &:before {
      display: none;
    }
  }
}


// leadership_block
.people-card {
  position: relative;
  @include small-screen {
    @include paddingX($m-24);
  }
  cursor: pointer;

  .big-avatar {
    transition: transform .4s cubic-bezier(0.74, 0.69, 0.32, 1.94), box-shadow .4s cubic-bezier(0.74, 0.69, 0.32, 1.94);
    @include small-screen {
      @include marginX(auto)
    }
  }

  .card {
    @include flex(flex-start, false, column);
    background: $cheq-purple;
    border-radius: size(24);
    @include paddingY(size(24));
    @include paddingX(size(21));
    position: relative;
    margin-top: size(-80);
    max-width: size(320);
    min-height: size(160);
    height: 100%;
    transition: transform .4s cubic-bezier(0.74, 0.69, 0.32, 1.94);
    @include small-screen {
      @include marginX(auto)
    }
    @include min-medium-screen {
      margin-left: size(80);
    }

    .card-title {
      margin-bottom: $m-24;
    }

    .paragraph {
      color: $cheq-white;
    }

    .card-sub-tittle {
      @include font(size(14), bold, size(24), $cheq-white, false, size(.2));
      text-transform: uppercase;
    }
  }


  &:hover {
    .big-avatar {
      box-shadow: 0 0 size(40) 0 rgba(153, 37, 207, 0.5), 0 0 size(40) 0 rgba(253, 1, 115, 0.5);
    }
  }
}


// endregion general blocks

.page-template-text-page {
  background: white;


  .text-page {
    @include paddingY(size(40), size(80));


    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    figure {
      margin: size(40) 0 size(60);
      @include large-screen {
        @include marginY(size(80));
      }

      figcaption {
        color: $cheq-black;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin-top: size(16);
      }

      img {
        margin: 0 auto;
      }

      &.is-style-rounded {
        img {
          border-radius: 50%;
        }
      }

      &.wp-block-image, &.wp-block-video {
        @include small-screen {
          max-width: 100%;
        }

        img, video {
          @include square(100%);
        }
      }
    }

    img {
      margin: size(40) auto;
      max-width: 100%;
    }

    p {
      margin-bottom: size(30);
      @include font(size(16), 400, size(24), $cheq-dark);
      @include min-medium-screen {
        font-size: size(22);
        line-height: size(30);
      }
      @include large-screen {
        font-size: size(24);
        line-height: size(32);
      }

      strong {
        font-weight: 800 !important;
      }
    }

    h1, .headline-1 {
      @include marginY(size(24));
      @include font(size(32), 800, size(40), $cheq-dark);
      @include min-medium-screen {
        width: fit-content;
        font-size: size(56);
        line-height: size(64);
        margin-top: size(40);
      }
      @include large-screen {
        margin-top: size(80);
      }
    }

    h2, .headline-2 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include min-medium-screen {
        font-size: size(40);
        line-height: size(48);
        margin-top: size(40);
      }
      @include large-screen {
        margin-top: size(80);
      }
    }

    h3, .headline-3 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include min-medium-screen {
        font-size: size(32);
        line-height: size(40);
      }
      @include large-screen {
        @include marginY(size(32), size(24));
      }
    }

    h4, .headline-4 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include large-screen {
        margin-top: size(48);
      }
    }

    h5, .headline-5 {
      @include marginY(size(24));
      @include font(size(16), 800, size(24), $cheq-dark);
      @include large-screen {
        margin-top: size(32);
      }
    }

    h6, .headline-6 {
      @include marginY(size(24));
      @include font(size(16), 400, size(24), #888890);
    }

    blockquote {
      @include font(size(32), 800, size(40), $cheq-dark);
      @include marginY(size(24));

      cite {
        font-style: normal;
      }
    }

    ol {
      list-style: decimal;
      padding-left: size(20);
      margin-bottom: size(16);

      li {
        position: relative;
        padding: 0 size(24);
        @include font(size(16), 800, size(22), $cheq-dark);

        &:not(:last-child) {
          margin-bottom: size(10);
        }
      }
    }

    ul:not(.reset-ul) {
      margin-bottom: size(16);
      padding-top: 0;

      li {
        position: relative;
        padding: 0 size(24);
        @include font(size(16), 800, size(22), $cheq-dark);

        &:not(:last-child) {
          margin-bottom: size(10);
        }

        &:before {
          content: "";
          width: size(8);
          height: size(8);
          background-color: currentColor;
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}



