// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$cheq-black: var(--cheq-black);
$cheq-white: var(--cheq-white);
$cheq-light-white: var(--cheq-light-white);
$cheq-dark: var(--cheq-dark);
$cheq-purple: var(--cheq-purple);
$cheq-mid-purple: var(--cheq-mid-purple);
$cheq-dark-purple: var(--cheq-dark-purple);
$cheq-light-purple: var(--cheq-light-purple);
$cheq-white-purple: var(--cheq-white-purple);
$cheq-gradient-main: var(--cheq-gradient-main);
$cheq-gradient-blue: var(--cheq-gradient-blue);
$cheq-gradient-red: var(--cheq-gradient-red);
$cheq-gradient-purple: var(--cheq-gradient-purple);
// fonts
$avenir: 'Avenir LT Pro';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 1680px, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);
//margin & padding
$m-240: 24rem;
$m-200: 20rem;
$m-160: 16rem;
$m-120: 12rem;
$m-80: 8rem;
$m-60: 6rem;
$m-48: 4.8rem;
$m-40: 4rem;
$m-32: 3.2rem;
$m-24: 2.4rem;
