@import "src/styles/variables";
@import "src/styles/mixins";

.marketing_bi_systems_block {
  @include paddingY(size(40), 0);
  background-color: $cheq-white-purple;
  @include min-medium-screen {
    @include paddingY(size(80), size(100))
  }
  @include large-screen {
    @include paddingY(size(120), size(160))
  }

  .headline-1 {
    margin-bottom: size(40);
    @include paddingX(size(24));
    @include min-medium-screen {
      margin-bottom: size(60);
    }
    @include large-screen {
      padding: 0;
    }
  }

  .container {
    padding: 0;
    @include large-screen {
      @include paddingX(size(200));
    }
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $cheq-purple;
    padding-bottom: size(60);
    @include paddingX(size(24));
    @include large-screen {
      @include paddingX(size(48));
    }
  }

  .headline-2 {
    color: $cheq-white;
    font-size: size(40);
    line-height: size(48);

  }

  .top-content {
    padding-bottom: size(48);
    border-bottom: 1px solid $cheq-white;
    @include flexBasis(100%);

    .icon-parent {
      background: rgba(17, 18, 34, 0.6);
      padding: size(30) size(26);
      @include square(size(128));
      margin-bottom: size(48);

      svg {
        @include square(100%);
      }
    }

    .headline-2 {
      color: $cheq-white;
      margin-bottom: size(48);
      @include small-screen {
        max-width: size(280);
      }
    }

  }

  .bottom-content {
    padding-top: size(48);
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(49%);
    }

    .card-title {
      margin-bottom: size(24);
      color: $cheq-white;
    }

    .headline-2 {
      color: $cheq-white;
      margin-bottom: size(24);
      @include small-screen {
        max-width: size(300);
      }
    }


    .small-text {
      max-width: size(138);
      margin-bottom: size(24);
    }
  }
}
