@import "src/styles/variables";
@import "src/styles/mixins";

.awards_and_accolades_block {
  background: $cheq-white-purple;
  @include paddingY(size(60), size(80));

  @include min-medium-screen{
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .headline-1 {
    margin-bottom: size(24);
  }

  .headline-3 {
    margin-bottom: size(60);
    color: $cheq-dark;

    @include min-medium-screen{
      margin-bottom: size(80);
    }
    @include large-screen {
      max-width: 70%;
    }
  }


  .awards-and-accolades-wrapper {
    display: flex;
    flex-wrap: wrap;
    @include marginY(size(-40));
    @include marginX(size(-10));

    @include min-medium-screen {
      @include marginX(size(-16));
    }
  }


  a {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .logos-wrapper {
    display: flex;
    align-items: center;
    @include marginY(size(40));
    @include marginX(size(10));
    @include min-medium-screen {
      @include marginX(size(16));
    }
  }

  .headline-5 {
    margin-left: $m-24;
    font-size: size(14);
    color: $cheq-dark;
    font-weight: 700;
    letter-spacing: size(0.02);
    text-transform: uppercase;
    max-width: size(104);
    @include large-screen{
      max-width: size(144);
    }
  }

  picture {
    @include square(size(128));
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;

    img {
      @include square(100%);
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
