@import "src/styles/variables";
@import "src/styles/mixins";

.leadership_block {
  background: $cheq-dark;
  z-index: 2;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }


  @include large-screen {
    @include paddingY($m-120, $m-200);
  }

  .row {
    position: relative;
    @include change-gutter(size(24), size(24));
    @include min-medium-screen {
      @include change-gutter(size(60), size(100));
    }
    @include large-screen {
      @include change-gutter(size(40), size(120));
    }


    &:after, &:before, .circle {
      content: '';
      position: absolute;
      @include square(size(640));
      border-radius: 50%;
      z-index: 0;
      background: $cheq-purple;
      filter: blur(size(200));
      display: none;
      @include min-medium-screen {
        @include square(size(320));
        display: flex;
      }
      @include large-screen {
        @include square(size(640));
      }
    }

    &:after {
      bottom: 0;
      left: 0;
    }

    &:before {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .circle {
      top: 0;
      left: 0;
    }

  }

  .card-parent {
    z-index: 2;
  }

  .big-avatar {
    border-radius: 50%;
    @include square(size(320));

    img {
      object-fit: cover;
    }
  }

  .headline-1 {
    margin-bottom: $m-24;
  }

  .headline-3 {
    margin-bottom: $m-60;
    max-width: size(366);
    @include min-medium-screen {
      margin-bottom: $m-120;
      max-width: 90%;
    }
    @include large-screen {
      max-width: size(900);
    }
  }

  .paragraph {
    @include font(size(24), 400, size(32));
  }


}
