@import "src/styles/variables";
@import "src/styles/mixins";

.first_customer_block {
  background-color: $cheq-dark;
  @include paddingY(size(85), size(80));
  @include large-screen {
    @include paddingY(size(178), size(200));
  }

  .container {
    padding-left: 0;
  }

  .first-customer-content {
    @include flex(flex-start, space-between, column);
    @include large-screen {
      flex-direction: row;
    }
  }

  .img-wrapper {
    @include flexBasis(100%);
    margin-bottom: $m-60;
    @include small-screen {
      padding-right: size(8);
    }
    @include min-medium-screen {
      @include flexBasis(70%);
    }

    @include large-screen {
      margin-bottom: 0;
      @include flexBasis(53.92%);
    }
  }

  .aspect-ratio {
    padding-top: 78.19%;
  }

  .text-content {
    @include flexBasis(100%);
    padding-left: size(24);
    @include min-medium-screen {
      @include paddingX($m-80);
      @include flexBasis(90%);
    }
    @include large-screen {
      @include paddingX(0);
      @include flexBasis(33.33%);
      margin-top: size(14);
    }
  }

  .btn {
    padding: size(16) size(27.5);
  }

  .headline-1, .paragraph {
    margin-bottom: $m-24;
    @include min-medium-screen {
      margin-bottom: $m-48;
    }
  }

  .headline-1 {
    max-width: size(366);
    @include min-medium-screen {
      max-width: size(596);
    }
  }

  .paragraph {
    max-width: size(366);
    @include min-medium-screen {
      max-width: size(500);
    }
  }

  .circle-bg:after {
    left: 70%;
    @include small-screen{
      height: 30%;
      width: 50%;
      filter: blur(size(130));
    }
  }
}
