@import "src/styles/variables";
@import "src/styles/mixins";

.solutions_hero {
  background-color: $cheq-white;
  @include paddingY(size(24), size(80));
  @include min-medium-screen {
    @include paddingY(size(80), size(120));
  }
  @include large-screen {
    @include paddingY(size(160));
  }

  .headline-1{
    margin-bottom: size(60);
  }

  .row {
    @include change-gutter(size(24), size(24));

    @include min-medium-screen {
      @include change-gutter(size(20), size(20));
    }
    @include large-screen {
      @include change-gutter(size(32), size(32));
    }
  }

  .card {
    min-height: size(296);
    display: flex;
    height: 100%;
    flex-direction: column;

    .headline-1{
      margin-bottom: 0;
    }
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  picture {
    @include min-medium-screen {
      @include flexBasis(40%);
    }
    @include large-screen {
      @include flexBasis(50%);
    }

    img {
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#389bff 0%, #72daff 100%);
    @include paddingX(size(32));
    @include paddingY(size(32), size(45));

    @include min-medium-screen {
      @include flexBasis(60%);
      @include paddingX(size(22));
      @include paddingY(size(22), size(25));

    }
    @include large-screen {
      @include flexBasis(50%);
      @include paddingX(size(32));
      @include paddingY(size(32), size(45));
    }
  }

  .headline-4 {
    margin-bottom: size(16);
    max-width: size(150);
  }

  .paragraph {
    font-size: size(24);
    font-weight: 400;
    line-height: size(32);
    color: $cheq-white;
    margin-bottom: size(29);
    @include small-screen {
      max-width: size(302);
    }
  }

  .arrow {
    width: size(20);
    height: size(14);
    margin-top: auto;

    svg {
      @include square(100%);
    }
  }

  .main-title {
    background-color: $cheq-dark;
    padding: size(80);
    display: flex;
    align-items: flex-start;
    @include paddingY(size(40), size(48));
    @include paddingX(size(40));
    min-height: size(168);

    .headline-1 {
      max-width: size(160);
      background: unset;
      -webkit-text-fill-color: $cheq-white;
      color: $cheq-white;
      @include min-medium-screen {
        max-width: size(260);
      }
    }
  }

}
