@import "src/styles/variables";
@import "src/styles/mixins";

.image_and_text_block {
  background-color: $cheq-white;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(160), size(168))
  }

  .image-and-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include min-medium-screen {
      max-width: size(1220);
      flex-direction: row;
      align-items: center;
    }
  }

  .container {
    @include small-screen{
      padding: 0;
    }
  }

  .left-content {
    margin-bottom: size(60);
    @include min-medium-screen {
      @include flexBasis(45%);
      margin-bottom: 0;
    }
    @include large-screen {
      @include flexBasis(50.82%);
    }
  }

  img {
    height: auto;
  }

  .right-content {
    @include marginX(size(24));
    @include min-medium-screen {
      @include flexBasis(45%);
      margin: 0;
    }
    @include large-screen {
      @include flexBasis(40.9%);
    }
  }

  .headline-1 {

    margin-bottom: size(24);
    @include medium-screen {
      font-size: size(32);
      line-height: size(40);
    }
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    @include large-screen {
      margin-bottom: size(48);
    }

  }

  .paragraph {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(32);
    }

    @include large-screen {
      margin-bottom: size(48);
      max-width: size(480);
    }
  }

  .btn{
    padding: size(16) size(28.4);
  }
}
