@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.highlights_block {
  @include paddingY(size(30));
  background: $cheq-white;
  @include min-medium-screen {
    @include paddingY(size(60));
  }

  .container {
    @include small-screen {
      padding: 0;
    }
  }



  .highlight {
    position: relative;
    z-index: 2;
    color: $cheq-white;
    padding: size(40) size(24);
    min-height: size(464);
    @include min-medium-screen {
      padding: size(40);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      background-color: rgba(0, 0, 0, 0.3);

      z-index: -1;

    }

    @include large-screen {
      min-height: size(672);
    }
  }

  .highlight-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    @include square(100%);
    object-fit: cover;
  }


  .main-title{
    margin-bottom: size(24);
    @include small-screen{
      @include paddingX(size(24));
    }
    @include min-medium-screen{
      margin-bottom: size(60);
    }

  }
  .highlight-title {
    margin-bottom: size(16);
    font-size: size(40);
    font-weight: 800;
    line-height: size(48);
    color: inherit;
    display: block;
    transition: color $duration;

    &:hover {
      color: #FC5776;
    }
  }

  .highlight-subtitle {
    color: inherit;
  }

  .read-more {
    margin-top: size(16);
    color: inherit;
  }

  .swiper-pagination {
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: size(31);
  }

}
