@import "src/styles/variables";
@import "src/styles/mixins";

.security_platform_block {
  background: $cheq-dark;
  @include paddingY(size(60), 0);
  @include min-medium-screen {
    @include paddingY(size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }


  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }

  .row {
    @include change-gutter(size(24), size(24));

    @include min-medium-screen {
      @include change-gutter(size(20), size(20));
    }
    @include large-screen {
      @include change-gutter(size(40), size(40));
    }
  }


  .headline-1 {
    margin-bottom: size(60);
    @include small-screen {
      @include paddingX(size(24));
      max-width: size(366);
    }
    @include large-screen {
      max-width: size(880);
      margin-bottom: size(80);
    }
  }


  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(44.83deg, #8f5cf5 0%, #6633fe 100%);
    @include paddingY(size(32));
    @include paddingX(size(24), size(32));
    min-height: size(1129);
    @include large-screen {
      padding: size(32) size(24);
    }

  }

  .headline-3 {
    font-size: size(32);
    font-weight: 800;
    line-height: size(40);
    margin-bottom: size(32);
  }


  .aspect-ratio {
    padding-top: 64%;
    margin-bottom: size(18);

    img {
      object-fit: contain;
    }
  }


  .Challenge {
    border-top: 1px solid $cheq-white;
    @include paddingY(size(32));
    min-height: size(208);
  }

  .headline-4 {
    margin-bottom: size(16);
  }

  .with-cheq {
    border-top: 1px solid $cheq-white;
    @include paddingY(size(32));
    min-height: size(209);
  }

  .paragraph {
    font-size: size(24);
    font-weight: 400;
    line-height: size(32);
    color: $cheq-white;
  }

  .download {
    padding: size(24);
    background: $cheq-white;
    border-radius: 16px;
    margin-bottom: size(32);
    min-height: size(200);
  }

  .title-and-icon, .image-and-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .title-and-icon {
    margin-bottom: size(24);

    .headline-4 {
      color: $cheq-dark;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .icon {
    @include square(size(22));
    flex-shrink: 0;
    svg{
      @include square(100%);
    }
  }

  .image-and-title {
    picture {
      @include flexBasis(size(80));
      height: size(64);
      margin-right: size(16);
      flex-shrink: 0;
    }

    .headline-4 {
      color: $cheq-dark;
      margin-bottom: 0;
    }

  }

  .btn {
    padding: size(16) size(27.04);
    margin-top: auto;
  }
}
