@import "src/styles/variables";
@import "src/styles/mixins";

.title_and_emails_blocks {
  background: $cheq-white;
  @include paddingY(size(20), size(40));
  @include min-medium-screen {
    @include paddingY(size(40), size(60));
  }
  @include large-screen {
    @include paddingY(size(40), size(80));
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: size(-24);
    flex-wrap: wrap;
    @include min-medium-screen {
      max-width: size(1000);
      flex-direction: row;
      justify-content: space-between;
    }
  }


  .title-and-email {
    margin-bottom: size(24);
    @include min-medium-screen{
      @include flexBasis(33.33%);
    }

  }

  .fw-700 {
    font-weight: 700;
    @include min-medium-screen {
      margin-top: size(16);
    }
  }
}
