@import "src/styles/variables";
@import "src/styles/mixins";

.advanced_block {
  background: $cheq-dark;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }

  .headline-1 {
    margin-bottom: size(60);
    max-width: size(480);

    @include min-medium-screen {
      max-width: 100%;
      margin-bottom: size(80);
    }
    @include large-screen {
      margin-bottom: size(120);
      max-width: size(840);
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    max-width: size(320);
    @include min-medium-screen{
      max-width: 100%;
    }
    @include large-screen {
      max-width: size(780);
    }
  }

  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: size(60);
    padding-left: size(28);
    margin-left: size(12);
    @include min-medium-screen{
      padding-left: size(36);
      margin-left: 0;
      padding-bottom: size(112)
    }

    &:last-child {
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      width: 4px;
      height: 100%;
      background-color: #515df8;
      position: absolute;
      right: 100%;
      transform: translateX(50%);
      z-index: 1;
    }

    &:before {
      content: "";
      @include square(size(16));
      background-color: $cheq-dark;
      border: 4px solid #515df8;
      position: absolute;
      top: 0;
      right: 100%;
      transform: translateX(50%);
      border-radius: 50%;
      z-index: 2;
    }

  }

  .headline-2 {
    color: $cheq-white;
    margin-bottom: size(4);
    @include min-medium-screen {
      margin-bottom: size(6);
    }
    @include large-screen {
      margin-bottom: size(8);
    }
  }

  .paragraph {
    font-weight: 700;
  }
}
