@import "src/styles/variables";
@import "src/styles/mixins";

.info_card_block {
  background-color: $cheq-dark;
  position: relative;
  z-index: 2;
  overflow: visible;
  @include paddingY(size(220), 0);
  @include min-medium-screen {
    @include paddingY(size(220), size(120));
  }
  @include large-screen {
    @include paddingY(size(200), size(200));
  }

  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }


  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cheq-dark;
    z-index: -2;
  }

  @include min-medium-screen {
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 48.88%;
      background: $cheq-white-purple;
      z-index: -1;
    }
  }


  &.top {
    &:after {
      bottom: unset;
      top: 0;
    }
  }

  //.person-card {
  //  min-height: size(320);
  //  background: $cheq-purple;
  //  @include flex(center, space-between, column);
  //  position: relative;
  //  overflow: visible;
  //  @include large-screen {
  //    flex-direction: row;
  //    overflow: hidden;
  //    background: unset;
  //    align-items: flex-start;
  //  }
  //
  //  .big-avatar {
  //    flex-shrink: 0;
  //    margin-top: size(-160);
  //
  //
  //    @include large-screen {
  //      margin-top: 0;
  //      border-radius: 50% 0 0 50%;
  //      @include flexBasis(25%);
  //      background: $cheq-purple;
  //    }
  //
  //    img {
  //      @include square(size(320));
  //      border-radius: 50%;
  //    }
  //  }
  //
  //
  //
  //
  //.person-info {
  //  background: $cheq-purple;
  //  position: relative;
  //  @include flexBasis(100%);
  //  @include flex(flex-start);
  //  padding: $m-60 $m-24 $m-80;
  //  @include large-screen {
  //    margin-left: auto;
  //    padding: $m-48 $m-48 $m-48 size(60);
  //    @include flexBasis(75%)
  //  }
  //}
  //
  //
  //blockquote {
  //  display: flex;
  //  margin: 0;
  //
  //  .quote {
  //    font-weight: 800;
  //    font-size: size(56);
  //    line-height: 100%;
  //    color: $cheq-white;
  //    margin-right: size(8);
  //  }
  //
  //  .headline-3 {
  //    font-size: size(32);
  //    line-height: size(40);
  //  }
  //}
  //
  //
  //.card-logo {
  //  width: size(210);
  //  height: 100%;
  //  flex-shrink: 0;
  //  @include small-screen {
  //    margin-top: $m-40;
  //  }
  //
  //  img {
  //    @include square(100%);
  //    object-fit: cover;
  //  }
  //
  //}
  //
  //.person-name {
  //  @include flex(flex-start, space-between, column);
  //  margin-top: $m-40;
  //  margin-left: size(38);
  //  @include min-medium-screen {
  //    flex-direction: row;
  //    align-items: center;
  //    margin-bottom: 0;
  //  }
  //}
  //
  //
  //.name-and-job {
  //  @include min-medium-screen {
  //    margin-right: size(20);
  //  }
  //}
  //}
}
