@import "src/styles/variables";
@import "src/styles/mixins";

.launches_block {
  background: $cheq-dark;
  padding-bottom: size(80);
  position: relative;
  z-index: 2;
  @include min-medium-screen {
    @include paddingY(size(62.5), size(120));
  }
  .container {
    @include small-screen {
      @include paddingX(0)
    }
  }


  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cheq-dark;
    z-index: -2;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48.88%;
    background: $cheq-white-purple;
    z-index: -1;
  }
}



