@import "src/styles/variables";
@import "src/styles/mixins";

.title_and_cards_block {
  background-color: $cheq-white-purple;
  @include paddingY(size(60));
  @include min-medium-screen {
    @include paddingY(size(80));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }


  .headline-1 {
    margin-bottom: size(40);
    @include min-medium-screen {
      margin-bottom: size(60);
    }

    &.white {
      color: $cheq-white;
      -webkit-text-fill-color: $cheq-white;
      background: unset;
      animation: unset;
      background-size: unset;
      -webkit-background-clip:unset;
    }
  }

  .row {
    @include change-gutter(size(32), size(32));

    @include large-screen {
      @include change-gutter(size(40), size(40));
    }
  }

  .card {
    padding: size(32);
    background-color: #3c1c60;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include min-medium-screen {
      padding: size(48);
    }


  }

  .main-title {
    margin-bottom: size(8);
  }

  .headline-2 {
    color: $cheq-white;
    margin-bottom: size(24);
    @include small-screen {
      font-size: size(32);
      line-height: size(40);
    }
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    @include large-screen {
      margin-bottom: size(48);
    }
  }

  .fw-bold {
    font-weight: 700;
  }
}
