@import "src/styles/variables";
@import "src/styles/mixins";

.our_offices_block {
  background-color: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }


  .container {
    @include large-screen {
      padding-right: size(186);
    }
  }

  .headline-1 {
    margin-bottom: size(60);
    @include large-screen {
      margin-bottom: size(80);
    }
  }

  .row {
    @include change-gutter(size(24), size(60));
    @include min-medium-screen {
      @include change-gutter(size(55), size(60));
    }
    @include large-screen {
      @include change-gutter(size(55), size(80));
    }
  }

  .headline-4 {
    color: $cheq-dark;
    margin-bottom: size(8);
  }

  .fw-400 {
    font-weight: 400;
    margin-bottom: size(24);
    @include large-screen {
      margin-bottom: size(16);
    }
  }

  .location {
    display: flex;
    align-items: center;

    &:hover {

      .icon {
        svg{
          transform: rotate(360deg);
        }
      }
    }
  }

  .icon {
    @include square(size(20));
    flex-shrink: 0;
    margin-right: size(6.5);


    svg {
      @include square(100%);
      transition: transform 500ms;
      transform-origin: 50% 50%;
    }
  }
}
