@import "./../variables";
@import "./../mixins";

.single-post-wrapper {
  @include paddingY(size(104), size(80));
  background-color: $cheq-white;
  @include min-medium-screen {
    @include paddingY(size(120));
  }
  @include large-screen {
    @include paddingY(size(240), size(120));
  }

  // region medium media
  @mixin mediumMedia() {
    @media screen and (max-width: 768.98px) {
      @content;
    }
  }

  .hide-medium {
    @include mediumMedia {
      display: none !important;
    }
  }

  // endregion medium media

  .post-title {
    background: unset;
    -webkit-text-fill-color: $cheq-dark !important;
    max-width: size(960);
    margin-bottom: $m-24;
  }

  .post-information {
    display: flex;
    align-items: center;
    margin-bottom: $m-24;
  }

  .author-name {
    font-weight: 800;
  }

  .post-info-separator {
    @include marginX(size(7));
  }

  .social-icon {
    background-color: $cheq-white-purple;
  }

  .single-blog-image {
    @include marginY(size(60), size(40));
    @include large-screen {
      @include marginY(size(80), size(60));
    }
    @include mediumMedia {
      @include marginX(-$m-80);
    }
    @include small-screen {
      @include marginX(-$m-24);
    }
  }

  .short-description {
    font-size: size(24);
    line-height: size(32);
  }

  .blog-content {
    margin-top: size(80);
    @include flex(flex-start, space-between, false, wrap);
    @include large-screen {
      margin-top: size(120);
    }

    &-wrapper {
      @include min-medium-screen {
        @include flexBasis(60%);
      }
      @include large-screen {
        @include flexBasis(68.75%);
      }
      @include mediumMedia {
        @include flexBasis(100%);
      }
    }

    .author-information {
      position: relative;
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(33%);
      }
      @include large-screen {
        @include flexBasis(25%);
      }
      @include small-screen {
        max-width: size(366);
      }
      @include mediumMedia {
        @include flexBasis(100%);
        margin-top: size(40);
        max-width: size(570);
        padding-left: size(24);
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $cheq-black;
        @include min-medium-screen {
          right: calc(100% + 3rem);
          left: auto;
        }
        @include large-screen {
          right: calc(100% + 4rem);
        }
        @include mediumMedia {
          left: 0;
          right: auto;
        }
      }

      .social-icons-wrapper {
        margin-top: size(12);
        @include large-screen {
          margin-top: size(24);
        }
      }
    }
  }

  .blog-content-wrapper {
    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    figure {
      margin: size(40) 0 size(60);
      @include large-screen {
        @include marginY(size(80));
      }

      figcaption {
        color: $cheq-black;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin-top: size(16);
      }

      img {
        margin: 0 auto;
      }

      &.is-style-rounded {
        img {
          border-radius: 50%;
        }
      }

      &.wp-block-image, &.wp-block-video {
        @include small-screen {
          max-width: 100%;
        }

        img, video {
          @include square(100%);
        }
      }
    }

    img {
      margin: size(40) auto;
      max-width: 100%;
    }

    p {
      margin-bottom: size(30);
      @include font(size(16), 400, size(24), $cheq-dark);
      @include min-medium-screen {
        font-size: size(22);
        line-height: size(30);
      }
      @include large-screen {
        font-size: size(24);
        line-height: size(32);
      }
    }

    h1, .headline-1 {
      @include marginY(size(24));
      @include font(size(32), 800, size(40), $cheq-dark);
      @include min-medium-screen {
        width: fit-content;
        font-size: size(56);
        line-height: size(64);
        margin-top: size(40);
      }
      @include large-screen {
        margin-top: size(80);
      }
    }

    h2, .headline-2 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include min-medium-screen {
        font-size: size(40);
        line-height: size(48);
        margin-top: size(40);
      }
      @include large-screen {
        margin-top: size(80);
      }
    }

    h3, .headline-3 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include min-medium-screen {
        font-size: size(32);
        line-height: size(40);
      }
      @include large-screen {
        @include marginY(size(32), size(24));
      }
    }

    h4, .headline-4 {
      @include marginY(size(24));
      @include font(size(24), 800, size(32), $cheq-dark);
      @include large-screen {
        margin-top: size(48);
      }
    }

    h5, .headline-5 {
      @include marginY(size(24));
      @include font(size(16), 800, size(24), $cheq-dark);
      @include large-screen {
        margin-top: size(32);
      }
    }

    h6, .headline-6 {
      @include marginY(size(24));
      @include font(size(14), 800, size(22), $cheq-dark);
    }

    blockquote {
      @include font(size(32), 800, size(40), $cheq-dark);
      @include marginY(size(24));

      cite {
        font-style: normal;
      }
    }

    ol {
      list-style: decimal;
      padding-left: size(20);
      margin-bottom: size(16);

      li {
        position: relative;
        padding: 0 size(24);
        @include font(size(16), 800, size(22), $cheq-dark);

        &:not(:last-child) {
          margin-bottom: size(10);
        }
      }
    }

    ul:not(.reset-ul) {
      margin-bottom: size(16);
      padding-top: 0;

      li {
        position: relative;
        padding: 0 size(24);
        @include font(size(16), 800, size(22), $cheq-dark);

        &:not(:last-child) {
          margin-bottom: size(10);
        }

        &:before {
          content: "";
          width: size(8);
          height: size(8);
          background-color: currentColor;
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .post-information {
      margin-top: size(60);
      @include large-screen {
        margin-top: size(80);
      }
    }
  }

  .author-image {
    padding-top: 100%;
    margin-bottom: size(16);
  }

  .other-blogs {
    margin-top: size(80);
    @include large-screen {
      margin-top: size(120);
    }

    .related-blogs-title {
      margin-bottom: size(60);
      @include small-screen {
        font-size: size(24);
        line-height: size(32);
        margin-bottom: size(32);
      }
    }

    .row {
      @include change-gutter($m-24, $m-24);
      @include min-medium-screen {
        @include change-gutter(size(40), size(40));
      }
      @include large-screen {
        @include change-gutter(size(40), size(80));
      }
    }

    .blog-box {
      display: flex;
      flex-direction: column;
      height: 100%;

      a {
        display: block;
      }
    }

    .blog-image {
      margin-bottom: size(16);
      padding-top: 52.5%;
    }

    .blog-title {
      color: $cheq-dark;
      margin-bottom: size(16);
      transition: color $duration;

      &:hover {
        color: #FC5776;
      }
    }

    .blog-description {
      margin-bottom: size(16);
    }

    .read-more {
      font-size: size(16);
      line-height: size(24);
      letter-spacing: size(0.64);
      margin-top: auto;
      text-transform: uppercase;

      span {
        background: $cheq-gradient-main;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0);
      }

      .angle {
        width: size(12);
        height: size(8);
        margin-left: size(8);
        background: $cheq-gradient-main;
      }
    }
  }
}
