@import "src/styles/variables";
@import "src/styles/mixins";

.download_report_block {
  background: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(160));
  }

  .download-report-wrapper {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }
    @include large-screen {
      max-width: size(1240);
      margin-right: auto;
    }
  }

  .left-content {
    margin-bottom: size(64);

    @include min-medium-screen {
      margin-bottom: 0;
      @include flexBasis(50.819%);
    }
  }

  .download-card {
    min-height: unset !important;
  }

  .text-and-icon {
    margin-top: 0 !important;
  }

  .aspect-ratio {
    padding-top: 80.65%;
  }

  .right-content {
    @include flexBasis(366);
    @include min-medium-screen {
      @include flexBasis(41%);
    }
  }

  .headline-1 {
    margin-bottom: size(60);
    font-size: size(32);
    line-height: size(40);
    @include large-screen {
      margin-bottom: size(80);
      font-size: size(56);
      line-height: size(64);
    }
  }

  .btn {
    padding: size(16) size(28);
  }




}
