@import "src/styles/variables";
@import "src/styles/mixins";

.common_types_of_invalid_traffic_block {
  background-color: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(160));
  }

  .content {
    margin-bottom: size(60);
    max-width: size(366);

    @include min-medium-screen {
      max-width: size(540);
    }
    @include large-screen {
      max-width: size(640);
    }

  }

  .headline-1 {
    margin-bottom: size(48);
  }

  .row {
    @include change-gutter(size(40), size(40));

    @include large-screen {
      @include change-gutter(size(32), size(32));
    }
    @include large-screen {
      @include change-gutter(size(40), size(60));
    }

  }

  .aspect-ratio {
    padding-top: 100%;
    margin-bottom: size(16);
  }

  .headline-4 {
    margin-bottom: size(16);
    color: $cheq-dark;
  }

  .headline-5 {
    font-weight: 400;
    color: $cheq-dark;
  }
}
