@import "src/styles/variables";
@import "src/styles/mixins";

.offices_block {
  @include paddingY(size(60), size(80));
  background: $cheq-white-purple;
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .row {
    @include change-gutter(size(32), size(32));
    @include large-screen {
      @include change-gutter(size(40), size(40));
    }
  }

  .headline-1 {
    margin-bottom: $m-24;
    width: 100%;
  }

  .headline-3 {
    margin-bottom: $m-60;
    color: $cheq-black;
    max-width: size(366);

    @include min-medium-screen {
      max-width: 90%;
    }
    @include large-screen {
      margin-bottom: $m-120;
      max-width: 60%;
    }
  }

  .location_link {
    &:hover {
      .hover-text {
        color: rgba(0, 0, 0, 0);
      }
    }
  }

  .aspect-ratio {
    padding-top: 100%;

  }

  .office-country {
    @include font(size(32), 800, size(40), $cheq-black);
    margin-top: $m-24;
    @include large-screen {
      margin-top: $m-40;
    }
  }
}
