@import "src/styles/variables";
@import "src/styles/mixins";

.cheq_for_you_form_block {
  background: $cheq-white;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }

  .headline-1 {
    margin-bottom: size(24);

  }

  .headline-3 {
    @include small-screen {
      font-size: size(16);
      line-height: size(24);
    }
    max-width: size(960);
    color: $cheq-dark;
    margin-bottom: size(24);
    @include min-medium-screen{
      margin-bottom: size(60);
    }
    @include large-screen{
      margin-bottom: size(80);
    }
  }

}
