@import "src/styles/variables";
@import "src/styles/mixins";


.blogs_block {
  background: $cheq-white;
  @include paddingY(size(30), size(80));
  @include min-medium-screen {
    padding-top: size(60);
  }
  @include large-screen {
    @include paddingY(size(60), size(170));
  }

  .blogs-title {
    margin-bottom: size(32);
    @include flex(center, space-between, false, wrap);
    @include large-screen {
      margin-bottom: size(60);
    }

    .headline-2 {
      @include min-medium-screen {
        max-width: 70%;
      }
      @include small-screen {
        font-size: size(24);
        line-height: size(32);
        margin-bottom: size(32);
      }
    }
  }

  .filter-by-category-wrapper {
    position: relative;
    width: size(168);
    @include small-screen {
      width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      right: size(6);
      top: size(9);
      //transform: translateY(-50%);
      width: size(12);
      height: size(8);
      background-image: url(../../images/select-angle.svg);
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  .filter-by-category {
    font-size: size(16);
    line-height: size(24);
    color: rgba(17, 18, 34, 0.4);
    width: 100%;
    padding-bottom: size(16);
    border: 0;
    border-bottom: 1px solid $cheq-dark;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
  }

  .row {
    @include change-gutter($m-24, $m-24);
    @include min-medium-screen {
      @include change-gutter(size(40), size(40));
    }
    @include large-screen {
      @include change-gutter(size(40), size(80));
    }
  }

  .blog-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      display: block;
    }
  }

  .blog-image {
    margin-bottom: size(16);
    padding-top: 52.5%;
  }

  .blog-title {
    color: $cheq-dark;
    margin-bottom: size(16);
    transition: color $duration;

    &:hover {
      color: #FC5776;
    }
  }

  .blog-description {
    margin-bottom: size(16);
  }

  .read-more {
    font-size: size(16);
    line-height: size(24);
    letter-spacing: size(0.64);
    margin-top: auto;
    text-transform: uppercase;

    span {
      background: $cheq-gradient-main;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0);
    }

    .angle {
      width: size(12);
      height: size(8);
      margin-left: size(8);
      background: $cheq-gradient-main;
    }
  }

  .load-more-wrapper {
    margin-top: size(60);
    @include large-screen {
      margin-top: size(80);
    }

    .btn {
      font-family: $avenir;
      @include min-medium-screen {
        padding: size(16) size(26.7);
      }
    }
  }
}
