@import "src/styles/variables";
@import "src/styles/mixins";

.support_block {
  //.logos-wrapper {
  //  @include flex(center, space-between, false, wrap);
  //  margin-bottom: -$m-32;
  //  @include small-screen {
  //    max-width: size(308);
  //    @include marginX(auto)
  //  }
  //  @include min-medium-screen {
  //    justify-content: space-between;
  //    margin-bottom: -$m-40;
  //  }
  //
  //
  //  .aspect-ratio {
  //    padding-top: 25%;
  //  }
  //
  //  .logo {
  //    margin-bottom: $m-32;
  //    flex-shrink: 0;
  //    flex-basis: 41.6%;
  //    @include min-medium-screen {
  //      flex-basis: 26%;
  //      margin-bottom: $m-40;
  //
  //    }
  //    @include large-screen {
  //      flex-basis: 10.01%;
  //    }
  //  }
  //
  //  a {
  //    &:before {
  //      display: none;
  //    }
  //  }
  //}
}
