@import "src/styles/variables";
@import "src/styles/mixins";

.all_case_studies_block {
  @include paddingY(size(40), size(80));
  @include min-medium-screen {
    @include paddingY(size(80));
  }
  @include large-screen {
    @include paddingY(size(60), size(120));
  }
  background: $cheq-white;

  .headline-2 {
    margin-bottom: size(32);
    @include min-medium-screen {
      margin-bottom: size(45);
    }
    @include large-screen {
      margin-bottom: size(60);
    }
  }


  .row {
    @include change-gutter(size(32), size(32));
    @include large-screen {
      @include change-gutter(size(40), size(80));
    }
  }

  .aspect-ratio {
    padding-top: 80%;
  }


}
