@import "src/styles/variables";
@import "src/styles/mixins";

.gallery_block {
  background: $cheq-white;
  @include paddingY(size(30), size(80));

  @include min-medium-screen {
    @include paddingY(size(60), size(120));
  }

  @include large-screen {
    @include paddingY(size(60), size(200));
  }

  .headline-1 {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    @include large-screen {
      margin-bottom: size(48);
    }
  }

  .paragraph {
    margin-bottom: size(60);
    @include min-medium-screen {
      margin-bottom: size(80);
      max-width: size(880);
    }
    @include large-screen {
      margin-bottom: size(120);
    }
  }

  .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: size(-12);
    @include large-screen {
      margin: size(-16);
    }
  }


  .picture-wrapper{
    min-height: size(171);
    @include flexBasis(43.85%);
    margin: size(10);
    @include min-medium-screen {
      @include flexBasis(47%);
    }

    @include large-screen {
      margin: size(16);
      height: size(296);
      @include flexBasis(22.5%);
    }

    &.big-width {
      @include flexBasis(100%);
      @include large-screen {
        @include flexBasis(47%);
      }
    }

  }


  picture {
    @include square(100%);
    transition: transform .4s cubic-bezier(0.74, 0.69, 0.32, 1.94), box-shadow .4s cubic-bezier(0.74, 0.69, 0.32, 1.94);

    &:hover {
      transform: scale(1.05);
      box-shadow: size(0) size(0) size(20) 0 rgba(56, 155, 255, 0.5), size(0) size(0) size(20) 0 rgba(253, 1, 115, 0.5);
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }
}
