.info_card_block{background-color:var(--cheq-dark);position:relative;z-index:2;overflow:visible;padding-top:22rem;padding-bottom:0}@media screen and (min-width: 600px){.info_card_block{padding-top:22rem;padding-bottom:12rem}}@media screen and (min-width: 992px){.info_card_block{padding-top:20rem;padding-bottom:20rem}}@media screen and (max-width: 599.98px){.info_card_block .container{padding-right:0;padding-left:0}}.info_card_block:before{content:" ";position:absolute;top:0;left:0;width:100%;height:100%;background:var(--cheq-dark);z-index:-2}@media screen and (min-width: 600px){.info_card_block:after{content:" ";position:absolute;bottom:0;left:0;width:100%;height:48.88%;background:var(--cheq-white-purple);z-index:-1}}.info_card_block.top:after{bottom:unset;top:0}


/*# sourceMappingURL=3319.main.css.map*/