.title_and_emails_blocks{background:var(--cheq-white);padding-top:2rem;padding-bottom:4rem}@media screen and (min-width: 600px){.title_and_emails_blocks{padding-top:4rem;padding-bottom:6rem}}@media screen and (min-width: 992px){.title_and_emails_blocks{padding-top:4rem;padding-bottom:8rem}}.title_and_emails_blocks .content-wrapper{display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;margin-bottom:-2.4rem;-webkit-flex-wrap:wrap;flex-wrap:wrap}@media screen and (min-width: 600px){.title_and_emails_blocks .content-wrapper{max-width:100rem;-webkit-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;justify-content:space-between}}.title_and_emails_blocks .title-and-email{margin-bottom:2.4rem}@media screen and (min-width: 600px){.title_and_emails_blocks .title-and-email{-webkit-flex-basis:33.33%;flex-basis:33.33%;width:33.33%}}.title_and_emails_blocks .fw-700{font-weight:700}@media screen and (min-width: 600px){.title_and_emails_blocks .fw-700{margin-top:1.6rem}}


/*# sourceMappingURL=5619.main.css.map*/