.cheq_for_you_form_block {
  background: var(--cheq-white);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .cheq_for_you_form_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .cheq_for_you_form_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  .cheq_for_you_form_block .headline-1 {
    margin-bottom: 2.4rem; }
  .cheq_for_you_form_block .headline-3 {
    max-width: 96rem;
    color: var(--cheq-dark);
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 599.98px) {
      .cheq_for_you_form_block .headline-3 {
        font-size: 1.6rem;
        line-height: 2.4rem; } }
    @media screen and (min-width: 600px) {
      .cheq_for_you_form_block .headline-3 {
        margin-bottom: 6rem; } }
    @media screen and (min-width: 992px) {
      .cheq_for_you_form_block .headline-3 {
        margin-bottom: 8rem; } }

