.offices_block {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background: var(--cheq-white-purple); }
  @media screen and (min-width: 992px) {
    .offices_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .offices_block .row {
    margin-right: -1.6rem;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    margin-bottom: -1.6rem; }
    .offices_block .row > div {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem; }
    @media screen and (min-width: 992px) {
      .offices_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .offices_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
  .offices_block .headline-1 {
    margin-bottom: 2.4rem;
    width: 100%; }
  .offices_block .headline-3 {
    margin-bottom: 6rem;
    color: var(--cheq-black);
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .offices_block .headline-3 {
        max-width: 90%; } }
    @media screen and (min-width: 992px) {
      .offices_block .headline-3 {
        margin-bottom: 12rem;
        max-width: 60%; } }
  .offices_block .location_link:hover .hover-text {
    color: rgba(0, 0, 0, 0); }
  .offices_block .aspect-ratio {
    padding-top: 100%; }
  .offices_block .office-country {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 4rem;
    color: var(--cheq-black);
    margin-top: 2.4rem; }
    @media screen and (min-width: 992px) {
      .offices_block .office-country {
        margin-top: 4rem; } }

