.solutions_hero {
  background-color: var(--cheq-white);
  padding-top: 2.4rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .solutions_hero {
      padding-top: 8rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .solutions_hero {
      padding-top: 16rem;
      padding-bottom: 16rem; } }
  .solutions_hero .headline-1 {
    margin-bottom: 6rem; }
  .solutions_hero .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-top: -1.2rem;
    margin-bottom: -1.2rem; }
    .solutions_hero .row > div {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    @media screen and (min-width: 600px) {
      .solutions_hero .row {
        margin-right: -1rem;
        margin-left: -1rem;
        margin-top: -1rem;
        margin-bottom: -1rem; }
        .solutions_hero .row > div {
          padding-right: 1rem;
          padding-left: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem; } }
    @media screen and (min-width: 992px) {
      .solutions_hero .row {
        margin-right: -1.6rem;
        margin-left: -1.6rem;
        margin-top: -1.6rem;
        margin-bottom: -1.6rem; }
        .solutions_hero .row > div {
          padding-right: 1.6rem;
          padding-left: 1.6rem;
          padding-top: 1.6rem;
          padding-bottom: 1.6rem; } }
  .solutions_hero .card {
    min-height: 29.6rem;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
            flex-direction: column; }
    .solutions_hero .card .headline-1 {
      margin-bottom: 0; }
    @media screen and (min-width: 600px) {
      .solutions_hero .card {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  @media screen and (min-width: 600px) {
    .solutions_hero picture {
      -webkit-flex-basis: 40%;
              flex-basis: 40%;
      width: 40%; } }
  @media screen and (min-width: 992px) {
    .solutions_hero picture {
      -webkit-flex-basis: 50%;
              flex-basis: 50%;
      width: 50%; } }
  .solutions_hero picture img {
    -o-object-fit: cover;
       object-fit: cover; }
  .solutions_hero .content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    background-image: linear-gradient(#389bff 0%, #72daff 100%);
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 4.5rem; }
    @media screen and (min-width: 600px) {
      .solutions_hero .content {
        -webkit-flex-basis: 60%;
                flex-basis: 60%;
        width: 60%;
        padding-right: 2.2rem;
        padding-left: 2.2rem;
        padding-top: 2.2rem;
        padding-bottom: 2.5rem; } }
    @media screen and (min-width: 992px) {
      .solutions_hero .content {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%;
        padding-right: 3.2rem;
        padding-left: 3.2rem;
        padding-top: 3.2rem;
        padding-bottom: 4.5rem; } }
  .solutions_hero .headline-4 {
    margin-bottom: 1.6rem;
    max-width: 15rem; }
  .solutions_hero .paragraph {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--cheq-white);
    margin-bottom: 2.9rem; }
    @media screen and (max-width: 599.98px) {
      .solutions_hero .paragraph {
        max-width: 30.2rem; } }
  .solutions_hero .arrow {
    width: 2rem;
    height: 1.4rem;
    margin-top: auto; }
    .solutions_hero .arrow svg {
      width: 100%;
      height: 100%; }
  .solutions_hero .main-title {
    background-color: var(--cheq-dark);
    padding: 8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    padding-top: 4rem;
    padding-bottom: 4.8rem;
    padding-right: 4rem;
    padding-left: 4rem;
    min-height: 16.8rem; }
    .solutions_hero .main-title .headline-1 {
      max-width: 16rem;
      background: unset;
      -webkit-text-fill-color: var(--cheq-white);
      color: var(--cheq-white); }
      @media screen and (min-width: 600px) {
        .solutions_hero .main-title .headline-1 {
          max-width: 26rem; } }

