.research_partners_block {
  background-color: var(--cheq-white);
  padding-top: 3rem; }
  @media screen and (min-width: 600px) {
    .research_partners_block {
      padding-top: 6rem;
      padding-bottom: 12rem; } }
  @media screen and (max-width: 599.98px) {
    .research_partners_block .container {
      padding: 0; } }
  .research_partners_block .headline-1 {
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
  .research_partners_block .logos-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    max-width: 100%; }
    @media screen and (min-width: 600px) {
      .research_partners_block .logos-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-top: 6rem; } }
  .research_partners_block .logos {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    min-height: 41.4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    padding: 4rem; }
    @media screen and (min-width: 600px) {
      .research_partners_block .logos {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .research_partners_block .logos {
        -webkit-flex-basis: 42.6rem;
                flex-basis: 42.6rem;
        width: 42.6rem;
        min-height: 42.6rem; } }
  .research_partners_block picture {
    max-width: 33rem;
    min-height: 15rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center; }
    .research_partners_block picture img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

