.marketing_bi_systems_block {
  padding-top: 4rem;
  padding-bottom: 0;
  background-color: var(--cheq-white-purple); }
  @media screen and (min-width: 600px) {
    .marketing_bi_systems_block {
      padding-top: 8rem;
      padding-bottom: 10rem; } }
  @media screen and (min-width: 992px) {
    .marketing_bi_systems_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  .marketing_bi_systems_block .headline-1 {
    margin-bottom: 4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
    @media screen and (min-width: 600px) {
      .marketing_bi_systems_block .headline-1 {
        margin-bottom: 6rem; } }
    @media screen and (min-width: 992px) {
      .marketing_bi_systems_block .headline-1 {
        padding: 0; } }
  .marketing_bi_systems_block .container {
    padding: 0; }
    @media screen and (min-width: 992px) {
      .marketing_bi_systems_block .container {
        padding-right: 20rem;
        padding-left: 20rem; } }
  .marketing_bi_systems_block .card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    background-color: var(--cheq-purple);
    padding-bottom: 6rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
    @media screen and (min-width: 992px) {
      .marketing_bi_systems_block .card {
        padding-right: 4.8rem;
        padding-left: 4.8rem; } }
  .marketing_bi_systems_block .headline-2 {
    color: var(--cheq-white);
    font-size: 4rem;
    line-height: 4.8rem; }
  .marketing_bi_systems_block .top-content {
    padding-bottom: 4.8rem;
    border-bottom: 1px solid var(--cheq-white);
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    .marketing_bi_systems_block .top-content .icon-parent {
      background: rgba(17, 18, 34, 0.6);
      padding: 3rem 2.6rem;
      width: 12.8rem;
      height: 12.8rem;
      margin-bottom: 4.8rem; }
      .marketing_bi_systems_block .top-content .icon-parent svg {
        width: 100%;
        height: 100%; }
    .marketing_bi_systems_block .top-content .headline-2 {
      color: var(--cheq-white);
      margin-bottom: 4.8rem; }
      @media screen and (max-width: 599.98px) {
        .marketing_bi_systems_block .top-content .headline-2 {
          max-width: 28rem; } }
  .marketing_bi_systems_block .bottom-content {
    padding-top: 4.8rem;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .marketing_bi_systems_block .bottom-content {
        -webkit-flex-basis: 49%;
                flex-basis: 49%;
        width: 49%; } }
    .marketing_bi_systems_block .bottom-content .card-title {
      margin-bottom: 2.4rem;
      color: var(--cheq-white); }
    .marketing_bi_systems_block .bottom-content .headline-2 {
      color: var(--cheq-white);
      margin-bottom: 2.4rem; }
      @media screen and (max-width: 599.98px) {
        .marketing_bi_systems_block .bottom-content .headline-2 {
          max-width: 30rem; } }
    .marketing_bi_systems_block .bottom-content .small-text {
      max-width: 13.8rem;
      margin-bottom: 2.4rem; }

