.marketing_analytics_block {
  background: var(--cheq-white-purple);
  padding-top: 4rem;
  padding-bottom: 0rem; }
  @media screen and (min-width: 600px) {
    .marketing_analytics_block {
      padding-top: 8rem;
      padding-bottom: 20rem; } }
  @media screen and (max-width: 599.98px) {
    .marketing_analytics_block .container {
      padding-right: 0;
      padding-left: 0; } }
  .marketing_analytics_block .title {
    margin-bottom: 4rem;
    max-width: 40rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem; }
    @media screen and (min-width: 600px) {
      .marketing_analytics_block .title {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0; } }
    @media screen and (min-width: 992px) {
      .marketing_analytics_block .title {
        margin-bottom: 6rem; } }
  .marketing_analytics_block .card-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      .marketing_analytics_block .card-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .marketing_analytics_block .card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    background: var(--cheq-purple); }
    @media screen and (min-width: 600px) {
      .marketing_analytics_block .card {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .marketing_analytics_block .card {
        padding-right: 2.6rem;
        padding-left: 4.8rem;
        min-height: 51.2rem;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
        -webkit-flex-basis: 33.33%;
                flex-basis: 33.33%;
        width: 33.33%; } }
  .marketing_analytics_block .top .paragraph {
    padding-bottom: 4.8rem; }
  .marketing_analytics_block .card-title {
    max-width: 34rem;
    font-size: 4rem;
    line-height: 4.8rem; }
  .marketing_analytics_block .icon-parent {
    background: rgba(17, 18, 34, 0.6);
    padding: 3rem 2.6rem;
    width: 12.8rem;
    height: 12.8rem; }
  .marketing_analytics_block .card-title {
    color: var(--cheq-white); }
  .marketing_analytics_block .card-title, .marketing_analytics_block .icon-parent {
    margin-bottom: 4.8rem; }
  .marketing_analytics_block .icon-parent {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center; }
    .marketing_analytics_block .icon-parent svg {
      width: 7.5rem;
      height: 7rem; }
  .marketing_analytics_block .paragraph {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin-top: auto; }
    @media screen and (max-width: 599.98px) {
      .marketing_analytics_block .paragraph {
        max-width: 36.6rem; } }
  .marketing_analytics_block .bottom {
    padding-top: 4.8rem;
    border-top: 1px solid var(--cheq-white);
    padding-bottom: 6rem; }
    .marketing_analytics_block .bottom .headline-4 {
      margin-bottom: 2.4rem; }
    .marketing_analytics_block .bottom .headline-2 {
      margin-bottom: 2.4rem;
      font-size: 4rem;
      line-height: 4.8rem; }
    .marketing_analytics_block .bottom .with-text {
      margin-bottom: 0; }
    .marketing_analytics_block .bottom .small-text {
      max-width: 17rem; }

