.download_report_block {
  background: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .download_report_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .download_report_block {
      padding-top: 16rem;
      padding-bottom: 16rem; } }
  .download_report_block .download-report-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      .download_report_block .download-report-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
    @media screen and (min-width: 992px) {
      .download_report_block .download-report-wrapper {
        max-width: 124rem;
        margin-right: auto; } }
  .download_report_block .left-content {
    margin-bottom: 6.4rem; }
    @media screen and (min-width: 600px) {
      .download_report_block .left-content {
        margin-bottom: 0;
        -webkit-flex-basis: 50.819%;
                flex-basis: 50.819%;
        width: 50.819%; } }
  .download_report_block .download-card {
    min-height: unset !important; }
  .download_report_block .text-and-icon {
    margin-top: 0 !important; }
  .download_report_block .aspect-ratio {
    padding-top: 80.65%; }
  .download_report_block .right-content {
    -webkit-flex-basis: 366;
            flex-basis: 366;
    width: 366; }
    @media screen and (min-width: 600px) {
      .download_report_block .right-content {
        -webkit-flex-basis: 41%;
                flex-basis: 41%;
        width: 41%; } }
  .download_report_block .headline-1 {
    margin-bottom: 6rem;
    font-size: 3.2rem;
    line-height: 4rem; }
    @media screen and (min-width: 992px) {
      .download_report_block .headline-1 {
        margin-bottom: 8rem;
        font-size: 5.6rem;
        line-height: 6.4rem; } }
  .download_report_block .btn {
    padding: 1.6rem 2.8rem; }

