.why_join_cheq_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .why_join_cheq_block {
      padding-top: 10rem;
      padding-bottom: 8rem; } }
  @media screen and (min-width: 992px) {
    .why_join_cheq_block {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 600px) {
    .why_join_cheq_block .why-join-cheq-wrapper {
      max-width: 77rem; } }
  @media screen and (min-width: 992px) {
    .why_join_cheq_block .why-join-cheq-wrapper {
      max-width: 97rem; } }
  .why_join_cheq_block .paragraph {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem; }
    @media screen and (min-width: 600px) {
      .why_join_cheq_block .paragraph {
        margin-top: 4.8rem;
        margin-bottom: 4.8rem; } }
  .why_join_cheq_block .faq:not(:last-child) {
    margin-bottom: 2.4rem; }
  .why_join_cheq_block .faq.active .head .headline-4 {
    color: rgba(0, 0, 0, 0); }
  .why_join_cheq_block .faq.active .head .arrow-right {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
    .why_join_cheq_block .faq.active .head .arrow-right:after {
      opacity: 1; }
  .why_join_cheq_block .head {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    @media screen and (max-width: 599.98px) {
      .why_join_cheq_block .head {
        width: 100%;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
  .why_join_cheq_block .headline-4 {
    color: var(--cheq-dark);
    background-size: 500% 500%;
    -webkit-animation: rainbow 2s ease-in-out infinite;
            animation: rainbow 2s ease-in-out infinite;
    transition: color 0.2s ease-in-out;
    background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    background-clip: text;
    -webkit-background-clip: text; }
  .why_join_cheq_block .arrow-right {
    width: 1.6rem;
    height: 1rem;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: var(--cheq-dark);
    margin-left: 1.9rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    overflow: hidden;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms; }
    .why_join_cheq_block .arrow-right:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      opacity: 0;
      transition: opacity 500ms; }
  .why_join_cheq_block .body {
    height: 0;
    overflow: hidden;
    margin: 0;
    position: relative; }
  .why_join_cheq_block .spacer-top, .why_join_cheq_block .spacer-bottom {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    height: 2.4rem; }
  .why_join_cheq_block .spacer-bottom {
    height: 0.7rem; }
    @media screen and (min-width: 600px) {
      .why_join_cheq_block .spacer-bottom {
        height: 2.4rem; } }
  .why_join_cheq_block .headline-2 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .why_join_cheq_block .headline-2 {
        font-size: 4rem;
        line-height: 4.8rem; } }

