.platform_hero {
  background: var(--cheq-white);
  padding-top: 2.4rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .platform_hero {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .platform_hero {
      padding-top: 20rem;
      padding-bottom: 20rem; } }
  .platform_hero .container {
    padding-right: 0; }
  .platform_hero .hero-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-end;
            align-items: flex-end; }
    @media screen and (min-width: 992px) {
      .platform_hero .hero-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: flex-start;
                align-items: flex-start; } }
  .platform_hero .left-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    padding-right: 2.4rem;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    margin-bottom: 6rem; }
    @media screen and (min-width: 992px) {
      .platform_hero .left-content {
        -webkit-flex-basis: 43.244%;
                flex-basis: 43.244%;
        width: 43.244%;
        margin-bottom: 0;
        padding-right: 0; } }
  .platform_hero .headline-1 {
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 599.98px) {
      .platform_hero .headline-1 {
        max-width: 24.6rem; } }
    @media screen and (min-width: 600px) {
      .platform_hero .headline-1 {
        margin-bottom: 4.8rem; } }
    @media screen and (min-width: 992px) {
      .platform_hero .headline-1 {
        max-width: 43.6rem; } }
  .platform_hero .paragraph {
    margin-bottom: 2.4rem;
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .platform_hero .paragraph {
        margin-bottom: 4.8rem;
        max-width: 65rem; } }
    @media screen and (min-width: 992px) {
      .platform_hero .paragraph {
        max-width: 58rem; } }
  .platform_hero .right-content {
    margin-left: auto;
    -webkit-flex-basis: 90%;
            flex-basis: 90%;
    width: 90%;
    -webkit-flex-shrink: 0;
            flex-shrink: 0; }
    @media screen and (min-width: 992px) {
      .platform_hero .right-content {
        margin-left: 0;
        -webkit-flex-basis: 56.76%;
                flex-basis: 56.76%;
        width: 56.76%; } }
    .platform_hero .right-content picture {
      padding-top: 74.28%;
      width: 100%;
      height: 100%; }
      .platform_hero .right-content picture img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  .platform_hero .logos {
    display: none; }
  .platform_hero.cas-hero {
    background-color: var(--cheq-dark-purple); }
    .platform_hero.cas-hero .container {
      padding-right: 2.4rem;
      padding-left: 2.4rem; }
      @media screen and (min-width: 600px) {
        .platform_hero.cas-hero .container {
          padding-right: 8rem;
          padding-left: 8rem; } }
      @media screen and (min-width: 992px) {
        .platform_hero.cas-hero .container {
          padding-right: 20rem;
          padding-left: 20rem; } }
    .platform_hero.cas-hero .left-content {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      margin-bottom: 0;
      padding-right: 0; }
    .platform_hero.cas-hero .headline-1 {
      max-width: 85rem; }
    .platform_hero.cas-hero .paragraph {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 3.2rem;
      color: var(--cheq-white); }
      @media screen and (min-width: 600px) {
        .platform_hero.cas-hero .paragraph {
          font-size: 3.2rem;
          line-height: 4rem;
          max-width: 98rem; } }
    .platform_hero.cas-hero .headline-3 {
      color: var(--cheq-white); }
    .platform_hero.cas-hero .headline-4 {
      color: var(--cheq-white); }
    .platform_hero.cas-hero .email-input {
      color: rgba(255, 255, 255, 0.4);
      border-color: var(--cheq-white); }
      .platform_hero.cas-hero .email-input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .platform_hero.cas-hero .email-input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .platform_hero.cas-hero .email-input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .platform_hero.cas-hero .email-input::placeholder {
        color: rgba(255, 255, 255, 0.4); }
    .platform_hero.cas-hero .logos {
      margin-bottom: -3.2rem;
      display: block; }
      .platform_hero.cas-hero .logos .headline-4 {
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        line-height: 3.2rem; }
        @media screen and (min-width: 600px) {
          .platform_hero.cas-hero .logos .headline-4 {
            margin-bottom: 4.8rem; } }
      @media screen and (min-width: 600px) {
        .platform_hero.cas-hero .logos {
          margin-bottom: -4rem; } }
      .platform_hero.cas-hero .logos .logos-wrapper {
        margin-right: unset;
        margin-left: unset; }
    .platform_hero.cas-hero .btn {
      margin-bottom: 2.4rem; }
      @media screen and (min-width: 600px) {
        .platform_hero.cas-hero .btn {
          margin-bottom: 4.8rem; } }
    .platform_hero.cas-hero .right-content {
      display: none; }

