.paidmarketing_hero_block {
  background: var(--cheq-dark);
  padding-top: 2.4rem;
  padding-bottom: 6.3rem; }
  @media screen and (min-width: 600px) {
    .paidmarketing_hero_block {
      padding-top: 12rem;
      padding-bottom: 10rem; } }
  @media screen and (min-width: 992px) {
    .paidmarketing_hero_block {
      padding-top: 16rem;
      padding-bottom: 17.8rem; } }
  .paidmarketing_hero_block .paidmarketing-hero-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .paidmarketing-hero-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
  .paidmarketing_hero_block .headline-1 {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
    line-height: 4rem; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .headline-1 {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .headline-1 {
        margin-bottom: 4.8rem;
        font-size: 5.6rem;
        line-height: 6.4rem; } }
  .paidmarketing_hero_block .paragraph {
    color: var(--cheq-white);
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .paragraph {
        margin-bottom: 4.8rem; } }
  .paidmarketing_hero_block .headline-4 {
    margin-bottom: 2.5rem; }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .headline-4 {
        margin-bottom: 5.4rem; } }
  .paidmarketing_hero_block .left-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4.55rem;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .left-content {
        -webkit-flex-basis: 42%;
                flex-basis: 42%;
        width: 42%; } }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .left-content {
        margin-bottom: 0;
        -webkit-flex-basis: 43.75%;
                flex-basis: 43.75%;
        width: 43.75%; } }
  .paidmarketing_hero_block .logos-wrapper {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -3.8rem;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .logos-wrapper {
        margin-bottom: -3rem;
        margin-right: -0.8rem;
        margin-left: -0.8rem;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        width: 100%; } }
    .paidmarketing_hero_block .logos-wrapper .logo {
      -webkit-flex-basis: 43%;
              flex-basis: 43%;
      width: 43%;
      margin-bottom: 3.8rem; }
      @media screen and (min-width: 600px) {
        .paidmarketing_hero_block .logos-wrapper .logo {
          -webkit-flex-basis: 22%;
                  flex-basis: 22%;
          width: 22%;
          margin-bottom: 3rem;
          margin-right: 0.8rem;
          margin-left: 0.8rem; } }
      .paidmarketing_hero_block .logos-wrapper .logo img {
        max-width: 100%;
        width: unset; }
  .paidmarketing_hero_block .btn {
    padding: 1.6rem 2.72rem;
    margin-top: 2.7rem; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .btn {
        margin-top: 4.8rem; } }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .btn {
        margin-top: 5.1rem; } }
  .paidmarketing_hero_block .right-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .paidmarketing_hero_block .right-content {
        -webkit-flex-basis: 48%;
                flex-basis: 48%;
        width: 48%; } }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block .right-content {
        -webkit-flex-basis: 46.9%;
                flex-basis: 46.9%;
        width: 46.9%; } }
    .paidmarketing_hero_block .right-content svg {
      width: 100%;
      height: 100%; }
  @media screen and (min-width: 600px) {
    .paidmarketing_hero_block.technology_hero {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
  @media screen and (max-width: 599.98px) {
    .paidmarketing_hero_block.technology_hero .left-content {
      margin-bottom: 2.4rem; } }
  @media screen and (min-width: 992px) {
    .paidmarketing_hero_block.technology_hero .left-content {
      padding-top: 12rem;
      padding-bottom: 14.6rem; } }
  .paidmarketing_hero_block.technology_hero .description {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 800; }
    @media screen and (min-width: 992px) {
      .paidmarketing_hero_block.technology_hero .description {
        font-size: 3.2rem;
        line-height: 4rem; } }
  .paidmarketing_hero_block.technology_hero .headline-4, .paidmarketing_hero_block.technology_hero .btn, .paidmarketing_hero_block.technology_hero .logos-wrapper, .paidmarketing_hero_block.technology_hero .hide-on-hero2 {
    display: none; }

