.why_customer_acquisition_security_matters {
  background: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .why_customer_acquisition_security_matters {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .why_customer_acquisition_security_matters {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .why_customer_acquisition_security_matters .security-matters-wrapper {
    max-width: 95%; }
    @media screen and (min-width: 600px) {
      .why_customer_acquisition_security_matters .security-matters-wrapper {
        max-width: 90%; } }
    @media screen and (min-width: 992px) {
      .why_customer_acquisition_security_matters .security-matters-wrapper {
        max-width: 96rem; } }
  .why_customer_acquisition_security_matters .content-wrapper:not(:last-child) {
    margin-bottom: 3.2rem; }
  @media screen and (min-width: 992px) {
    .why_customer_acquisition_security_matters .content-wrapper:not(:last-child) {
      margin-bottom: 4.8rem; } }
  .why_customer_acquisition_security_matters .headline-1 {
    margin-bottom: 3.2rem; }
    @media screen and (min-width: 600px) {
      .why_customer_acquisition_security_matters .headline-1 {
        margin-bottom: 4.8rem; } }
  .why_customer_acquisition_security_matters .headline-2 {
    margin-bottom: 2.4rem;
    font-size: 3.1rem;
    line-height: 4rem; }
    @media screen and (min-width: 600px) {
      .why_customer_acquisition_security_matters .headline-2 {
        max-width: 63rem; } }
    @media screen and (min-width: 992px) {
      .why_customer_acquisition_security_matters .headline-2 {
        font-size: 4rem;
        line-height: 4.8rem;
        max-width: 76.7rem; } }
  .why_customer_acquisition_security_matters .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 599.98px) {
      .why_customer_acquisition_security_matters .paragraph {
        font-size: 1.5rem; } }
  .why_customer_acquisition_security_matters .read-more {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center; }
    .why_customer_acquisition_security_matters .read-more span {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.2rem;
      background-size: 500% 500%;
      -webkit-animation: rainbow 2s ease-in-out infinite;
              animation: rainbow 2s ease-in-out infinite;
      transition: color 0.2s ease-in-out;
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0); }
    .why_customer_acquisition_security_matters .read-more svg {
      margin-left: 1.8rem; }

