.all_case_studies_block {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: var(--cheq-white); }
  @media screen and (min-width: 600px) {
    .all_case_studies_block {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
  @media screen and (min-width: 992px) {
    .all_case_studies_block {
      padding-top: 6rem;
      padding-bottom: 12rem; } }
  .all_case_studies_block .headline-2 {
    margin-bottom: 3.2rem; }
    @media screen and (min-width: 600px) {
      .all_case_studies_block .headline-2 {
        margin-bottom: 4.5rem; } }
    @media screen and (min-width: 992px) {
      .all_case_studies_block .headline-2 {
        margin-bottom: 6rem; } }
  .all_case_studies_block .row {
    margin-right: -1.6rem;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    margin-bottom: -1.6rem; }
    .all_case_studies_block .row > div {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem; }
    @media screen and (min-width: 992px) {
      .all_case_studies_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -4rem;
        margin-bottom: -4rem; }
        .all_case_studies_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 4rem;
          padding-bottom: 4rem; } }
  .all_case_studies_block .aspect-ratio {
    padding-top: 80%; }

