.customer_acquisition_block {
  background-color: var(--cheq-dark);
  padding-top: 7rem;
  padding-bottom: 1.6rem; }
  @media screen and (min-width: 992px) {
    .customer_acquisition_block {
      padding-top: 7rem;
      padding-top: 6.35rem;
      padding-bottom: 6.35rem; } }
  @media screen and (max-width: 599.98px) {
    .customer_acquisition_block .container {
      padding-right: 2.4rem;
      padding-left: 0; } }
  @media screen and (min-width: 992px) {
    .customer_acquisition_block .container {
      padding-right: 6.8rem; } }
  .customer_acquisition_block .customer-acquisition-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 992px) {
      .customer_acquisition_block .customer-acquisition-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .customer_acquisition_block .content {
    margin-bottom: 4rem;
    padding-left: 2.4rem; }
    @media screen and (min-width: 600px) {
      .customer_acquisition_block .content {
        padding-left: 0;
        margin-bottom: 8rem; } }
    @media screen and (min-width: 992px) {
      .customer_acquisition_block .content {
        -webkit-flex-basis: 37.5%;
                flex-basis: 37.5%;
        width: 37.5%;
        padding-top: 8rem;
        padding-bottom: 2rem;
        margin-bottom: 0; } }
  .customer_acquisition_block .headline-1 {
    background: none;
    color: var(--cheq-white);
    -webkit-text-fill-color: var(--cheq-white);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 4.8rem; }
    @media screen and (max-width: 599.98px) {
      .customer_acquisition_block .headline-1 {
        max-width: 36.6rem; } }
  .customer_acquisition_block .btn {
    padding: 1.6rem 2.77rem; }
  .customer_acquisition_block .image-wrapper {
    -webkit-flex-basis: 56.66%;
            flex-basis: 56.66%; }
  .customer_acquisition_block .aspect-ratio {
    padding-top: 60.8%; }
    .customer_acquisition_block .aspect-ratio img {
      -o-object-fit: contain;
         object-fit: contain; }
  @media screen and (max-width: 599.98px) {
    .customer_acquisition_block:after {
      width: 90% !important;
      height: 40% !important;
      -webkit-filter: blur(15rem) !important;
              filter: blur(15rem) !important; } }

