.download_now_block {
  background-color: var(--cheq-dark);
  padding-top: 8.5rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .download_now_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .download_now_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .download_now_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .download_now_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    @media screen and (min-width: 992px) {
      .download_now_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -4rem;
        margin-bottom: -4rem; }
        .download_now_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 4rem;
          padding-bottom: 4rem; } }
  .download_now_block .headline-1 {
    margin-bottom: 4rem; }
    @media screen and (min-width: 992px) {
      .download_now_block .headline-1 {
        margin-bottom: 6rem; } }
  .download_now_block .aspect-ratio {
    padding-top: 142%; }
  .download_now_block .headline-3 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-top: 2.4rem; }
    @media screen and (min-width: 992px) {
      .download_now_block .headline-3 {
        margin-top: 3.2rem; } }

