.open_positions_block {
  position: relative;
  z-index: 2;
  padding-top: 6rem;
  padding-bottom: 8rem;
  background: var(--cheq-dark); }
  @media screen and (min-width: 992px) {
    .open_positions_block {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  @media screen and (max-width: 599.98px) {
    .open_positions_block .container {
      padding-right: 0; } }
  .open_positions_block .paragraph {
    color: var(--cheq-white);
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .open_positions_block .paragraph {
        max-width: 55%;
        margin-top: 4.8rem;
        margin-bottom: 4.8rem; } }
    @media screen and (min-width: 992px) {
      .open_positions_block .paragraph {
        max-width: 49rem; } }
  .open_positions_block .tabs {
    border: 2px solid var(--cheq-purple);
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    height: 4rem;
    margin-bottom: 3.2rem;
    overflow: auto; }
    .open_positions_block .tabs ::-webkit-scrollbar {
      display: none !important; }
    @media screen and (max-width: 599.98px) {
      .open_positions_block .tabs {
        border-right: none;
        border-radius: 5px 0 0 5px; } }
    .open_positions_block .tabs .headline-5 {
      height: 100%;
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      cursor: pointer;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
      letter-spacing: 0.004rem;
      -webkit-flex-shrink: 0;
              flex-shrink: 0;
      transition: width 500ms;
      text-transform: uppercase; }
      .open_positions_block .tabs .headline-5:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        border-radius: 0.4rem;
        z-index: -1;
        opacity: 0;
        transition: opacity 500ms; }
      .open_positions_block .tabs .headline-5.active:after {
        opacity: 1; }
    @media screen and (min-width: 600px) {
      .open_positions_block .tabs {
        margin-bottom: 4.8rem;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content; } }
  .open_positions_block .row {
    padding-right: 2.4rem;
    margin-top: -1.2rem;
    margin-bottom: -1.2rem; }
    .open_positions_block .row > div {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    @media screen and (min-width: 600px) {
      .open_positions_block .row {
        margin-right: -1.2rem;
        margin-left: -1.2rem;
        margin-top: -1.2rem;
        margin-bottom: -1.2rem;
        padding-right: 0; }
        .open_positions_block .row > div {
          padding-right: 1.2rem;
          padding-left: 1.2rem;
          padding-top: 1.2rem;
          padding-bottom: 1.2rem; } }
    @media screen and (min-width: 992px) {
      .open_positions_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2.4rem;
        margin-bottom: -2.4rem; }
        .open_positions_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2.4rem;
          padding-bottom: 2.4rem; } }
  .open_positions_block .wrapper {
    min-height: 60rem; }
  .open_positions_block .jop-cards {
    background: linear-gradient(44.83deg, #8f5cf5 0%, #6633fe 100%);
    border-radius: 24px;
    min-height: 23.2rem;
    padding-right: 3.4rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .open_positions_block .jop-cards .title-and-arrow {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-align-items: center;
              align-items: center; }
    .open_positions_block .jop-cards .headline-4 {
      font-weight: 700; }
    .open_positions_block .jop-cards .arrow {
      -webkit-flex-shrink: 0;
              flex-shrink: 0; }
    .open_positions_block .jop-cards .headline-3 {
      font-size: 3.2rem;
      line-height: 4rem;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem; }
    .open_positions_block .jop-cards .headline-5 {
      font-size: 1.4rem;
      font-weight: 700;
      margin-top: auto; }
  .open_positions_block .text {
    text-transform: uppercase;
    letter-spacing: 0.004rem;
    margin-top: 2.4rem;
    background: var(--cheq-gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block; }
    @media screen and (min-width: 600px) {
      .open_positions_block .text {
        margin-top: 4.8rem; } }
  .open_positions_block:after, .open_positions_block:before {
    content: '';
    position: absolute;
    width: 64rem;
    height: 64rem;
    border-radius: 50%;
    z-index: -1;
    background: var(--cheq-purple);
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    display: none; }
    @media screen and (min-width: 992px) {
      .open_positions_block:after, .open_positions_block:before {
        display: -webkit-flex;
        display: flex;
        width: 64rem;
        height: 64rem;
        width: 64rem;
        height: 42.5rem; } }
  .open_positions_block:after {
    left: 0;
    top: 0; }
  .open_positions_block:before {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .open_positions_block .load-more-wrapper {
    margin-top: 2.4rem; }
    @media screen and (min-width: 600px) {
      .open_positions_block .load-more-wrapper {
        margin-top: 4.8rem; } }
  .open_positions_block .job-item {
    transition: opacity 500ms, -webkit-transform 500ms;
    transition: transform 500ms, opacity 500ms;
    transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
    -webkit-transform-origin: center;
            transform-origin: center; }
    .open_positions_block .job-item.animate-hide {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0; }
    .open_positions_block .job-item.animation-done {
      height: 0;
      padding: 0;
      -webkit-flex: 0 0 0;
              flex: 0 0 0;
      width: 0; }

