.gallery_block {
  background: var(--cheq-white);
  padding-top: 3rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .gallery_block {
      padding-top: 6rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .gallery_block {
      padding-top: 6rem;
      padding-bottom: 20rem; } }
  .gallery_block .headline-1 {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 600px) {
      .gallery_block .headline-1 {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .gallery_block .headline-1 {
        margin-bottom: 4.8rem; } }
  .gallery_block .paragraph {
    margin-bottom: 6rem; }
    @media screen and (min-width: 600px) {
      .gallery_block .paragraph {
        margin-bottom: 8rem;
        max-width: 88rem; } }
    @media screen and (min-width: 992px) {
      .gallery_block .paragraph {
        margin-bottom: 12rem; } }
  .gallery_block .gallery-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -1.2rem; }
    @media screen and (min-width: 992px) {
      .gallery_block .gallery-wrapper {
        margin: -1.6rem; } }
  .gallery_block .picture-wrapper {
    min-height: 17.1rem;
    -webkit-flex-basis: 43.85%;
            flex-basis: 43.85%;
    width: 43.85%;
    margin: 1rem; }
    @media screen and (min-width: 600px) {
      .gallery_block .picture-wrapper {
        -webkit-flex-basis: 47%;
                flex-basis: 47%;
        width: 47%; } }
    @media screen and (min-width: 992px) {
      .gallery_block .picture-wrapper {
        margin: 1.6rem;
        height: 29.6rem;
        -webkit-flex-basis: 22.5%;
                flex-basis: 22.5%;
        width: 22.5%; } }
    .gallery_block .picture-wrapper.big-width {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%; }
      @media screen and (min-width: 992px) {
        .gallery_block .picture-wrapper.big-width {
          -webkit-flex-basis: 47%;
                  flex-basis: 47%;
          width: 47%; } }
  .gallery_block picture {
    width: 100%;
    height: 100%;
    transition: box-shadow 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94), -webkit-transform 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94);
    transition: transform 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94), box-shadow 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94);
    transition: transform 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94), box-shadow 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94), -webkit-transform 0.4s cubic-bezier(0.74, 0.69, 0.32, 1.94); }
    .gallery_block picture:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      box-shadow: 0rem 0rem 2rem 0 rgba(56, 155, 255, 0.5), 0rem 0rem 2rem 0 rgba(253, 1, 115, 0.5); }
    .gallery_block picture img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

