.cheq_for {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background: var(--cheq-dark-purple); }
  @media screen and (min-width: 600px) {
    .cheq_for {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .cheq_for {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  @media screen and (max-width: 599.98px) {
    .cheq_for .container {
      padding: 0; } }
  .cheq_for .headline-2 {
    line-height: 4rem;
    margin-bottom: 6rem; }
    @media screen and (max-width: 599.98px) {
      .cheq_for .headline-2 {
        font-size: 3.2rem;
        padding-right: 2.4rem;
        padding-left: 2.4rem; } }
    @media screen and (min-width: 600px) {
      .cheq_for .headline-2 {
        margin-bottom: 4.8rem; } }
  .cheq_for .cheq-launches {
    margin-bottom: 6rem; }
    @media screen and (min-width: 600px) {
      .cheq_for .cheq-launches {
        margin-bottom: 4.8rem; } }
    @media screen and (min-width: 992px) {
      .cheq_for .cheq-launches .launches-text {
        padding-bottom: 4.8rem; } }
    .cheq_for .cheq-launches .headline-3 {
      margin-bottom: 0;
      max-width: 100%; }
    .cheq_for .cheq-launches .read-more {
      margin-top: 3.2rem; }
  .cheq_for .text-and-button {
    max-width: 88.2rem; }
    @media screen and (max-width: 599.98px) {
      .cheq_for .text-and-button {
        padding-right: 2.4rem;
        padding-left: 2.4rem; } }
    .cheq_for .text-and-button .paragraph, .cheq_for .text-and-button .headline-3 {
      margin-bottom: 2.4rem;
      color: var(--cheq-white) !important; }
      @media screen and (min-width: 600px) {
        .cheq_for .text-and-button .paragraph, .cheq_for .text-and-button .headline-3 {
          margin-bottom: 3.2rem; } }
      @media screen and (min-width: 992px) {
        .cheq_for .text-and-button .paragraph, .cheq_for .text-and-button .headline-3 {
          margin-bottom: 4.8rem; } }
    @media screen and (max-width: 599.98px) {
      .cheq_for .text-and-button .headline-3 {
        letter-spacing: -0.3px; } }
  .cheq_for .btn {
    padding: 1.6rem 2.704rem; }
  .cheq_for.white {
    background: var(--cheq-white-purple); }
    .cheq_for.white .text-and-button .paragraph, .cheq_for.white .text-and-button .headline-3 {
      color: var(--cheq-dark) !important; }

