.security_platform_block {
  background: var(--cheq-dark);
  padding-top: 6rem;
  padding-bottom: 0; }
  @media screen and (min-width: 600px) {
    .security_platform_block {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .security_platform_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  @media screen and (max-width: 599.98px) {
    .security_platform_block .container {
      padding-right: 0;
      padding-left: 0; } }
  .security_platform_block .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-top: -1.2rem;
    margin-bottom: -1.2rem; }
    .security_platform_block .row > div {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    @media screen and (min-width: 600px) {
      .security_platform_block .row {
        margin-right: -1rem;
        margin-left: -1rem;
        margin-top: -1rem;
        margin-bottom: -1rem; }
        .security_platform_block .row > div {
          padding-right: 1rem;
          padding-left: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem; } }
    @media screen and (min-width: 992px) {
      .security_platform_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .security_platform_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
  .security_platform_block .headline-1 {
    margin-bottom: 6rem; }
    @media screen and (max-width: 599.98px) {
      .security_platform_block .headline-1 {
        padding-right: 2.4rem;
        padding-left: 2.4rem;
        max-width: 36.6rem; } }
    @media screen and (min-width: 992px) {
      .security_platform_block .headline-1 {
        max-width: 88rem;
        margin-bottom: 8rem; } }
  .security_platform_block .card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    background: linear-gradient(44.83deg, #8f5cf5 0%, #6633fe 100%);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-right: 3.2rem;
    padding-left: 2.4rem;
    min-height: 112.9rem; }
    @media screen and (min-width: 992px) {
      .security_platform_block .card {
        padding: 3.2rem 2.4rem; } }
  .security_platform_block .headline-3 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 4rem;
    margin-bottom: 3.2rem; }
  .security_platform_block .aspect-ratio {
    padding-top: 64%;
    margin-bottom: 1.8rem; }
    .security_platform_block .aspect-ratio img {
      -o-object-fit: contain;
         object-fit: contain; }
  .security_platform_block .Challenge {
    border-top: 1px solid var(--cheq-white);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    min-height: 20.8rem; }
  .security_platform_block .headline-4 {
    margin-bottom: 1.6rem; }
  .security_platform_block .with-cheq {
    border-top: 1px solid var(--cheq-white);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    min-height: 20.9rem; }
  .security_platform_block .paragraph {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--cheq-white); }
  .security_platform_block .download {
    padding: 2.4rem;
    background: var(--cheq-white);
    border-radius: 16px;
    margin-bottom: 3.2rem;
    min-height: 20rem; }
  .security_platform_block .title-and-icon, .security_platform_block .image-and-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  .security_platform_block .title-and-icon {
    margin-bottom: 2.4rem; }
    .security_platform_block .title-and-icon .headline-4 {
      color: var(--cheq-dark);
      font-weight: 700;
      margin-bottom: 0; }
  .security_platform_block .icon {
    width: 2.2rem;
    height: 2.2rem;
    -webkit-flex-shrink: 0;
            flex-shrink: 0; }
    .security_platform_block .icon svg {
      width: 100%;
      height: 100%; }
  .security_platform_block .image-and-title picture {
    -webkit-flex-basis: 8rem;
            flex-basis: 8rem;
    width: 8rem;
    height: 6.4rem;
    margin-right: 1.6rem;
    -webkit-flex-shrink: 0;
            flex-shrink: 0; }
  .security_platform_block .image-and-title .headline-4 {
    color: var(--cheq-dark);
    margin-bottom: 0; }
  .security_platform_block .btn {
    padding: 1.6rem 2.704rem;
    margin-top: auto; }

