.blogs_block {
  background: var(--cheq-white);
  padding-top: 3rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .blogs_block {
      padding-top: 6rem; } }
  @media screen and (min-width: 992px) {
    .blogs_block {
      padding-top: 6rem;
      padding-bottom: 17rem; } }
  .blogs_block .blogs-title {
    margin-bottom: 3.2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media screen and (min-width: 992px) {
      .blogs_block .blogs-title {
        margin-bottom: 6rem; } }
    @media screen and (min-width: 600px) {
      .blogs_block .blogs-title .headline-2 {
        max-width: 70%; } }
    @media screen and (max-width: 599.98px) {
      .blogs_block .blogs-title .headline-2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 3.2rem; } }
  .blogs_block .filter-by-category-wrapper {
    position: relative;
    width: 16.8rem; }
    @media screen and (max-width: 599.98px) {
      .blogs_block .filter-by-category-wrapper {
        width: 100%; } }
    .blogs_block .filter-by-category-wrapper:after {
      content: '';
      position: absolute;
      right: 0.6rem;
      top: 0.9rem;
      width: 1.2rem;
      height: 0.8rem;
      background-image: url(/cheq/wp-content/themes/cheq/assets/images/select-angle.svg);
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none; }
  .blogs_block .filter-by-category {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(17, 18, 34, 0.4);
    width: 100%;
    padding-bottom: 1.6rem;
    border: 0;
    border-bottom: 1px solid var(--cheq-dark);
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none; }
  .blogs_block .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-top: -1.2rem;
    margin-bottom: -1.2rem; }
    .blogs_block .row > div {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    @media screen and (min-width: 600px) {
      .blogs_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .blogs_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
    @media screen and (min-width: 992px) {
      .blogs_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -4rem;
        margin-bottom: -4rem; }
        .blogs_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 4rem;
          padding-bottom: 4rem; } }
  .blogs_block .blog-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .blogs_block .blog-box a {
      display: block; }
  .blogs_block .blog-image {
    margin-bottom: 1.6rem;
    padding-top: 52.5%; }
  .blogs_block .blog-title {
    color: var(--cheq-dark);
    margin-bottom: 1.6rem;
    transition: color 500ms; }
    .blogs_block .blog-title:hover {
      color: #FC5776; }
  .blogs_block .blog-description {
    margin-bottom: 1.6rem; }
  .blogs_block .read-more {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.064rem;
    margin-top: auto;
    text-transform: uppercase; }
    .blogs_block .read-more span {
      background: var(--cheq-gradient-main);
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0); }
    .blogs_block .read-more .angle {
      width: 1.2rem;
      height: 0.8rem;
      margin-left: 0.8rem;
      background: var(--cheq-gradient-main); }
  .blogs_block .load-more-wrapper {
    margin-top: 6rem; }
    @media screen and (min-width: 992px) {
      .blogs_block .load-more-wrapper {
        margin-top: 8rem; } }
    .blogs_block .load-more-wrapper .btn {
      font-family: "Avenir LT Pro"; }
      @media screen and (min-width: 600px) {
        .blogs_block .load-more-wrapper .btn {
          padding: 1.6rem 2.67rem; } }

