.first_customer_block {
  background-color: var(--cheq-dark);
  padding-top: 8.5rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 992px) {
    .first_customer_block {
      padding-top: 17.8rem;
      padding-bottom: 20rem; } }
  .first_customer_block .container {
    padding-left: 0; }
  .first_customer_block .first-customer-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 992px) {
      .first_customer_block .first-customer-content {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .first_customer_block .img-wrapper {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    margin-bottom: 6rem; }
    @media screen and (max-width: 599.98px) {
      .first_customer_block .img-wrapper {
        padding-right: 0.8rem; } }
    @media screen and (min-width: 600px) {
      .first_customer_block .img-wrapper {
        -webkit-flex-basis: 70%;
                flex-basis: 70%;
        width: 70%; } }
    @media screen and (min-width: 992px) {
      .first_customer_block .img-wrapper {
        margin-bottom: 0;
        -webkit-flex-basis: 53.92%;
                flex-basis: 53.92%;
        width: 53.92%; } }
  .first_customer_block .aspect-ratio {
    padding-top: 78.19%; }
  .first_customer_block .text-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    padding-left: 2.4rem; }
    @media screen and (min-width: 600px) {
      .first_customer_block .text-content {
        padding-right: 8rem;
        padding-left: 8rem;
        -webkit-flex-basis: 90%;
                flex-basis: 90%;
        width: 90%; } }
    @media screen and (min-width: 992px) {
      .first_customer_block .text-content {
        padding-right: 0;
        padding-left: 0;
        -webkit-flex-basis: 33.33%;
                flex-basis: 33.33%;
        width: 33.33%;
        margin-top: 1.4rem; } }
  .first_customer_block .btn {
    padding: 1.6rem 2.75rem; }
  .first_customer_block .headline-1, .first_customer_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 600px) {
      .first_customer_block .headline-1, .first_customer_block .paragraph {
        margin-bottom: 4.8rem; } }
  .first_customer_block .headline-1 {
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .first_customer_block .headline-1 {
        max-width: 59.6rem; } }
  .first_customer_block .paragraph {
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .first_customer_block .paragraph {
        max-width: 50rem; } }
  .first_customer_block .circle-bg:after {
    left: 70%; }
    @media screen and (max-width: 599.98px) {
      .first_customer_block .circle-bg:after {
        height: 30%;
        width: 50%;
        -webkit-filter: blur(13rem);
                filter: blur(13rem); } }

