.title_and_cards_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 6rem; }
  @media screen and (min-width: 600px) {
    .title_and_cards_block {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
  @media screen and (min-width: 992px) {
    .title_and_cards_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  .title_and_cards_block .headline-1 {
    margin-bottom: 4rem; }
    @media screen and (min-width: 600px) {
      .title_and_cards_block .headline-1 {
        margin-bottom: 6rem; } }
    .title_and_cards_block .headline-1.white {
      color: var(--cheq-white);
      -webkit-text-fill-color: var(--cheq-white);
      background: unset;
      -webkit-animation: unset;
              animation: unset;
      background-size: unset;
      -webkit-background-clip: unset; }
  .title_and_cards_block .row {
    margin-right: -1.6rem;
    margin-left: -1.6rem;
    margin-top: -1.6rem;
    margin-bottom: -1.6rem; }
    .title_and_cards_block .row > div {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem; }
    @media screen and (min-width: 992px) {
      .title_and_cards_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .title_and_cards_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
  .title_and_cards_block .card {
    padding: 3.2rem;
    background-color: #3c1c60;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    @media screen and (min-width: 600px) {
      .title_and_cards_block .card {
        padding: 4.8rem; } }
  .title_and_cards_block .main-title {
    margin-bottom: 0.8rem; }
  .title_and_cards_block .headline-2 {
    color: var(--cheq-white);
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 599.98px) {
      .title_and_cards_block .headline-2 {
        font-size: 3.2rem;
        line-height: 4rem; } }
    @media screen and (min-width: 600px) {
      .title_and_cards_block .headline-2 {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .title_and_cards_block .headline-2 {
        margin-bottom: 4.8rem; } }
  .title_and_cards_block .fw-bold {
    font-weight: 700; }

