header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding-right: 3.4rem;
  padding-left: 2.4rem;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  -webkit-transform: translate(0);
          transform: translate(0);
  background-color: var(--cheq-dark-purple);
  transition: background-color 500ms; }
  @media screen and (min-width: 992px) {
    header {
      padding-right: 3.2rem;
      padding-left: 3.2rem;
      padding-top: 0rem;
      padding-bottom: 0rem; } }
  header .header-logo {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    width: 9.2rem;
    height: 2.4rem;
    z-index: 99;
    position: relative; }
    header .header-logo img, header .header-logo svg {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  header .navbar {
    position: fixed;
    top: 99%;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 100%;
    z-index: 90;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in; }
    @media screen and (min-width: 992px) {
      header .navbar {
        position: relative;
        -webkit-align-items: center;
                align-items: center;
        -webkit-flex-direction: row;
                flex-direction: row;
        overflow-y: visible;
        -webkit-transform: unset;
                transform: unset;
        width: auto; } }
    header .navbar.active {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      header .navbar.active:before {
        opacity: 0.6; }
  header .navbar-wrapper {
    padding-top: 2.4rem;
    padding-bottom: 10rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    background-color: var(--cheq-dark-purple);
    width: 100%;
    height: 100vh;
    transition: padding 500ms;
    overflow: scroll; }
    @media screen and (min-width: 600px) {
      header .navbar-wrapper {
        padding-top: 7rem;
        padding-bottom: 15rem; } }
    @media screen and (min-width: 992px) {
      header .navbar-wrapper {
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto;
        overflow: visible; } }
  header .primary-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      header .primary-menu {
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto; } }
    @media screen and (min-width: 992px) {
      header .primary-menu {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        border: none;
        max-width: 100%;
        margin: 0; } }
    header .primary-menu > .menu-item {
      cursor: pointer; }
      header .primary-menu > .menu-item:not(:last-child) {
        margin-bottom: 3.2rem; }
        @media screen and (min-width: 992px) {
          header .primary-menu > .menu-item:not(:last-child) {
            margin: 0;
            padding-right: 2.8rem;
            padding-left: 2.8rem;
            padding-top: 2.8rem;
            padding-bottom: 2.8rem; } }
      header .primary-menu > .menu-item a {
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.002rem;
        text-transform: uppercase;
        font-weight: 700;
        background-size: 500% 500%;
        -webkit-animation: rainbow 2s ease-in-out infinite;
                animation: rainbow 2s ease-in-out infinite;
        transition: color 0.2s ease-in-out;
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: #a0a0a7;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: block; }
      @media screen and (min-width: 992px) {
        header .primary-menu > .menu-item:hover > a {
          color: rgba(0, 0, 0, 0); } }
      header .primary-menu > .menu-item.current-menu-item > a {
        color: rgba(0, 0, 0, 0); }
    header .primary-menu .cta-button {
      min-width: 20.4rem;
      padding: 1.6rem 2rem; }
      @media screen and (min-width: 992px) {
        header .primary-menu .cta-button {
          margin-left: 3.2rem; } }
      header .primary-menu .cta-button a {
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: 0.004rem;
        color: var(--cheq-white) !important; }
  header .menu-item-has-children {
    position: relative; }
    header .menu-item-has-children .arrow {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
      position: absolute;
      top: 0;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      width: 1.2rem;
      height: 0.8rem;
      right: 0;
      transition: -webkit-transform 500ms;
      transition: transform 500ms;
      transition: transform 500ms, -webkit-transform 500ms; }
      header .menu-item-has-children .arrow svg {
        width: 100%;
        height: 100%; }
      @media screen and (min-width: 992px) {
        header .menu-item-has-children .arrow {
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); } }
    @media screen and (min-width: 992px) {
      header .menu-item-has-children:after {
        content: "";
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        width: 100%;
        height: 0.6rem;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 500ms; } }
    @media screen and (min-width: 992px) {
      header .menu-item-has-children:hover:after {
        opacity: 1; }
      header .menu-item-has-children:hover .arrow {
        -webkit-transform: translateY(-50%) scaleY(-1);
                transform: translateY(-50%) scaleY(-1); }
        header .menu-item-has-children:hover .arrow .white {
          display: none; } }
    header .menu-item-has-children:hover .sub-menu {
      opacity: 1;
      pointer-events: visible; }
    header .menu-item-has-children.active .arrow {
      -webkit-transform: scaleY(-1);
              transform: scaleY(-1); }
      header .menu-item-has-children.active .arrow .white {
        display: none; }
  header .sub-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 992px) {
      header .sub-menu {
        height: auto;
        min-height: 35.2rem;
        background: var(--cheq-purple);
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 0;
        padding: 2.4rem;
        transition: opacity 500ms;
        pointer-events: none;
        -webkit-flex-direction: row;
                flex-direction: row; } }
    header .sub-menu .menu-item a {
      color: var(--cheq-white) !important; }
    header .sub-menu .menu-item:not(:last-child) {
      margin-bottom: 2.4rem; }
    header .sub-menu .menu-item:hover > a {
      color: rgba(0, 0, 0, 0) !important; }
    header .sub-menu .menu-item.current-menu-item > a {
      color: rgba(0, 0, 0, 0) !important; }
    header .sub-menu .title {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 100%;
      color: #888890;
      margin-bottom: 2.4rem; }
    header .sub-menu .left {
      padding: 2.4rem;
      background: var(--cheq-purple);
      margin-top: 3.2rem; }
      @media screen and (min-width: 992px) {
        header .sub-menu .left {
          -webkit-flex-basis: 20rem;
                  flex-basis: 20rem;
          width: 20rem;
          margin-right: 4.8rem;
          padding: 0;
          margin-top: 0; } }
      header .sub-menu .left .menu-item-logs {
        padding: 2rem;
        background: var(--cheq-white);
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
                align-items: center;
        -webkit-justify-content: center;
                justify-content: center;
        min-height: 8rem;
        max-width: 20rem; }
        @media screen and (min-width: 992px) {
          header .sub-menu .left .menu-item-logs {
            width: 100%; } }
        header .sub-menu .left .menu-item-logs picture {
          max-width: 12rem;
          height: 4rem; }
    header .sub-menu .right {
      padding: 2.4rem;
      background: var(--cheq-purple); }
      @media screen and (min-width: 992px) {
        header .sub-menu .right {
          -webkit-flex-basis: 32.4rem;
                  flex-basis: 32.4rem;
          width: 32.4rem;
          padding: 0; } }
      header .sub-menu .right .image-and-text-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -webkit-justify-content: space-between;
                justify-content: space-between; }
        header .sub-menu .right .image-and-text-wrapper a:hover picture {
          -webkit-transform: scale(1.02);
                  transform: scale(1.02); }
        header .sub-menu .right .image-and-text-wrapper:not(:last-child) {
          margin-bottom: 2.4rem; }
        header .sub-menu .right .image-and-text-wrapper picture {
          -webkit-flex-basis: 8rem;
                  flex-basis: 8rem;
          width: 8rem;
          height: 8rem;
          transition: -webkit-transform 500ms;
          transition: transform 500ms;
          transition: transform 500ms, -webkit-transform 500ms; }
          header .sub-menu .right .image-and-text-wrapper picture img {
            -o-object-fit: cover;
               object-fit: cover; }
        header .sub-menu .right .image-and-text-wrapper .text-wrapper {
          -webkit-flex-basis: 22.8rem;
                  flex-basis: 22.8rem;
          width: 22.8rem; }
          header .sub-menu .right .image-and-text-wrapper .text-wrapper .main-title, header .sub-menu .right .image-and-text-wrapper .text-wrapper .description {
            font-weight: 700;
            transition: color 500ms;
            color: #888890; }
          header .sub-menu .right .image-and-text-wrapper .text-wrapper .main-title {
            color: var(--cheq-white);
            margin-bottom: 0.8rem;
            transition: color 500ms; }
            header .sub-menu .right .image-and-text-wrapper .text-wrapper .main-title:hover {
              color: #fc5776; }
    header .sub-menu.reverse {
      -webkit-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      header .sub-menu.reverse .left {
        margin: 0; }
      header .sub-menu.reverse .right {
        margin-top: 3.2rem; }
        @media screen and (min-width: 992px) {
          header .sub-menu.reverse .right {
            margin-right: 4.8rem;
            margin-top: 0; } }
      @media screen and (min-width: 992px) {
        header .sub-menu.reverse {
          -webkit-flex-direction: row-reverse;
                  flex-direction: row-reverse; } }
  header .burger-and-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    z-index: 99; }
    header .burger-and-menu span {
      color: var(--cheq-black);
      font-size: 1.2rem;
      font-weight: 500; }
    @media screen and (min-width: 992px) {
      header .burger-and-menu {
        display: none; } }
  header .menu {
    width: 1.9rem;
    height: 1.9rem;
    position: relative;
    z-index: 99;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-flex-shrink: 0;
            flex-shrink: 0; }
  header .burger-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0; }
    header .burger-menu:focus {
      outline: none !important; }
    header .burger-menu span {
      display: block;
      width: 100%;
      height: 0.3rem;
      margin-bottom: 0.3rem;
      position: relative;
      z-index: 1; }
      header .burger-menu span:after, header .burger-menu span:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--cheq-white);
        opacity: .99;
        transition: background-color 600ms;
        display: table; }
      header .burger-menu span:nth-of-type(even):before {
        -webkit-transform-origin: right;
                transform-origin: right;
        -webkit-transform: scaleX(0) translateZ(0);
                transform: scaleX(0) translateZ(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
      header .burger-menu span:nth-of-type(even):after {
        -webkit-transform-origin: left;
                transform-origin: left;
        -webkit-transform: scaleX(1) translateZ(0);
                transform: scaleX(1) translateZ(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
      header .burger-menu span:before {
        -webkit-transform-origin: right;
                transform-origin: right;
        -webkit-transform: scaleX(1) translateZ(0);
                transform: scaleX(1) translateZ(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
      header .burger-menu span:after {
        -webkit-transform-origin: left;
                transform-origin: left;
        -webkit-transform: scaleX(0) translateZ(0);
                transform: scaleX(0) translateZ(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
      header .burger-menu span:last-child {
        margin: 0 auto; }
      header .burger-menu span:first-child {
        margin: 0 auto 0.3rem; }
    header .burger-menu:hover span:nth-of-type(even):before {
      -webkit-transform: scaleX(1) translateZ(0);
              transform: scaleX(1) translateZ(0);
      transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
    header .burger-menu:hover span:nth-of-type(even):after {
      -webkit-transform: scaleX(0) translateZ(0);
              transform: scaleX(0) translateZ(0);
      transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    header .burger-menu:hover span:before {
      -webkit-transform: scaleX(0) translateZ(0);
              transform: scaleX(0) translateZ(0);
      transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    header .burger-menu:hover span:after {
      -webkit-transform: scaleX(1) translateZ(0);
              transform: scaleX(1) translateZ(0);
      transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
    header .burger-menu.active span:after, header .burger-menu.active span:before {
      background-color: var(--cheq-white); }
  header.white-header {
    background-color: var(--cheq-white); }
    header.white-header .menu-item a {
      color: #a0a0a7; }
    header.white-header .burger-menu span:after, header.white-header .burger-menu span:before {
      background-color: var(--cheq-dark-purple); }
    header.white-header .burger-menu.active span:after, header.white-header .burger-menu.active span:before {
      background-color: var(--cheq-dark-purple); }
    header.white-header .navbar-wrapper {
      background-color: var(--cheq-white); }
    header.white-header .menu-item-has-children .arrow svg .white {
      fill: #a0a0a7; }

