.cas_block {
  background: var(--cheq-white-purple);
  padding-top: 8rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 992px) {
    .cas_block {
      padding-top: 11rem;
      padding-bottom: 11rem; } }
  @media screen and (max-width: 599.98px) {
    .cas_block .container {
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .cas_block .container {
      padding-right: 11rem; } }
  .cas_block .global-traffic-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 992px) {
      .cas_block .global-traffic-content {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .cas_block .text-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    margin-bottom: 8.6rem; }
    @media screen and (min-width: 600px) {
      .cas_block .text-content {
        -webkit-flex-basis: 85%;
                flex-basis: 85%;
        width: 85%;
        padding: 0;
        margin-bottom: 6rem; } }
    @media screen and (min-width: 992px) {
      .cas_block .text-content {
        -webkit-flex-basis: 36%;
                flex-basis: 36%;
        width: 36%;
        margin-top: 8rem;
        margin-right: -16rem;
        margin-bottom: 0; } }
  .cas_block .headline-1, .cas_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .cas_block .headline-1, .cas_block .paragraph {
        margin-bottom: 4.8rem; } }
  .cas_block .btn {
    padding: 1.6rem 2.7rem; }
  .cas_block .traffic-map {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 992px) {
      .cas_block .traffic-map {
        -webkit-flex-basis: 69.2%;
                flex-basis: 69.2%;
        width: 69.2%;
        margin-left: auto; } }
  .cas_block img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

