.title_and_two_cards_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem; }
  @media screen and (min-width: 600px) {
    .title_and_two_cards_block {
      padding-top: 6rem;
      padding-bottom: 10rem; } }
  @media screen and (min-width: 992px) {
    .title_and_two_cards_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  @media screen and (max-width: 599.98px) {
    .title_and_two_cards_block .container {
      padding-right: 0;
      padding-left: 0; } }
  .title_and_two_cards_block .main-title {
    margin-bottom: 6rem; }
    @media screen and (max-width: 599.98px) {
      .title_and_two_cards_block .main-title {
        padding-right: 2.4rem;
        padding-left: 2.4rem; } }
  .title_and_two_cards_block .cards {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media screen and (min-width: 600px) {
      .title_and_two_cards_block .cards {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .title_and_two_cards_block .card {
    background-color: var(--cheq-dark-purple);
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 8.4rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem; }
    @media screen and (min-width: 600px) {
      .title_and_two_cards_block .card {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%;
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
        padding: 6.4rem 4rem 4rem; } }
    .title_and_two_cards_block .card .aspect-ratio {
      padding-top: 91.43%; }
    .title_and_two_cards_block .card .headline-1 {
      margin-bottom: 0.8rem; }
      @media screen and (min-width: 600px) {
        .title_and_two_cards_block .card .headline-1 {
          margin-bottom: 1.6rem; } }
    .title_and_two_cards_block .card .headline-2 {
      color: var(--cheq-white);
      margin-bottom: 0.8rem; }
      @media screen and (min-width: 600px) {
        .title_and_two_cards_block .card .headline-2 {
          margin-bottom: 1.6rem; } }
    @media screen and (max-width: 599.98px) {
      .title_and_two_cards_block .card .paragraph {
        max-width: 36.6rem; } }
    .title_and_two_cards_block .card .content {
      margin-top: 4.6rem; }
      @media screen and (max-width: 599.98px) {
        .title_and_two_cards_block .card .content {
          padding-right: 1.7rem;
          padding-left: 1.7rem; } }
      @media screen and (min-width: 992px) {
        .title_and_two_cards_block .card .content {
          margin-top: 6.4rem; } }

