.awards_and_accolades_block {
  background: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .awards_and_accolades_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .awards_and_accolades_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .awards_and_accolades_block .headline-1 {
    margin-bottom: 2.4rem; }
  .awards_and_accolades_block .headline-3 {
    margin-bottom: 6rem;
    color: var(--cheq-dark); }
    @media screen and (min-width: 600px) {
      .awards_and_accolades_block .headline-3 {
        margin-bottom: 8rem; } }
    @media screen and (min-width: 992px) {
      .awards_and_accolades_block .headline-3 {
        max-width: 70%; } }
  .awards_and_accolades_block .awards-and-accolades-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: -4rem;
    margin-bottom: -4rem;
    margin-right: -1rem;
    margin-left: -1rem; }
    @media screen and (min-width: 600px) {
      .awards_and_accolades_block .awards-and-accolades-wrapper {
        margin-right: -1.6rem;
        margin-left: -1.6rem; } }
  .awards_and_accolades_block a {
    border-radius: 50%;
    overflow: hidden;
    -webkit-flex-shrink: 0;
            flex-shrink: 0; }
  .awards_and_accolades_block .logos-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem; }
    @media screen and (min-width: 600px) {
      .awards_and_accolades_block .logos-wrapper {
        margin-right: 1.6rem;
        margin-left: 1.6rem; } }
  .awards_and_accolades_block .headline-5 {
    margin-left: 2.4rem;
    font-size: 1.4rem;
    color: var(--cheq-dark);
    font-weight: 700;
    letter-spacing: 0.002rem;
    text-transform: uppercase;
    max-width: 10.4rem; }
    @media screen and (min-width: 992px) {
      .awards_and_accolades_block .headline-5 {
        max-width: 14.4rem; } }
  .awards_and_accolades_block picture {
    width: 12.8rem;
    height: 12.8rem;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden; }
    .awards_and_accolades_block picture img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }

