.global_traffic_block {
  background: var(--cheq-white-purple);
  padding-top: 8rem;
  padding-bottom: 4rem; }
  @media screen and (min-width: 992px) {
    .global_traffic_block {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .global_traffic_block .container {
      padding-right: 8rem; } }
  .global_traffic_block .global-traffic-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 992px) {
      .global_traffic_block .global-traffic-content {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .global_traffic_block .text-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    z-index: 2; }
    @media screen and (min-width: 600px) {
      .global_traffic_block .text-content {
        -webkit-flex-basis: 65%;
                flex-basis: 65%;
        width: 65%; } }
    @media screen and (min-width: 992px) {
      .global_traffic_block .text-content {
        -webkit-flex-basis: 34.55%;
                flex-basis: 34.55%;
        width: 34.55%;
        margin-top: 8rem; } }
  .global_traffic_block .headline-1, .global_traffic_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .global_traffic_block .headline-1, .global_traffic_block .paragraph {
        margin-bottom: 4.8rem; } }
  .global_traffic_block .paragraph strong {
    font-weight: 800; }
  .global_traffic_block .traffic-map {
    -webkit-flex-basis: 64.72%;
            flex-basis: 64.72%;
    width: 64.72%; }
  .global_traffic_block .big-img {
    margin-left: -33rem;
    width: 102.4rem;
    -webkit-filter: drop-shadow(3px 16px 23px #b6b1d7);
            filter: drop-shadow(3px 16px 23px #b6b1d7); }
    @media screen and (min-width: 600px) {
      .global_traffic_block .big-img {
        margin-left: -10.4rem; } }

