.image_and_text_block {
  background-color: var(--cheq-white);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .image_and_text_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .image_and_text_block {
      padding-top: 16rem;
      padding-bottom: 16.8rem; } }
  .image_and_text_block .image-and-text-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media screen and (min-width: 600px) {
      .image_and_text_block .image-and-text-wrapper {
        max-width: 122rem;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center; } }
  @media screen and (max-width: 599.98px) {
    .image_and_text_block .container {
      padding: 0; } }
  .image_and_text_block .left-content {
    margin-bottom: 6rem; }
    @media screen and (min-width: 600px) {
      .image_and_text_block .left-content {
        -webkit-flex-basis: 45%;
                flex-basis: 45%;
        width: 45%;
        margin-bottom: 0; } }
    @media screen and (min-width: 992px) {
      .image_and_text_block .left-content {
        -webkit-flex-basis: 50.82%;
                flex-basis: 50.82%;
        width: 50.82%; } }
  .image_and_text_block img {
    height: auto; }
  .image_and_text_block .right-content {
    margin-right: 2.4rem;
    margin-left: 2.4rem; }
    @media screen and (min-width: 600px) {
      .image_and_text_block .right-content {
        -webkit-flex-basis: 45%;
                flex-basis: 45%;
        width: 45%;
        margin: 0; } }
    @media screen and (min-width: 992px) {
      .image_and_text_block .right-content {
        -webkit-flex-basis: 40.9%;
                flex-basis: 40.9%;
        width: 40.9%; } }
  .image_and_text_block .headline-1 {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 600px) and (max-width: 991.98px) {
      .image_and_text_block .headline-1 {
        font-size: 3.2rem;
        line-height: 4rem; } }
    @media screen and (min-width: 600px) {
      .image_and_text_block .headline-1 {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .image_and_text_block .headline-1 {
        margin-bottom: 4.8rem; } }
  .image_and_text_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 600px) {
      .image_and_text_block .paragraph {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .image_and_text_block .paragraph {
        margin-bottom: 4.8rem;
        max-width: 48rem; } }
  .image_and_text_block .btn {
    padding: 1.6rem 2.84rem; }

