.leadership_block {
  background: var(--cheq-dark);
  z-index: 2;
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .leadership_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .leadership_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .leadership_block .row {
    position: relative;
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-top: -1.2rem;
    margin-bottom: -1.2rem; }
    .leadership_block .row > div {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem; }
    @media screen and (min-width: 600px) {
      .leadership_block .row {
        margin-right: -3rem;
        margin-left: -3rem;
        margin-top: -5rem;
        margin-bottom: -5rem; }
        .leadership_block .row > div {
          padding-right: 3rem;
          padding-left: 3rem;
          padding-top: 5rem;
          padding-bottom: 5rem; } }
    @media screen and (min-width: 992px) {
      .leadership_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -6rem;
        margin-bottom: -6rem; }
        .leadership_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 6rem;
          padding-bottom: 6rem; } }
    .leadership_block .row:after, .leadership_block .row:before, .leadership_block .row .circle {
      content: '';
      position: absolute;
      width: 64rem;
      height: 64rem;
      border-radius: 50%;
      z-index: 0;
      background: var(--cheq-purple);
      -webkit-filter: blur(20rem);
              filter: blur(20rem);
      display: none; }
      @media screen and (min-width: 600px) {
        .leadership_block .row:after, .leadership_block .row:before, .leadership_block .row .circle {
          width: 32rem;
          height: 32rem;
          display: -webkit-flex;
          display: flex; } }
      @media screen and (min-width: 992px) {
        .leadership_block .row:after, .leadership_block .row:before, .leadership_block .row .circle {
          width: 64rem;
          height: 64rem; } }
    .leadership_block .row:after {
      bottom: 0;
      left: 0; }
    .leadership_block .row:before {
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .leadership_block .row .circle {
      top: 0;
      left: 0; }
  .leadership_block .card-parent {
    z-index: 2; }
  .leadership_block .big-avatar {
    border-radius: 50%;
    width: 32rem;
    height: 32rem; }
    .leadership_block .big-avatar img {
      -o-object-fit: cover;
         object-fit: cover; }
  .leadership_block .headline-1 {
    margin-bottom: 2.4rem; }
  .leadership_block .headline-3 {
    margin-bottom: 6rem;
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .leadership_block .headline-3 {
        margin-bottom: 12rem;
        max-width: 90%; } }
    @media screen and (min-width: 992px) {
      .leadership_block .headline-3 {
        max-width: 90rem; } }
  .leadership_block .paragraph {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem; }

