.featured_on_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .featured_on_block {
      padding-top: 9rem;
      padding-bottom: 9rem; } }
  @media screen and (min-width: 992px) {
    .featured_on_block {
      padding-top: 12rem;
      padding-bottom: 20rem; } }
  .featured_on_block .headline-1 {
    margin-bottom: 2.4rem; }
  .featured_on_block .headline-3 {
    margin-bottom: 6rem;
    color: var(--cheq-dark); }
    @media screen and (min-width: 992px) {
      .featured_on_block .headline-3 {
        max-width: 88rem;
        margin-bottom: 8rem; } }
  .featured_on_block .logos-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    margin-top: -1.6rem;
    margin-bottom: -1.6rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 100% !important;
    width: 100% !important; }
    @media screen and (min-width: 600px) {
      .featured_on_block .logos-wrapper {
        max-width: 124.8rem;
        margin: -4rem; } }
  .featured_on_block .logo {
    -webkit-flex-basis: auto !important;
            flex-basis: auto !important;
    width: auto !important;
    margin: 1.6rem !important; }
    @media screen and (min-width: 600px) {
      .featured_on_block .logo {
        margin: 4rem !important; } }
  .featured_on_block a {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0; }
    @media screen and (min-width: 600px) {
      .featured_on_block a {
        width: 12.8rem;
        height: 12.8rem; } }
  .featured_on_block picture {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
    overflow: hidden; }
    @media screen and (min-width: 600px) {
      .featured_on_block picture {
        width: 12.8rem;
        height: 12.8rem; } }
    .featured_on_block picture img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

