.title_and_descrption_block {
  background: var(--cheq-dark);
  padding-top: 8rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .title_and_descrption_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .title_and_descrption_block {
      padding-top: 16rem;
      padding-bottom: 18rem; } }
  .title_and_descrption_block .content {
    max-width: 92rem; }
  .title_and_descrption_block .headline-1 {
    color: var(--cheq-white);
    margin-bottom: 4.8rem; }
  .title_and_descrption_block .headline-3 {
    margin-bottom: 4.8rem; }
  .title_and_descrption_block .btn {
    padding: 1.6rem 2.8rem; }

