.our_offices_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .our_offices_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .our_offices_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  @media screen and (min-width: 992px) {
    .our_offices_block .container {
      padding-right: 18.6rem; } }
  .our_offices_block .headline-1 {
    margin-bottom: 6rem; }
    @media screen and (min-width: 992px) {
      .our_offices_block .headline-1 {
        margin-bottom: 8rem; } }
  .our_offices_block .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-top: -3rem;
    margin-bottom: -3rem; }
    .our_offices_block .row > div {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      padding-top: 3rem;
      padding-bottom: 3rem; }
    @media screen and (min-width: 600px) {
      .our_offices_block .row {
        margin-right: -2.75rem;
        margin-left: -2.75rem;
        margin-top: -3rem;
        margin-bottom: -3rem; }
        .our_offices_block .row > div {
          padding-right: 2.75rem;
          padding-left: 2.75rem;
          padding-top: 3rem;
          padding-bottom: 3rem; } }
    @media screen and (min-width: 992px) {
      .our_offices_block .row {
        margin-right: -2.75rem;
        margin-left: -2.75rem;
        margin-top: -4rem;
        margin-bottom: -4rem; }
        .our_offices_block .row > div {
          padding-right: 2.75rem;
          padding-left: 2.75rem;
          padding-top: 4rem;
          padding-bottom: 4rem; } }
  .our_offices_block .headline-4 {
    color: var(--cheq-dark);
    margin-bottom: 0.8rem; }
  .our_offices_block .fw-400 {
    font-weight: 400;
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .our_offices_block .fw-400 {
        margin-bottom: 1.6rem; } }
  .our_offices_block .location {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center; }
    .our_offices_block .location:hover .icon svg {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
  .our_offices_block .icon {
    width: 2rem;
    height: 2rem;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    margin-right: 0.65rem; }
    .our_offices_block .icon svg {
      width: 100%;
      height: 100%;
      transition: -webkit-transform 500ms;
      transition: transform 500ms;
      transition: transform 500ms, -webkit-transform 500ms;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%; }

