.common_types_of_invalid_traffic_block {
  background-color: var(--cheq-white-purple);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .common_types_of_invalid_traffic_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .common_types_of_invalid_traffic_block {
      padding-top: 16rem;
      padding-bottom: 16rem; } }
  .common_types_of_invalid_traffic_block .content {
    margin-bottom: 6rem;
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .common_types_of_invalid_traffic_block .content {
        max-width: 54rem; } }
    @media screen and (min-width: 992px) {
      .common_types_of_invalid_traffic_block .content {
        max-width: 64rem; } }
  .common_types_of_invalid_traffic_block .headline-1 {
    margin-bottom: 4.8rem; }
  .common_types_of_invalid_traffic_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .common_types_of_invalid_traffic_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    @media screen and (min-width: 992px) {
      .common_types_of_invalid_traffic_block .row {
        margin-right: -1.6rem;
        margin-left: -1.6rem;
        margin-top: -1.6rem;
        margin-bottom: -1.6rem; }
        .common_types_of_invalid_traffic_block .row > div {
          padding-right: 1.6rem;
          padding-left: 1.6rem;
          padding-top: 1.6rem;
          padding-bottom: 1.6rem; } }
    @media screen and (min-width: 992px) {
      .common_types_of_invalid_traffic_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -3rem;
        margin-bottom: -3rem; }
        .common_types_of_invalid_traffic_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 3rem;
          padding-bottom: 3rem; } }
  .common_types_of_invalid_traffic_block .aspect-ratio {
    padding-top: 100%;
    margin-bottom: 1.6rem; }
  .common_types_of_invalid_traffic_block .headline-4 {
    margin-bottom: 1.6rem;
    color: var(--cheq-dark); }
  .common_types_of_invalid_traffic_block .headline-5 {
    font-weight: 400;
    color: var(--cheq-dark); }

