.become_cheq_partner_block {
  background: var(--cheq-dark);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 992px) {
    .become_cheq_partner_block {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  .become_cheq_partner_block .become-cheq-partner-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      .become_cheq_partner_block .become-cheq-partner-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
  .become_cheq_partner_block .left-content {
    margin-bottom: 6rem; }
    @media screen and (min-width: 600px) {
      .become_cheq_partner_block .left-content {
        margin-bottom: 0;
        -webkit-flex-basis: 51%;
                flex-basis: 51%;
        width: 51%; } }
  .become_cheq_partner_block .headline-1, .become_cheq_partner_block .headline-3, .become_cheq_partner_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 600px) {
      .become_cheq_partner_block .headline-1, .become_cheq_partner_block .headline-3, .become_cheq_partner_block .paragraph {
        margin-bottom: 3.2rem; } }
    @media screen and (min-width: 992px) {
      .become_cheq_partner_block .headline-1, .become_cheq_partner_block .headline-3, .become_cheq_partner_block .paragraph {
        margin-bottom: 4.8rem; } }
  .become_cheq_partner_block .headline-1 {
    max-width: 25rem; }
    @media screen and (min-width: 600px) {
      .become_cheq_partner_block .headline-1 {
        max-width: 40rem; } }
  .become_cheq_partner_block .btn {
    padding: 1.6rem 2.7rem; }
  .become_cheq_partner_block .right-content {
    min-height: 26.6rem; }
    @media screen and (min-width: 600px) {
      .become_cheq_partner_block .right-content {
        -webkit-flex-basis: 45%;
                flex-basis: 45%;
        width: 45%; } }
    @media screen and (min-width: 992px) {
      .become_cheq_partner_block .right-content {
        -webkit-flex-basis: 37.2%;
                flex-basis: 37.2%;
        width: 37.2%; } }
    .become_cheq_partner_block .right-content svg, .become_cheq_partner_block .right-content img {
      width: 100%;
      height: 100%; }

