.cheq_for_marketing_leaders {
  background: var(--cheq-dark);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .cheq_for_marketing_leaders {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  .cheq_for_marketing_leaders .headline-3 {
    margin-bottom: 0.6rem; }
  .cheq_for_marketing_leaders .headline-1 {
    background: unset;
    color: var(--cheq-white);
    -webkit-text-fill-color: var(--cheq-white);
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .cheq_for_marketing_leaders .headline-1 {
        margin-bottom: 4.8rem; } }
  .cheq_for_marketing_leaders .paragraph {
    color: var(--cheq-white);
    margin-bottom: 2.4rem; }
    @media screen and (min-width: 992px) {
      .cheq_for_marketing_leaders .paragraph {
        margin-bottom: 4.8rem; } }
    .cheq_for_marketing_leaders .paragraph strong {
      font-weight: 800; }
  .cheq_for_marketing_leaders .btn {
    padding: 1.6rem 2.704rem; }
  .cheq_for_marketing_leaders.light {
    background-color: var(--cheq-white-purple); }
    .cheq_for_marketing_leaders.light .headline-1 {
      color: var(--cheq-dark);
      -webkit-text-fill-color: var(--cheq-dark); }
    .cheq_for_marketing_leaders.light .paragraph {
      color: var(--cheq-dark); }

