footer {
  background: var(--cheq-dark-purple);
  padding-top: 6rem;
  padding-bottom: 9rem; }
  @media screen and (min-width: 600px) {
    footer {
      padding-top: 8rem;
      padding-bottom: 9rem; } }
  footer .footer-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
  footer .footer-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      footer .footer-content {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-bottom: -4rem; } }
  footer .headline-3 {
    background: -webkit-linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.4rem; }
  footer .title-and-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start; }
    footer .title-and-content:not(:last-child) {
      margin-bottom: 4rem; }
    @media screen and (min-width: 600px) {
      footer .title-and-content {
        -webkit-flex-basis: 34%;
                flex-basis: 34%;
        width: 34%;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        margin-bottom: 4rem; }
        footer .title-and-content:not(:last-child) {
          margin-right: 12rem; } }
    footer .title-and-content .footer-links-content {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
              flex-direction: column; }
    footer .title-and-content .link {
      background-size: 500% 500%;
      -webkit-animation: rainbow 2s ease-in-out infinite;
              animation: rainbow 2s ease-in-out infinite;
      transition: color 0.2s ease-in-out;
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      background-clip: text;
      -webkit-background-clip: text;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      cursor: pointer; }
      footer .title-and-content .link:not(:last-child) {
        margin-bottom: 1.6rem; }
        @media screen and (min-width: 992px) {
          footer .title-and-content .link:not(:last-child) {
            margin-bottom: 2.4rem; } }
      footer .title-and-content .link:hover {
        color: rgba(0, 0, 0, 0); }
  footer .trusts {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -1.4rem; }
  footer .image-and-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin: 1.4rem; }
  footer .image-link-hover {
    border-radius: 50%;
    overflow: hidden;
    width: 8.8rem;
    height: 8.8rem;
    margin-bottom: 1.6rem; }
  footer picture {
    width: 8.8rem;
    height: 8.8rem;
    margin-bottom: 1.6rem;
    border-radius: 50%;
    overflow: hidden; }
    footer picture img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  footer .text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--cheq-white); }
  footer .title-and-input {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  footer .input-and-button {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      footer .input-and-button {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    footer .input-and-button .btn {
      padding: 1.6rem 2.7rem; }

