.advanced_block {
  background: var(--cheq-dark);
  padding-top: 6rem;
  padding-bottom: 8rem; }
  @media screen and (min-width: 600px) {
    .advanced_block {
      padding-top: 10rem;
      padding-bottom: 12rem; } }
  @media screen and (min-width: 992px) {
    .advanced_block {
      padding-top: 12rem;
      padding-bottom: 16rem; } }
  .advanced_block .headline-1 {
    margin-bottom: 6rem;
    max-width: 48rem; }
    @media screen and (min-width: 600px) {
      .advanced_block .headline-1 {
        max-width: 100%;
        margin-bottom: 8rem; } }
    @media screen and (min-width: 992px) {
      .advanced_block .headline-1 {
        margin-bottom: 12rem;
        max-width: 84rem; } }
  .advanced_block .steps {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    max-width: 32rem; }
    @media screen and (min-width: 600px) {
      .advanced_block .steps {
        max-width: 100%; } }
    @media screen and (min-width: 992px) {
      .advanced_block .steps {
        max-width: 78rem; } }
  .advanced_block .step {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding-bottom: 6rem;
    padding-left: 2.8rem;
    margin-left: 1.2rem; }
    @media screen and (min-width: 600px) {
      .advanced_block .step {
        padding-left: 3.6rem;
        margin-left: 0;
        padding-bottom: 11.2rem; } }
    .advanced_block .step:last-child {
      padding-bottom: 0; }
      .advanced_block .step:last-child:after {
        display: none; }
    .advanced_block .step:after {
      content: "";
      width: 4px;
      height: 100%;
      background-color: #515df8;
      position: absolute;
      right: 100%;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      z-index: 1; }
    .advanced_block .step:before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      background-color: var(--cheq-dark);
      border: 4px solid #515df8;
      position: absolute;
      top: 0;
      right: 100%;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      border-radius: 50%;
      z-index: 2; }
  .advanced_block .headline-2 {
    color: var(--cheq-white);
    margin-bottom: 0.4rem; }
    @media screen and (min-width: 600px) {
      .advanced_block .headline-2 {
        margin-bottom: 0.6rem; } }
    @media screen and (min-width: 992px) {
      .advanced_block .headline-2 {
        margin-bottom: 0.8rem; } }
  .advanced_block .paragraph {
    font-weight: 700; }

