.home_hero_block {
  background-color: var(--cheq-dark);
  padding-top: 2.4rem;
  padding-bottom: 8.3rem; }
  @media screen and (min-width: 600px) {
    .home_hero_block {
      padding-top: 20rem;
      padding-bottom: 6.25rem; } }
  .home_hero_block .hero-customers {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding-bottom: 6.1rem; }
    @media screen and (min-width: 600px) {
      .home_hero_block .hero-customers {
        -webkit-align-items: flex-end;
                align-items: flex-end; } }
    @media screen and (min-width: 992px) {
      .home_hero_block .hero-customers {
        -webkit-flex-direction: row;
                flex-direction: row;
        padding-bottom: 8rem;
        -webkit-align-items: center;
                align-items: center; } }
  .home_hero_block .customers-text {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    margin-bottom: 6rem; }
    @media screen and (min-width: 992px) {
      .home_hero_block .customers-text {
        -webkit-flex-basis: 37.5%;
                flex-basis: 37.5%;
        width: 37.5%;
        margin-bottom: 0; } }
    .home_hero_block .customers-text .btn-shape {
      padding: 1.6rem 2.7rem; }
  .home_hero_block .headline-1, .home_hero_block .paragraph {
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 599.98px) {
      .home_hero_block .headline-1, .home_hero_block .paragraph {
        max-width: 25rem; } }
    @media screen and (min-width: 600px) {
      .home_hero_block .headline-1, .home_hero_block .paragraph {
        margin-bottom: 4.8rem; } }
  .home_hero_block .paragraph {
    max-width: 36.6rem; }
    @media screen and (min-width: 600px) {
      .home_hero_block .paragraph {
        max-width: 57%; } }
    @media screen and (min-width: 992px) {
      .home_hero_block .paragraph {
        max-width: 100%; } }
  .home_hero_block .btn {
    padding: 1.6rem 2.7rem; }
  .home_hero_block .headerImg_customer_acquisition {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (max-width: 599.98px) {
      .home_hero_block .headerImg_customer_acquisition {
        min-width: 36.6rem;
        max-width: 36.6rem; } }
    @media screen and (min-width: 600px) {
      .home_hero_block .headerImg_customer_acquisition {
        -webkit-flex-basis: 77%;
                flex-basis: 77%;
        width: 77%; } }
    @media screen and (min-width: 992px) {
      .home_hero_block .headerImg_customer_acquisition {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%;
        margin: 0; } }
    .home_hero_block .headerImg_customer_acquisition svg {
      position: absolute;
      left: 6.7rem;
      top: -0.7rem;
      z-index: -1;
      width: 58%;
      height: 100%;
      -webkit-transform-origin: left center;
              transform-origin: left center; }
      @media screen and (min-width: 600px) {
        .home_hero_block .headerImg_customer_acquisition svg {
          left: -1.5rem;
          top: unset;
          width: 100%;
          height: 25rem; } }
  .home_hero_block .btn-shape {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    max-width: 16rem;
    min-width: 16rem;
    border-radius: 0.4rem;
    line-height: 1.4rem;
    text-align: left;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cheq-white);
    background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%); }
    @media screen and (min-width: 600px) {
      .home_hero_block .btn-shape {
        font-size: 1.6rem;
        padding: 1.6rem;
        line-height: 2.4rem;
        border-radius: 0.8rem;
        font-weight: 800; } }
  .home_hero_block .first-step .btn-shape {
    max-width: 9rem;
    min-width: 9rem;
    background: linear-gradient(90deg, rgba(252, 87, 118, 0.73), #389bff, #72daff) 100% 0;
    background-size: 200% 100%;
    transition: color, background-color, background-position;
    -webkit-animation: shadow 2.5s infinite ease;
            animation: shadow 2.5s infinite ease; }
    @media screen and (min-width: 600px) {
      .home_hero_block .first-step .btn-shape {
        max-width: 12rem;
        min-width: 12rem; } }
  .home_hero_block .red-shape {
    -webkit-animation: fade 2.5s infinite;
            animation: fade 2.5s infinite; }
  .home_hero_block .blue-shape {
    -webkit-animation: fade2 2.5s infinite;
            animation: fade2 2.5s infinite; }
  .home_hero_block .back-lines {
    -webkit-animation: fade3 2.5s infinite;
            animation: fade3 2.5s infinite; }
  .home_hero_block .second-step .btn-shape {
    background: linear-gradient(90deg, #9925cf, #fb578a, #fc5776) 100% 0;
    background-size: 200% 100%;
    transition: color, background-color, background-position;
    -webkit-animation: gradiant 2.5s infinite;
            animation: gradiant 2.5s infinite; }
    @media screen and (max-width: 599.98px) {
      .home_hero_block .second-step .btn-shape {
        max-width: 9.1rem;
        min-width: 9.1rem; } }
    .home_hero_block .second-step .btn-shape:nth-child(2) {
      margin-top: 1.6rem;
      margin-bottom: 1.6rem; }
      @media screen and (min-width: 600px) {
        .home_hero_block .second-step .btn-shape:nth-child(2) {
          margin-top: 3.2rem;
          margin-bottom: 3.2rem; } }
  .home_hero_block .last-step .btn-shape {
    background: var(--cheq-gradient-purple);
    -webkit-animation: scale 2.5s infinite;
            animation: scale 2.5s infinite; }
    @media screen and (max-width: 599.98px) {
      .home_hero_block .last-step .btn-shape {
        max-width: 11.3rem;
        min-width: 11.3rem; } }
    .home_hero_block .last-step .btn-shape:nth-child(2) {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem; }
      @media screen and (min-width: 600px) {
        .home_hero_block .last-step .btn-shape:nth-child(2) {
          margin-top: 2.4rem;
          margin-bottom: 2.4rem; } }
  .home_hero_block .small-screen {
    display: block; }
    @media screen and (min-width: 600px) {
      .home_hero_block .small-screen {
        display: none; } }
  .home_hero_block .large-screen {
    display: none; }
    @media screen and (min-width: 600px) {
      .home_hero_block .large-screen {
        display: block; } }
  .home_hero_block .logos-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: -3.2rem; }
    @media screen and (max-width: 599.98px) {
      .home_hero_block .logos-wrapper {
        max-width: 30.8rem;
        margin-right: auto;
        margin-left: auto; } }
    @media screen and (min-width: 600px) {
      .home_hero_block .logos-wrapper {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        margin-bottom: -4rem;
        padding-top: 8rem; } }
    .home_hero_block .logos-wrapper .aspect-ratio {
      padding-top: 25%; }
    .home_hero_block .logos-wrapper .logo {
      margin-bottom: 3.2rem;
      -webkit-flex-shrink: 0;
              flex-shrink: 0;
      -webkit-flex-basis: 41.6%;
              flex-basis: 41.6%; }
      @media screen and (min-width: 600px) {
        .home_hero_block .logos-wrapper .logo {
          -webkit-flex-basis: 26%;
                  flex-basis: 26%;
          margin-bottom: 4rem; } }
      @media screen and (min-width: 992px) {
        .home_hero_block .logos-wrapper .logo {
          -webkit-flex-basis: 10.01%;
                  flex-basis: 10.01%; } }
    .home_hero_block .logos-wrapper a:before {
      display: none; }

@-webkit-keyframes fade {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: 1; } }

@keyframes fade {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: 1; } }

@-webkit-keyframes gradiant {
  15% {
    background-position: 100%; }
  50% {
    background-position: 0; }
  100% {
    background-position: 100%; } }

@keyframes gradiant {
  15% {
    background-position: 100%; }
  50% {
    background-position: 0; }
  100% {
    background-position: 100%; } }

@-webkit-keyframes fade3 {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: .5; }
  90% {
    opacity: .8; } }

@keyframes fade3 {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: .5; }
  90% {
    opacity: .8; } }

@-webkit-keyframes fade2 {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: 1; } }

@keyframes fade2 {
  0%, 100% {
    opacity: .8; }
  70% {
    opacity: 1; } }

@-webkit-keyframes shadow {
  60% {
    background-position: 70%; }
  100% {
    background-position: 100%; } }

@keyframes shadow {
  60% {
    background-position: 70%; }
  100% {
    background-position: 100%; } }

