.launches_block {
  background: var(--cheq-dark);
  padding-bottom: 8rem;
  position: relative;
  z-index: 2; }
  @media screen and (min-width: 600px) {
    .launches_block {
      padding-top: 6.25rem;
      padding-bottom: 12rem; } }
  @media screen and (max-width: 599.98px) {
    .launches_block .container {
      padding-right: 0;
      padding-left: 0; } }
  .launches_block:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cheq-dark);
    z-index: -2; }
  .launches_block:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48.88%;
    background: var(--cheq-white-purple);
    z-index: -1; }

