@import "src/styles/variables";
@import "src/styles/mixins";

.download_now_block {
  background-color: $cheq-dark;
  @include paddingY(size(85), size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .row {
    @include change-gutter(size(40), size(40));
    @include large-screen {
      @include change-gutter(size(40), size(80));
    }

  }

  .headline-1 {
    margin-bottom: size(40);
    @include large-screen {
      margin-bottom: size(60);
    }
  }

  .aspect-ratio {
    padding-top: 142%;
  }

  .headline-3 {
    font-size: size(32);
    line-height: size(40);
    margin-top: size(24);
    @include large-screen {
      margin-top: size(32);
    }
  }
}
