@import "src/styles/variables";
@import "src/styles/mixins";


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  @include flex(center, space-between, false, false);
  @include paddingX(size(24), size(34));
  @include paddingY(size(28));
  transform: translate(0);
  background-color: $cheq-dark;
  transition: background-color $duration;
  @include large-screen {
    @include paddingX(size(32));
    @include paddingY(size(0));
  }

  // logo
  .header-logo {
    flex-shrink: 0;
    width: size(92);
    height: size(24);
    z-index: 99;
    position: relative;

    img, svg {
      @include square(100%);
      object-fit: contain;
    }
  }

  // page links
  .navbar {
    position: fixed;
    top: 99%;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    z-index: 90;
    transition: transform 300ms ease-in;
    @include large-screen {
      position: relative;
      align-items: center;
      flex-direction: row;
      overflow-y: visible;
      transform: unset;
      width: auto;
    }

    &.active {
      transform: translateX(0);

      &:before {
        opacity: 0.6;
      }
    }
  }

  // links
  .navbar-wrapper {
    @include paddingY(size(24), size(100));
    @include paddingX(size(24));
    background-color: $cheq-dark-purple;
    width: 100%;
    height: 100vh;
    //overflow: auto;
    transition: padding $duration;
    overflow: scroll;

    @include min-medium-screen {
      @include paddingY(size(70), size(150));

    }
    @include large-screen {
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      overflow: visible;

    }
  }

  // single link
  .primary-menu {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      max-width: size(700);
      @include marginX(auto);
    }
    @include large-screen {
      flex-direction: row;
      align-items: center;
      border: none;
      max-width: 100%;
      margin: 0;
    }

    > .menu-item {
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: size(32);
        @include large-screen {
          margin: 0;
          @include paddingX(size(28));
          @include paddingY(size(28));
        }

      }


      a {
        font-size: size(16);
        line-height: size(24);
        letter-spacing: size(0.02);
        text-transform: uppercase;
        font-weight: 700;
        background-size: 500% 500%;
        animation: rainbow 2s ease-in-out infinite;
        transition: color 0.2s ease-in-out;
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: #a0a0a7;
        width: fit-content;
        display: block;

      }

      &:hover {
        @include large-screen {
          > a {
            color: rgba(0, 0, 0, 0);
          }
        }
      }

      &.current-menu-item {
        > a {
          color: rgba(0, 0, 0, 0);

        }
      }
    }

    .cta-button {
      min-width: size(204);
      padding: size(16) size(20);
      @include large-screen {
        margin-left: size(32);
      }

      a {
        @include font(size(16), 800, 100%);
        letter-spacing: size(0.04);
        color: $cheq-white !important;
      }
    }
  }

  // links has sub menu
  .menu-item-has-children {
    position: relative;

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      transform-origin: 50% 50%;
      width: size(12);
      height: size(8);
      right: 0;
      transition: transform $duration;

      svg {
        @include square(100%);
      }

      @include large-screen {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    // line
    @include large-screen {
      &:after {
        content: "";
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        width: 100%;
        height: size(6);
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity $duration;
      }
    }


    &:hover {
      @include large-screen {

        &:after {
          opacity: 1;
        }
        .arrow {
          transform: translateY(-50%) scaleY(-1);

          .white {
            display: none;
          }
        }
      }


      .sub-menu {
        opacity: 1;
        pointer-events: visible;
      }
    }

    &.active {
      .arrow {
        transform: scaleY(-1);

        .white {
          display: none;
        }
      }
    }
  }


  // sub menu
  .sub-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    @include large-screen {
      height: auto;
      min-height: size(352);
      background: $cheq-purple;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      padding: size(24);
      transition: opacity 500ms;
      pointer-events: none;
      flex-direction: row;
    }

    .menu-item {

      a {
        color: $cheq-white !important;
        background: none;
        transition: color $duration;

      }

      &:not(:last-child) {
        margin-bottom: size(24);
      }

      &:hover {
        > a {
          color: #fc5776 !important;
        }
      }

      &.current-menu-item {
        > a {
          color: rgba(0, 0, 0, 0) !important;
        }
      }
    }


    .title {
      font-weight: 700;
      font-size: size(12);
      line-height: 100%;
      color: #888890;
      margin-bottom: size(24);
    }

    .left {
      padding: size(24);
      background: $cheq-purple;
      margin-top: size(32);
      @include large-screen {
        @include flexBasis(size(200));
        margin-right: size(48);
        padding: 0;
        margin-top: 0;
      }

      .menu-item-logs {
        padding: size(20);
        background: $cheq-white;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: size(80);
        max-width: size(200);
        @include large-screen {
          width: 100%;
        }

        picture {
          max-width: size(120);
          height: size(40);
        }
      }
    }

    .right {
      padding: size(24);
      background: $cheq-purple;

      @include large-screen {
        @include flexBasis(size(338));
        padding: 0;
      }

      .image-and-text-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        a {
          color: $cheq-white !important;
          background: none;
          transition: color $duration;

          &:hover {
            picture {
              transform: scale(1.02);
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: size(24);
        }

        picture {
          @include flexBasis(size(80));
          height: size(80);
          transition: transform $duration;

          img {
            object-fit: cover;
          }
        }

        .text-wrapper {

          @include flexBasis(size(220));
          @include min-medium-screen {
            @include flexBasis(size(234));
          }

          .main-title, .description {
            font-weight: 700;
            transition: color $duration;
            color: #888890;
          }

          .main-title {
            margin-bottom: size(8);
            color: $cheq-white !important;
            background: none;
            transition: color $duration;
            &:hover {
              color: #fc5776 !important;
            }
          }
        }
      }
    }

    &.reverse {
      flex-direction: column-reverse;

      .left {
        margin: 0;
      }

      .right {
        margin-top: size(32);
        @include large-screen {
          margin-right: size(48);
          margin-top: 0;

        }


      }

      @include large-screen {
        flex-direction: row-reverse;
      }
    }
  }

  .burger-and-menu {
    display: flex;
    align-items: center;
    z-index: 99;

    span {
      color: $cheq-black;
      font-size: size(12);
      font-weight: 500;
    }

    @include large-screen {
      display: none;
    }
  }

  .menu {
    width: size(19);
    height: size(19);
    position: relative;
    z-index: 99;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
  }

  .burger-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    @include square(100%);
    padding: 0;

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: size(3);
      margin-bottom: size(3);
      position: relative;
      z-index: 1;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $cheq-white;
        opacity: .99;
        transition: background-color 600ms;
        display: table;
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto size(3);
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }

    &.active {
      span {
        &:after, &:before {
          background-color: $cheq-white;
        }
      }
    }
  }

  &.white-header {
    background-color: $cheq-white;

    .menu-item {
      a {
        color: #a0a0a7;
      }

    }

    .burger-menu {
      span {
        &:after, &:before {
          background-color: $cheq-dark-purple;
        }
      }

      &.active {
        span {
          &:after, &:before {
            background-color: $cheq-dark-purple;
          }
        }
      }
    }

    .navbar-wrapper {
      background-color: $cheq-white;
    }
  }

  &.sticky {

  }
}

