@import "src/styles/variables";
@import "src/styles/mixins";

.paidmarketing_hero_block {
  background: $cheq-dark;
  @include paddingY(size(24), size(63));
  @include min-medium-screen {
    @include paddingY(size(120), size(100));
  }
  @include large-screen {
    @include paddingY(size(160), size(178));
  }

  .paidmarketing-hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  .headline-1 {
    margin-bottom: size(24);
    font-size: size(32);
    line-height: size(40);
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    @include large-screen {
      margin-bottom: size(48);
      font-size: size(56);
      line-height: size(64);
    }
  }

  .paragraph {
    color: $cheq-white;
    margin-bottom: size(24);
    @include large-screen {
      margin-bottom: size(48);
    }

  }

  .headline-4 {
    margin-bottom: size(25);
    @include large-screen {
      margin-bottom: size(54);
    }
  }

  .left-content {
    display: flex;
    flex-direction: column;
    margin-bottom: size(45.5);
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(42%);
    }
    @include large-screen {
      margin-bottom: 0;
      @include flexBasis(43.75%);
    }

  }

  .logos-wrapper {
    @include marginX(0);
    margin-bottom: size(-38);
    justify-content: space-between;
    @include min-medium-screen {
      margin-bottom: size(-30);
      @include marginX(size(-8));
      justify-content: flex-start;
      @include flexBasis(100%);
    }

    .logo {
      @include flexBasis(43%);
      margin-bottom: size(38);
      @include min-medium-screen {
        @include flexBasis(22%);
        margin-bottom: size(30);
        @include marginX(size(8));
      }


      img{
        max-width: 100%;
        width: unset;

      }
    }
  }

  .btn {
    padding: size(16) size(27.2);
    margin-top: size(27);
    @include min-medium-screen{
      margin-top: size(48);
    }
    @include large-screen {
      margin-top: size(51);
    }
  }


  .right-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(48%);
    }
    @include large-screen {
      @include flexBasis(46.9%);
      //@include flexBasis(size(600));
    }

    svg {
      @include square(100%);
    }
  }


  &.technology_hero {
    @include min-medium-screen {
      @include paddingY(size(80));
    }

    .left-content {
      @include small-screen {
        margin-bottom: size(24);
      }
      @include large-screen {
        @include paddingY(size(120), size(146));
      }
    }


    .description {
      font-size: size(24);
      line-height: size(32);
      font-weight: 800;
      @include large-screen {
        font-size: size(32);
        line-height: size(40);
      }
    }

    .headline-4, .btn, .logos-wrapper,.hide-on-hero2 {
      display: none;
    }

  }
}
