@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.life_at_cheq_block {
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(80), size(100));
  }
  @include large-screen {
    @include paddingY(size(118), size(114));
  }

  background: $cheq-purple;

  .headline-1 {
    margin-bottom: size(40);
    @include min-medium-screen {
      margin-bottom: size(60);
    }
  }


  picture {
    min-height: size(171);
    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .swiper-pagination {
    margin-top: size(42);
    @include min-medium-screen {
      margin-top: size(61);
    }
  }
}
