@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.award_winning_block {
  background: $cheq-purple;
  @include paddingY($m-60, $m-80);
  @include min-medium-screen {
    @include paddingY(size(80), size(100));
  }
  @include large-screen {
    @include paddingY($m-120, size(114));
  }

  .headline-1 {
    margin-bottom: $m-60;
    @include large-screen{
      max-width: 50%;
    }

  }

  .swiper-content {
    @include flex(center);
  }


  .headline-5 {
    margin-left: $m-24;
    font-size: size(14);
    font-weight: 700;
    letter-spacing: size(0.02);
    text-transform: uppercase;
    @include small-screen {
      max-width: size(144);
    }
  }


  a {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }



  picture {
    border-radius: 50%;
    overflow: hidden;
    @include square(size(128));
    flex-shrink: 0;

    img {
      @include square(100%);
      border-radius: 50%;
      object-fit: cover;
    }
  }


  .swiper-pagination {
    margin-top: size(40);
    @include min-medium-screen {
      margin-top: size(60);
    }
  }

}
