@import "src/styles/variables";
@import "src/styles/mixins";

.cas_block {
  background: $cheq-white-purple;
  @include paddingY($m-80);

  @include large-screen {
    @include paddingY(size(110));
  }

  .container {
    @include small-screen {
      padding: 0;
    }
    @include large-screen {
      padding-right: size(110);
    }
  }

  .global-traffic-content {
    display: flex;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
    }
  }

  .text-content {
    @include flexBasis(100%);
    @include paddingX(size(24));
    margin-bottom: size(86);
    @include min-medium-screen {
      @include flexBasis(85%);
      padding: 0;
      margin-bottom: size(60);
    }
    @include large-screen {
      @include flexBasis(36%);
      margin-top: $m-80;
      margin-right: size(-160);
      margin-bottom: 0;
    }
  }

  .headline-1, .paragraph {
    margin-bottom: $m-24;
    @include large-screen {
      margin-bottom: $m-48;
    }
  }


  .btn {
    padding: size(16) size(27);
  }

  .traffic-map {
    @include flexBasis(100%);
    @include large-screen{
      @include flexBasis(69.2%);
      margin-left: auto;
    }
  }

  img {
    @include square(100%);
    object-fit: cover;
  }
}
