@import "src/styles/variables";
@import "src/styles/mixins";

.research_partners_block {
  background-color: $cheq-white;
  padding-top: size(30);
  @include min-medium-screen {
    @include paddingY(size(60), size(120));
  }

  .container {
    @include small-screen {
      padding: 0;
    }
  }

  .headline-1 {
    @include paddingX(size(24))
  }

  .logos-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: size(40);
    max-width: 100%;
    @include min-medium-screen {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: size(60);
    }
  }

  .logos {
    @include flexBasis(100%);
    min-height: size(414);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: size(40);
    @include min-medium-screen {
      @include flexBasis(50%);
    }
    @include large-screen {
      @include flexBasis(size(426));
      min-height: size(426);
    }

  }

  picture {
    max-width: size(330);
    min-height: size(150);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      @include square(100%);
      object-fit: contain;
    }
  }
}
