@import "src/styles/variables";
@import "src/styles/mixins";

.cheq_for {
  @include paddingY(size(60), size(80));
  background: $cheq-dark-purple;
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }

  .container {
    @include small-screen {
      padding: 0;
    }
  }

  .headline-2 {
    line-height: size(40);
    margin-bottom: size(60);
    @include small-screen {
      font-size: size(32);
      @include paddingX(size(24));
    }
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }

  .cheq-launches {
    margin-bottom: size(60);
    @include min-medium-screen {
      margin-bottom: size(48);
    }

    .launches-text {
      @include large-screen {
        padding-bottom: size(48);
      }
    }

    .headline-3 {
      margin-bottom: 0;
      max-width: 100%;

    }

    .read-more {
      margin-top: size(32);
    }
  }

  .text-and-button {
    max-width: size(882);

    @include small-screen {
      @include paddingX(size(24));
    }

    .paragraph, .headline-3 {
      margin-bottom: size(24);
      color: $cheq-white !important;
      @include min-medium-screen {
        margin-bottom: size(32);
      }
      @include large-screen {
        margin-bottom: size(48);
      }
    }

    .headline-3{
      @include small-screen{
        letter-spacing: -0.3px;
      }
    }
  }

  .btn {
    padding: size(16) size(27.04);
  }

  &.white {
    background: $cheq-white-purple;

    .text-and-button {
      .paragraph, .headline-3 {
        color: $cheq-dark !important;
      }
    }
  }
}
