@import "src/styles/variables";
@import "src/styles/mixins";

.customer_acquisition_block {
  background-color: $cheq-dark;
  @include paddingY(size(70), size(16));
  @include large-screen {
    padding-top: size(70);
    @include paddingY(size(63.5));
  }

  .container {
    @include small-screen {
      @include paddingX(0, size(24));
    }
    @include large-screen {
      padding-right: size(68);
    }
  }

  .customer-acquisition-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
    }
  }

  .content {
    margin-bottom: size(40);
    padding-left: size(24);
    @include min-medium-screen {
      padding-left: 0;
      margin-bottom: size(80);
    }
    @include large-screen {
      @include flexBasis(37.5%);
      @include paddingY(size(80), size(20));
      margin-bottom: 0;
    }
  }

  .headline-1 {
    background: none;
    color: $cheq-white;
    -webkit-text-fill-color: $cheq-white;
    width: fit-content;
    margin-bottom: size(48);
    @include small-screen {
max-width: size(366);
    }
  }

  .btn {
    padding: size(16) size(27.7);
  }

  .image-wrapper {
    flex-basis: 56.66%;

  }

  .aspect-ratio {
    padding-top: 60.8%;

    img {
      object-fit: contain;
    }
  }

  &:after {
    @include small-screen {
      width: 90% !important;
      height: 40% !important;
      filter: blur(size(150)) !important;
    }
  }
}
