@import "src/styles/variables";
@import "src/styles/mixins";

.why_customer_acquisition_security_matters {
  background: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen{
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .security-matters-wrapper {
    max-width: 95%;
    @include min-medium-screen {
      max-width: 90%;
    }
    @include large-screen {
      max-width: size(960);
    }

  }

  .content-wrapper {
    &:not(:last-child) {
      margin-bottom: size(32);
    }

    @include large-screen {
      &:not(:last-child) {
        margin-bottom: size(48);
      }
    }

  }

  .headline-1 {
    margin-bottom: size(32);
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }

  .headline-2 {
    margin-bottom: size(24);
    font-size: size(31);
    line-height: size(40);
    @include min-medium-screen {
      max-width: size(630);
    }
    @include large-screen {
      font-size: size(40);
      line-height: size(48);
      max-width: size(767);
    }
  }

  .paragraph {
    margin-bottom: size(24);
    @include small-screen{
      font-size: size(15);
    }
  }

  .read-more {
    display: flex;
    align-items: center;

    span {
      font-weight: 700;
      font-size: size(24);
      line-height: size(32);
      background-size: 500% 500%;
      animation: rainbow 2s ease-in-out infinite;
      transition: color 0.2s ease-in-out;
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0);
    }

    svg {
      margin-left: size(18);
    }
  }
}
