@import "src/styles/variables";
@import "src/styles/mixins";

.become_cheq_partner_block {
  background: $cheq-dark;
  @include paddingY(size(60), size(80));
  @include large-screen {
    @include paddingY(size(120));
  }

  .become-cheq-partner-wrapper {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

  }

  .left-content {
    margin-bottom: size(60);
    @include min-medium-screen {
      margin-bottom: 0;
      @include flexBasis(51%)
    }
  }


  .headline-1, .headline-3, .paragraph {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    @include large-screen {
      margin-bottom: size(48);
    }
  }

  .headline-1 {
    max-width: size(250);
    @include min-medium-screen {
      max-width: size(400);
    }
  }

  .btn {
    padding: size(16) size(27);
  }

  .right-content {
    min-height: size(266);
    @include min-medium-screen {
      @include flexBasis(45%);
    }
    @include large-screen {
      @include flexBasis(37.2%);
    }


    svg, img {
      @include square(100%);
    }

  }
}
