@import "src/styles/variables";
@import "src/styles/mixins";

.title_and_descrption_block {
  background: $cheq-dark;
  @include paddingY(size(80));
  @include min-medium-screen {
    @include paddingY(size(100), size(120));
  }
  @include large-screen {
    @include paddingY($m-160, size(180));
  }


  .content {
    max-width: size(920);
  }

  .headline-1 {
    color: $cheq-white;

    margin-bottom: size(48);
  }

  .headline-3 {
    margin-bottom: size(48);
  }

  .btn {
    padding: size(16) size(28);
  }

}

