@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.meet_the_cheqers_block {
  background-color: $cheq-white;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(80), size(120));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .headline-1 {
    margin-bottom: size(60);
    @include min-medium-screen {
      margin-bottom: size(80);
    }
    @include large-screen {
      margin-bottom: size(120);
    }
  }

  .card {
    cursor: pointer;
  }

  .image-wrapper {
    max-width: size(320);
    margin-bottom: size(32);
  }

  .aspect-ratio {
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  .headline-4 {
    color: $cheq-dark;
  }

  .fw-normal {
    font-weight: normal;
  }

  .paragraph {
    margin-top: size(32);
    font-size: size(24);
    line-height: size(32);
    @include small-screen {
      max-width: size(366);
    }
  }

  .swiper-pagination {
    margin-top: size(35) !important;
    @include min-medium-screen {
      margin-top: size(50) !important;
    }
    @include large-screen {
      margin-top: size(62) !important;
    }
  }
}
