@import "src/styles/variables";
@import "src/styles/mixins";

.marketing_analytics_block {
  background: $cheq-white-purple;
  @include paddingY($m-40, size(0));
  @include min-medium-screen {
    @include paddingY($m-80, $m-200);
  }

  .container {
    @include small-screen {
      @include paddingX(0)
    }
  }

  .title {
    margin-bottom: $m-40;
    max-width: size(400);
    @include paddingX($m-24);
    @include min-medium-screen {
      max-width: 100%;
      @include paddingX(0);
    }
    @include large-screen {
      margin-bottom: size(60);
    }
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    @include paddingX(size(24));
    @include flexBasis(100%);
    background: $cheq-purple;
    @include min-medium-screen {
      @include flexBasis(50%);
    }
    @include large-screen {
      @include paddingX(size(48), size(26));
      min-height: size(512);
      flex-shrink: 0;
      @include flexBasis(33.33%);
    }
  }


  // top group
  .top {


    .paragraph {
      padding-bottom: size(48);
      //max-width: size(333);
    }
  }

  .card-title {
    max-width: size(340);
    font-size: size(40);
    line-height: size(48);
  }

  .icon-parent {
    background: rgba(17, 18, 34, 0.6);
    padding: size(30) size(26);
    @include square(size(128));

  }


  .card-title {
    color: $cheq-white;
  }

  .card-title, .icon-parent {
    margin-bottom: size(48);
  }

  .icon-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: size(75);
      height: size(70);
    }

  }

  .paragraph {
    @include font(size(24), 400, size(32));
    margin-top: auto;

    @include small-screen {
      max-width: size(366);
    }
  }

  // bottom group
  .bottom {
    padding-top: size(48);
    border-top: 1px solid $cheq-white;
    padding-bottom: size(60);


    .headline-4 {
      margin-bottom: size(24);
    }

    .headline-2 {
      margin-bottom: size(24);
      font-size: size(40);
      line-height: size(48);
    }

    //.paragraph {
    //  padding-bottom: size(60);
    //}

    .with-text {
      margin-bottom: 0;
    }

    .small-text {
      max-width: size(170);
    }
  }
}
