@import "src/styles/variables";
@import "src/styles/mixins";

.open_positions_block {
  position: relative;
  z-index: 2;
  @include paddingY(size(60), size(80));
  @include large-screen {
    @include paddingY(size(120));
  }
  background: $cheq-dark;


  .container {
    @include small-screen {
      padding-right: 0;
    }
  }

  .filter-wrapper {
  }

  .paragraph {
    color: $cheq-white;
    @include marginY(size(24), size(32));
    max-width: size(366);
    @include min-medium-screen {
      max-width: 55%;
      @include marginY(size(48));
    }
    @include large-screen {
      max-width: size(490);
    }
  }


  .tabs {
    border: 2px solid $cheq-purple;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: size(40);
    margin-bottom: size(32);
    overflow: auto;

    ::-webkit-scrollbar {
      display: none !important;

    }

    @include small-screen {
      border-right: none;
      border-radius: 5px 0 0 5px;
    }

    .headline-5 {
      height: 100%;
      @include paddingX(size(16));
      cursor: pointer;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: size(0.04);
      flex-shrink: 0;
      transition: width $duration;
      text-transform: uppercase;

      &:after {
        content: "";
        @include square(100%);
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
        border-radius: size(4);
        z-index: -1;
        opacity: 0;
        transition: opacity $duration;
      }

      &.active {
        //width: size(167);

        &:after {
          opacity: 1;
        }
      }
    }

    @include min-medium-screen {
      margin-bottom: size(48);
      max-width: fit-content;

    }
  }


  .row {
    padding-right: size(24);
    @include change-gutter(false, size(24));
    @include min-medium-screen {
      @include change-gutter(size(24), size(24));
      padding-right: 0;
    }
    @include large-screen {
      @include change-gutter(size(40), size(48));
    }
  }

  .wrapper {
    min-height: size(600);

  }

  .jop-cards {
    background: linear-gradient(44.83deg, #8f5cf5 0%, #6633fe 100%);
    border-radius: 24px;
    min-height: size(232);
    @include paddingX(size(24), size(34));
    @include paddingY(size(24));
    display: flex;
    flex-direction: column;
    height: 100%;


    .title-and-arrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


    .headline-4 {
      font-weight: 700;
    }

    .arrow {
      flex-shrink: 0;
    }

    .headline-3 {
      font-size: size(32);
      line-height: size(40);
      @include marginY(size(24));
    }

    .headline-5 {
      font-size: size(14);
      font-weight: 700;
      margin-top: auto;
    }
  }

  .text {
    text-transform: uppercase;
    letter-spacing: size(0.04);
    margin-top: size(24);
    background: $cheq-gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    display: block;
    @include min-medium-screen {
      margin-top: size(48);
    }
  }


  &:after, &:before {
    content: '';
    position: absolute;
    @include square(size(640));
    border-radius: 50%;
    z-index: -1;
    background: $cheq-purple;
    filter: blur(size(200));
    display: none;
    @include large-screen {
      display: flex;
      @include square(size(640));
      width: size(640);
      height: size(425);
    }
  }

  &:after {
    left: 0;
    top: 0;
  }

  &:before {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .load-more-wrapper {
    margin-top: size(24);
    @include min-medium-screen {
      margin-top: size(48);
    }
  }

  .job-item {
    transition: transform 500ms, opacity 500ms;
    transform-origin: center;

    &.animate-hide {
      transform: scale(0);
      opacity: 0;
    }

    &.animation-done {
      height: 0;
      padding: 0;
      flex: 0 0 0;
      width: 0;
    }
  }
}
