@import "src/styles/variables";
@import "src/styles/mixins";

.title_and_two_cards_block {
  background-color: $cheq-white-purple;
  padding-top: size(60);
  @include min-medium-screen {
    @include paddingY(size(60), size(100));
  }
  @include large-screen {
    @include paddingY(size(120), size(160));
  }

  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }

  .main-title {
    @include small-screen {
      @include paddingX(size(24));
    }
    margin-bottom: size(60);
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  .card {
    background-color: $cheq-dark-purple;
    @include flexBasis(100%);
    @include paddingY(size(40), size(84));
    @include paddingX(size(7));
    @include min-medium-screen {
      @include flexBasis(50%);
      flex-shrink: 0;
      padding: size(64) size(40) size(40);
    }


    .aspect-ratio {
      padding-top: 91.43%;
    }

    .headline-1 {
      margin-bottom: size(8);
      @include min-medium-screen {
        margin-bottom: size(16);
      }

    }

    .headline-2 {
      color: $cheq-white;
      margin-bottom: size(8);
      @include min-medium-screen {
        margin-bottom: size(16);
      }
    }

    .paragraph {
      @include small-screen {
        max-width: size(366);
      }
    }


    .content {
      margin-top: size(46);
      @include small-screen {
        @include paddingX(size(17));
      }
      @include large-screen {
        margin-top: size(64);
      }
    }
  }
}
