@import "src/styles/variables";
@import "src/styles/mixins";

.featured_on_block {
  background-color: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen {
    @include paddingY(size(90));
  }
  @include large-screen {
    @include paddingY(size(120), size(200));
  }

  .headline-1 {
    margin-bottom: size(24);
  }

  .headline-3 {
    margin-bottom: size(60);
    color: $cheq-dark;
    @include large-screen {
      max-width: size(880);
      margin-bottom: size(80);
    }
  }

  .logos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include marginY(size(-16));
    @include marginX(auto);
    max-width: 100% !important;
    width: 100% !important;
    @include min-medium-screen {
      max-width: size(1248);
      margin: size(-40);
    }
  }


  .logo {
    flex-basis: auto !important;
    width: auto !important;
    margin: size(16) !important;
    @include min-medium-screen {
      margin: size(40) !important;
    }
  }

  a {
    @include square(size(88));
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    @include min-medium-screen {
      @include square(size(128));
    }
  }

  picture {
    @include square(size(88));
    border-radius: 50%;
    overflow: hidden;
    @include min-medium-screen {
      @include square(size(128));
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }
}
