@import "src/styles/variables";
@import "src/styles/mixins";

.global_traffic_block {
  background: $cheq-white-purple;
  @include paddingY(size(80), size(40));
  @include large-screen {
    @include paddingY($m-120);
  }

  .container {
    @include large-screen {
      padding-right: $m-80;
    }
  }

  .global-traffic-content {
    display: flex;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
    }
  }

  .text-content {
    @include flexBasis(100%);
    z-index: 2;
    @include min-medium-screen {
      @include flexBasis(65%);
    }
    @include large-screen {
      @include flexBasis(34.55%);
      margin-top: $m-80;
    }
  }

  .headline-1, .paragraph {
    margin-bottom: $m-24;
    @include large-screen {
      margin-bottom: $m-48;
    }
  }

  .paragraph {
    strong{
      font-weight: 800;
    }
  }

  .traffic-map {
    @include flexBasis(64.72%);
  }

  .big-img {
    margin-left: size(-330);
    width: size(1024);
    filter: drop-shadow(3px 16px 23px #b6b1d7);
    @include min-medium-screen {
      margin-left: size(-104);
    }
  }

}
