@import "src/styles/variables";
@import "src/styles/mixins";

.why_join_cheq_block {
  background-color: $cheq-white-purple;
  @include paddingY(size(60), size(80));
  @include min-medium-screen{
    @include paddingY(size(100), size(80));
  }
  @include large-screen {
    @include paddingY(size(120));
  }

  .why-join-cheq-wrapper {
    @include min-medium-screen {
      max-width: size(770);
    }
    @include large-screen {
      max-width: size(970);
    }
  }

  .paragraph {
    @include marginY(size(24), size(32));
    @include min-medium-screen {
      @include marginY(size(48));
    }
  }

  .faq {
    &:not(:last-child) {
      margin-bottom: size(24);
    }

    &.active {
      .head {
        .headline-4 {
          color: rgba(0, 0, 0, 0);

        }

        .arrow-right {
          transform: rotate(0);

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  .head {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    @include small-screen {
      width: 100%;
      justify-content: space-between;
    }
  }

  .headline-4 {
    color: $cheq-dark;
    background-size: 500% 500%;
    animation: rainbow 2s ease-in-out infinite;
    transition: color 0.2s ease-in-out;
    background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .arrow-right {
    width: size(16);
    height: size(10);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: $cheq-dark;
    margin-left: size(19);
    transform: rotate(90deg);
    position: relative;
    overflow: hidden;
    transition: transform $duration;


    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      opacity: 0;
      transition: opacity $duration;
    }
  }

  .body {
    height: 0;
    overflow: hidden;
    margin: 0;
    position: relative;

  }

  .spacer-top, .spacer-bottom {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    height: size(24);
  }

  .spacer-bottom {
    height: size(7);
    @include min-medium-screen {
      height: size(24);
    }
  }

  .headline-2 {
    font-size: size(32);
    line-height: size(40);
    margin-bottom: size(24);
    @include large-screen {
      font-size: size(40);
      line-height: size(48);
    }
  }
}
