@import "src/styles/variables";
@import "src/styles/mixins";

footer {
  background: $cheq-dark-purple;
  @include paddingY(size(60), size(90));
  @include min-medium-screen {
    @include paddingY(size(80), size(90));
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    @include min-medium-screen {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: size(-40);
    }

  }

  .headline-3 {
    background: -webkit-linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: size(24);

  }

  .title-and-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: size(40);
    }

    @include min-medium-screen {
      @include flexBasis(34%);
      max-width: fit-content;
      align-items: flex-start;
      margin-bottom: size(40);
      &:not(:last-child) {
        margin-right: size(120);
      }
    }

    .footer-links-content {
      display: flex;
      flex-direction: column;
    }

    .link {
      background-size: 500% 500%;
      animation: rainbow 2s ease-in-out infinite;
      transition: color 0.2s ease-in-out;
      background: linear-gradient(90deg, #9925cf 0%, #fd0173 100%);
      background-clip: text;
      -webkit-background-clip: text;
      width: fit-content;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: size(16);
        @include large-screen {
          margin-bottom: size(24);
        }
      }


      &:hover {
        color: rgba(0, 0, 0, 0);
      }

    }
  }

  .trusts {
    display: flex;
    flex-wrap: wrap;
    margin: size(-14);
  }

  .image-and-text {
    display: flex;
    flex-direction: column;
    margin: size(14);

  }

  .image-link-hover {
    border-radius: 50%;
    overflow: hidden;
    @include square(size(88));
    margin-bottom: size(16);

  }

  picture {
    @include square(size(88));
    margin-bottom: size(16);
    border-radius: 50%;
    overflow: hidden;

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .text {
    font-weight: 400;
    font-size: size(16);
    line-height: size(24);
    color: $cheq-white;

  }

  .title-and-input {
    @include marginY(size(60));
  }

  .input-and-button {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }


    .btn {
      padding: size(16) size(27);

    }
  }
}
