@import "src/styles/variables";
@import "src/styles/mixins";

.cheq_for_marketing_leaders {
  background: $cheq-dark;
  @include paddingY(size(60), size(80));

  @include min-medium-screen {
    @include paddingY(size(120), size(160));
  }


  .headline-3 {
    margin-bottom: size(6);
  }

  .headline-1 {
    background: unset;
    color: $cheq-white;
    -webkit-text-fill-color: $cheq-white;
    margin-bottom: size(24);
    @include large-screen {
      margin-bottom: size(48);
    }
  }

  .paragraph {
    color: $cheq-white;
    margin-bottom: size(24);
    @include large-screen {
      margin-bottom: size(48);
    }

    strong {
      font-weight: 800;
    }

  }

  .btn {
    padding: size(16) size(27.04);
  }

  &.light{
    background-color: $cheq-white-purple;

    .headline-1 {
      color: $cheq-dark;
      -webkit-text-fill-color: $cheq-dark;

    }


    .paragraph {
      color: $cheq-dark;
    }



  }
}
