@import "src/styles/variables";
@import "src/styles/mixins";

.hero_block {
  background-color: $cheq-white;
  @include paddingY(size(24), size(30));
  @include min-medium-screen {
    @include paddingY(size(120), size(60));
  }
  @include large-screen {
    @include paddingY(size(200), size(60));
  }

  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .left-content {
    @include large-screen {
      max-width: size(890);
    }
  }

  .headline-1 {
    margin-bottom: size(24);

    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }

  .headline-3 {
    color: $cheq-dark;
    margin-bottom: size(24);

    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }


  .contact-demo {
    margin-top: size(24);
    @include min-medium-screen {
      margin-top: size(48);
      max-width: size(480);
    }

    .headline-4 {
      color: $cheq-dark;
      margin-bottom: size(16);
      @include small-screen {
        font-size: size(16);
        line-height: size(24);
      }
      @include min-medium-screen {
        margin-bottom: size(32);
      }
    }

    .email-input {
      margin-right: 0;
      border-bottom: 1px solid $cheq-dark;
      padding-bottom: size(14);
      color: rgba(17, 18, 34, 0.4);
      margin-bottom: size(24);
      font-size: size(16);
      font-weight: 400;
      @include min-medium-screen {
        margin-bottom: size(48);
      }

      &::placeholder {
        color: rgba(17, 18, 34, 0.4);
        font-size: size(16);
        font-weight: 400;
      }
    }

    .btn {
      padding: size(16) size(27.4);
    }


  }

  .logos {
    margin-top: size(24);
    @include flexBasis(100%);
    @include min-medium-screen {
      margin-top: size(48);
    }


    margin-bottom: size(-32);

    .headline-4 {
      margin-bottom: size(24);
      font-size: size(24);
      line-height: size(32);
      @include min-medium-screen {
        margin-bottom: size(48);
      }
    }

    @include min-medium-screen {
      margin-bottom: size(40);
    }

    .logos-wrapper {
      @include marginX(unset);
    }
  }

  .right-content {
    display: none;
  }

  &.dark {
    background-color: $cheq-dark;

    .paragraph {
      color: $cheq-white;
    }

    .headline-3 {
      color: $cheq-white;
    }

    .headline-4 {
      color: $cheq-white;
    }

    .email-input {
      color: rgba(255, 255, 255, 0.4);
      border-color: $cheq-white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }

  }

  &.has-image {

    .container {
      padding-right: 0;
    }

    .headline-3 {
      display: none;
    }

    .hero-wrapper {
      flex-direction: column;
      align-items: flex-end;
      @include large-screen {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .left-content {
      @include flexBasis(100%);
      padding-right: size(24);
      flex-shrink: 0;
      @include large-screen {
        @include flexBasis(43%);
        padding-right: 0;
      }
    }

    .headline-1 {
      margin-bottom: size(24);
      @include small-screen {
        max-width: size(248);
      }
      @include min-medium-screen {
        margin-bottom: size(48);
      }
      @include large-screen {
        max-width: size(436);
      }

    }

    .paragraph {
      margin-bottom: size(24);
      max-width: size(366);

      @include min-medium-screen {
        margin-bottom: size(48);
        max-width: size(650)
      }
      @include large-screen {
        max-width: size(680);
      }
    }


    .logos {
      display: flex;
      flex-direction: column;
      @include flexBasis(100%);
      padding-right: size(24);
      order: 1;
      @include min-medium-screen {
        padding-right: size(80);
      }
      @include large-screen {
        padding-right: size(200);
        order: 0;
      }

    }

    .right-content {
      display: flex;
      margin-left: auto;
      @include flexBasis(90%);
      flex-shrink: 0;
      margin-top: size(90);
      order: 2;
      @include large-screen {
        margin-top: 0;
        margin-left: 0;
        @include flexBasis(57%);
        order: 0;
        padding-left: size(30);
      }

      picture {
        padding-top: 74.28%;
        @include square(100%);

        img {
          @include square(100%);
          object-fit: cover;
        }
      }
    }
  }

}
