@import "src/styles/variables";
@import "src/styles/mixins";

.platform_hero  {
  background: $cheq-white;
  @include paddingY(size(24), size(80));

  @include min-medium-screen {
    @include paddingY(size(120));
  }

  @include large-screen {
    @include paddingY(size(200));
  }

  .container {
    padding-right: 0;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include large-screen {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .left-content {
    @include flexBasis(100%);
    padding-right: size(24);
    flex-shrink: 0;
    margin-bottom: size(60);
    @include large-screen {
      @include flexBasis(43.244%);
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  .headline-1 {
    margin-bottom: size(24);
    @include small-screen {
      max-width: size(246);
    }
    @include min-medium-screen {
      margin-bottom: size(48);
    }
    @include large-screen {
      max-width: size(436);
    }

  }

  .paragraph {
    margin-bottom: size(24);
    max-width: size(366);

    @include min-medium-screen {
      margin-bottom: size(48);
      max-width: size(650)
    }
    @include large-screen {
      max-width: size(580);
    }
  }


  //
  //.headline-4 {
  //  color: $cheq-dark;
  //  margin-bottom: size(16);
  //  @include small-screen {
  //    font-size: size(16);
  //    line-height: size(24);
  //  }
  //  @include min-medium-screen {
  //    margin-bottom: size(32);
  //  }
  //}
  //
  //.email-input {
  //  margin-right: 0;
  //  border-bottom: 1px solid $cheq-dark;
  //  padding-bottom: size(14);
  //  color: rgba(17, 18, 34, 0.4);
  //  margin-bottom: size(24);
  //  font-size: size(16);
  //  font-weight: 400;
  //  @include min-medium-screen {
  //    margin-bottom: size(48);
  //  }
  //
  //  &::placeholder {
  //    color: rgba(17, 18, 34, 0.4);
  //    font-size: size(16);
  //    font-weight: 400;
  //  }
  //}
  //
  //.btn {
  //  padding: size(16) size(27.4);
  //}
  //
  //

  .right-content {
    margin-left: auto;
    @include flexBasis(90%);
    flex-shrink: 0;
    @include large-screen {
      margin-left: 0;
      @include flexBasis(56.76%);
    }


    picture {
      padding-top: 74.28%;
      @include square(100%);

      img {
        @include square(100%);
        object-fit: cover;
      }
    }
  }


  .logos {
    display: none;
  }

  &.cas-hero {
    background-color: $cheq-dark-purple;

    .container {
      @include paddingX($m-24);
      @include min-medium-screen {
        @include paddingX($m-80);
      }
      @include large-screen {
        @include paddingX($m-200);
      }
    }

    .left-content {
      @include flexBasis(100%);
      margin-bottom: 0;
      padding-right: 0;
    }

    .headline-1 {
      max-width: size(850);
    }

    .paragraph {
      @include font(size(24), 800, size(32), $cheq-white);
      @include min-medium-screen {
        font-size: size(32);
        line-height: size(40);
        max-width: size(980);
      }
    }

    .headline-3 {
      color: $cheq-white;
    }

    .headline-4 {
      color: $cheq-white;
    }

    .email-input {
      color: rgba(255, 255, 255, 0.4);
      border-color: $cheq-white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    .logos {
      .headline-4 {
        margin-bottom: size(24);
        font-size: size(24);
        line-height: size(32);
        @include min-medium-screen {
          margin-bottom: size(48);
        }
      }

      margin-bottom: -$m-32;
      display: block;
      @include min-medium-screen {
        margin-bottom: -$m-40;
      }

      .logos-wrapper {
        @include marginX(unset);
      }
    }

    .btn {
      margin-bottom: size(24);
      @include min-medium-screen {
        margin-bottom: size(48);
      }
    }

    .right-content {
      display: none;
    }
  }
}
